// Colors
// --------
// Add any changes to this to the mdb _colors.scss colors map
$sentry-dark-blue: #003DA5;
$sentry-blue: #00A3E0;
$sentry-dark-green: #005844;
$sentry-green: #84BD00;
$sentry-dark-orange: #683431;
$sentry-orange: #E57200;
$sentry-dark-plum: #72246C;
$sentry-plum: #BB85AB;
$sentry-dark-gold: #74531C;
$sentry-gold: #EAAA00;
$sentry-dark-blue-gray: #285780;
$sentry-blue-gray: #89ABE3;
$sentry-dark-gray: #53565A;
$sentry-gray: #9E9FA1;
$sentry-white: #fff;

$sentry-blue-tint-20: #CCEDF9;
$sentry-blue-tint-10: #E6F6FC;
$sentry-blue-tint-5: #F2FAFD;

$sentry-gray-tint-20: #DDDDDD;
$sentry-gray-tint-10: #EEEEEE;
$sentry-gray-tint-5: #F6F7F7;

$sentry-success: #2F7D00;
$sentry-warning: #E57200;
$sentry-danger: #B3140B;
$sentry-info: $sentry-blue-gray;

// List of all colors so we can generate color classes
$sentry-colors: (
    "sentry-dark-blue": $sentry-dark-blue,
    "sentry-blue": $sentry-blue,
    "sentry-dark-green": $sentry-dark-green,
    "sentry-green": $sentry-green,
    "sentry-dark-orange": $sentry-dark-orange,
    "sentry-orange": $sentry-orange,
    "sentry-dark-plum": $sentry-dark-plum,
    "sentry-plum": $sentry-plum,
    "sentry-dark-gold": $sentry-dark-gold,
    "sentry-gold": $sentry-gold,
    "sentry-dark-blue-gray": $sentry-dark-blue-gray,
    "sentry-blue-gray": $sentry-blue-gray,
    "sentry-dark-gray": $sentry-dark-gray,
    "sentry-gray": $sentry-gray,
    "sentry-white": $sentry-white,
    "sentry-blue-tint-20": $sentry-blue-tint-20,
    "sentry-blue-tint-10": $sentry-blue-tint-10,
    "sentry-blue-tint-5": $sentry-blue-tint-5,
    "sentry-gray-tint-20": $sentry-gray-tint-20,
    "sentry-gray-tint-10": $sentry-gray-tint-10,
    "sentry-gray-tint-5": $sentry-gray-tint-5
);

$font-path: "/fonts/";

$font-family-sans-serif: "KievitWeb W03", "Lucida Sans", sans-serif;
$font-family-serif: "KievitSlabWeb W03", "Lucida Sans", serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;


// Override Bootstrap variables
$primary: $sentry-blue;
$secondary: $sentry-dark-blue;
$success: $sentry-success;
$info: $sentry-info;
$warning: $sentry-warning;
$danger: $sentry-danger;

$pagination-hover-color: $sentry-dark-blue;
$pagination-hover-bg: $sentry-blue-tint-20;

$breadcrumb-bg: rgba(255,255,255,0);
$breadcrumb-divider: "\3009";

$popover-header-bg: $sentry-white;
$popover-header-color: $sentry-dark-blue;

$modal-header-border-width: 0;
$modal-footer-border-width: 0;

$pagination-active-bg: rgba(255,255,255,0);
$pagination-active-color: $sentry-dark-blue;

$navbar-padding-y: 2px;
$navbar-padding-x: 30px;

$list-group-active-bg: $sentry-dark-blue;

$table-accent-bg: $sentry-blue-tint-5;
$table-hover-bg: $sentry-blue-tint-20;
$table-active-bg: $sentry-blue-tint-20;

// Override MDB variables
$primary-color: $sentry-blue;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: $sentry-dark-blue;

$secondary-color: $sentry-blue;
$error-color: $sentry-danger;
$default-color: $primary-color-dark;
$success-color: $sentry-success;
$info-color: $sentry-info;
$warning-color: $sentry-warning;
$danger-color: $sentry-danger;

$radio-fill-color: $sentry-blue;

$datepicker-date-bg: $sentry-dark-blue;

$switch-bg-color: $sentry-dark-blue;
$switch-checked-lever-bg: $sentry-blue;

$link-color: $sentry-dark-blue;
$link-hover-color: $sentry-blue;

$input-success-color: $success-color;