
<div id="partialViewCompletedFiles">
    <h1>More Details about Completed Files</h1>
    <p>Does the number of completed files seem to be correct</p>
    <button class="GoBackButton" id="partialCompletedButton">Go Back</button>

</div>
