@model DatasetSelectionModel
@{
    ViewBag.Title = "_AdminTest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Data Flow Metrics</h1>
<div class="d-inline-block">
    <!-- Data Set Dropdown Menu-->
    <h3>Datasets</h3>
    @Html.DropDownListFor(m => m.AllDatasets,
                          new SelectList(Model.AllDatasets, "Value", "Text"),
                          "Please select Dataset",
                          new
                          {
                              @class = "admin-logs-dropdown",
                              @style = "display: none",
                              @searchable = "Search Available Datasets"
                          })
</div>
<!-- Schema Dropdown Menu-->
<div class="d-inline-block">
    <h3>Schema</h3>
    <select class="mbd-select admin-logs-dropdown" id="schemaDropdown" style="display:none" searchable="Search Available Schema">
        <option value="-1" id="defaultSchemaSelection">Please Select a Schema</option>
        <!--populated asyncronously via ajax-->
    </select>
</div>
<div class="d-inline-block">
    <h3>Data Files</h3>
    <select class="mbd-select admin-logs-dropdown" id="fileDropdown" style="display:none" searchable="Search Available Files">
        <option value="-1">(Optional) Select a File</option>
    </select>
</div>
<button type="button" class="btn btn-primary waves-effect waves-light d-inline-block" id="submitButton" disabled>Submit</button>
<!--Partial View Area for the Accordion, not currently in use-->
<div id="accordion-view-area">

</div>
<!--Data table to fill-->
<div id="table-view-area">
    <table class="table table-striped table-bordered table-hover" id="metricGroupsTable" summary="Table to be filled with elastic search result for data flow metrics. Each file row can be expanded to reveal its associated events.">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"> File Name</th>
                <th scope="col"> First Event Time</th>
                <th scope="col"> Last Event Time</th>
                <th scope="col"> Duration</th>
                <th scope="col"> Status</th>
            </tr>
        </thead>
    </table>
</div>
<!--Event contents modal-->
<div class="modal fade" tabindex="-1" id="EventContentModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Event Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="EventDetails">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        data.Admin.DataFlowMetricsInit();
    });
</script>

