<div id="partialViewFailedFiles">
    <h1>More Details on Failed Files</h1>
    <p>Check if the number of failed files seems legit</p>
    <button class="GoBackButton" id="partialFailedButton">Go Back</button>
</div>
