@model FailedFilesDetailsModel
<div id="partialViewFailedFiles">
    <h1>More Details on Failed Files</h1>
    <p>Check if the number of failed files seems legit</p>
    <button class="GoBackButton" id="partialFailedButton">Go Back</button>

    <table>
        <tr>
            <th>Dataset</th>
            <th>FileCount</th>
            <th>Schema</th>
        </tr>
        <tr>
            <td>@Model.Dataset</td>
            <td>@Model.FileCount</td>
            <td>@Model.Schema</td>
        </tr>
    </table>
</div>
