
@model DatasetSelectionModel
@{
    ViewBag.Title = "_AdminTest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="d-inline-block">
    <h1>Reprocess Data Files</h1>
    <!-- Data Set Dropdown Menu-->
    <h3>Datasets</h3>
    @Html.DropDownListFor(m => m.AllDatasets,
                          new SelectList(Model.AllDatasets, "Value", "Text"),
                          "Please select Dataset",
                          new
                          {
                              @class = "admin-reprocess-dropdown",
                              @style = "display: none",
                              @searchable = "Search Available Datasets"
                          })

</div>
<!-- Schema Dropdown Menu-->
<div class="d-inline-block">
    <h3>Schema</h3>
    <select class="mbd-select admin-reprocess-dropdown" id="schemaDropdown" style="display: none" data-stop-refresh="true">
        <option value="-1">Please Select a Schema</option>
        <!--populated asyncronously via ajax-->
    </select>
</div>
<!-- Flow Steps Dropdown Menu-->
<div class="d-inline-block">
    <h3>Flow Steps</h3>
    <select class="mbd-select admin-reprocess-dropdown" id="flowStepsDropdown" style="display: none" data-stop-refresh="true">
        <option value="-1">Please Select a Flow Step</option>
    </select>
</div>

<br />
<br />
<br />

<!--Table-->
<table id="results" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>File ID</th>
            <th>File Name</th>
            <th>Upload User Name</th>
            <th>Initial Upload Date</th>
            <th>Modified Date</th>
            <th>File Location</th>
            <!-- Replace last th with below and uncomment #selectAll event handler in admin.js to activate select all functionality-->
            <!--<input type="checkbox" id="selectAll" class="form-check-input"><label for="selectAll" class="form-check-label">Select Files</label>-->
            <th>Select Files</th>
        </tr>
    </thead>
</table>
<!--Reprocess button-->
<button type="button" class="btn btn-primary waves-effect waves-light" id="reprocessButton" disabled>Reprocess Selected</button>

    <script>
        $(function () {
            data.Admin.ReprocessInit();
        });



    </script>



