@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Fluid = true;
}

<!DOCTYPE html>

<script>
    $(document).ready(function ()
    {
        data.Admin.AdminHomePageInit();
    })
</script>

<html>
<body>
    <div id="dashboard">
    
        <div>
            <h1>Welcome to the Admin Page</h1>
        </div>
        <div class="processingActivityDiv">
            <h3>Processing Activity</h3>
            <br />
            <div class="ml-0 row">
                <div class="column card-result-layout-0">
                    <a data-nav-id="datafilereprocessing" class="side-nav-links" href="@Url.Action("ProcessActivityResults", "Admin", new { selectedPage = "TotalInFlightFiles" })">
                        <div id="in-flight-file" class="process-activity-cards card card-hover m-1">
                            <div class="progress md-progress bg-primary mb-0">
                                <div class="indeterminate"></div>
                            </div>
                            <div class="card-body bg-primary bg-gradient position-relative">
                                <h2 class="text-right text-bold text-white pt-3 mb-0">LOADING</h2>
                                <h6 class="text-right text-white font-italic pb-3 pt-0 mb-0">In Flight Files</h6>
                                <i class="fa-solid fa-plane-departure" style="color: #ffffff;"></i>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="column card-result-layout-0">
                    <a data-nav-id="datafilereprocessing" class="side-nav-links" href="@Url.Action("ProcessActivityResults", "Admin", new { selectedPage = "TotalFiles" })">
                        <div id="total-file" class="process-activity-cards card card-hover m-1">
                            <div class="progress md-progress bg-success mb-0">
                                <div class="indeterminate"></div>
                            </div>
                            <div class="card-body bg-success bg-gradient position-relative">
                                <h2 class="text-right text-bold text-white pt-3 mb-0">LOADING</h2>
                                <h6 class="text-right text-white font-italic pb-3 pt-0 mb-0">Completed Files</h6>
                                <i class="fa-regular fa-file" style="color: #ffffff;"></i>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="column card-result-layout-0">
                    <a data-nav-id="datafilereprocessing" class="side-nav-links" href="@Url.Action("ProcessActivityResults", "Admin", new { selectedPage = "TotalFailedFiles" })">
                        <div id="failed-file" class="process-activity-cards card card-hover m-1">
                            <div class="progress md-progress bg-danger mb-0">
                                <div class="indeterminate"></div>
                            </div>
                            <div class="card-body bg-danger bg-gradient position-relative">
                                <h2 class="text-right text-bold text-white pt-3 mb-0">LOADING</h2>
                                <h6 class="text-right text-white font-italic pb-3 pt-0 mb-0">File Failures</h6>
                                <i class="fa-regular fa-file-excel" style="color: #ffffff;"></i>
                            </div>
                        </div>
                    </a>
                </div>



            </div>
        </div>
    </div>
</body>
</html>