@{
    ViewBag.Title = "Admin";
    Layout = Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Fluid = true;
}

<!DOCTYPE html>

<html>
<body><h1>Welcome to the Admin Page!</h1></body>
</html>
