@{
    ViewBag.Title = "Admin";
    Layout = Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Fluid = true;
}

<!DOCTYPE html>

<html>
    <body>
        <h1>Welcome to the Admin Page</h1>
        <h3>Do whatever with this page DSC team</h3>
    </body>
</html>

<style>
    #outerDiv{
        width: 80%;
    }
</style>