@model AdminElasticFileModel
@{
    ViewBag.Title = "Admin";
    Layout = Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Fluid = true;
}

<!DOCTYPE html>

<html>
<body>
    <div>

        <div>
            <h1>Welcome to the Admin Page</h1>
        </div>
        <div class="processingActivityDiv">
            <h3>Processing Activity</h3>
            <br />
            <div class="row">
                <div class="column">
                    <div class="container">
                        <h5>Total Files Today</h5>
                        <strong class="num_style">@Model.CompletedFiles</strong>
                    </div>

                </div>
                <div class="column">
                    <div class="container">
                        <h5>Files In-Flight</h5>
                        <strong class="num_style">@Model.InFlightFiles</strong>

                    </div>

                </div>
                <div class="column">
                    <div class="container">
                        <h5>File Failures</h5>
                        <strong class="failure_style">@Model.FailedFiles</strong>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>

<style>
    .column {
        text-align: center; 
        width: 20%;
        border: 5px double lightgray;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .failure_style {
        color: red;
        font-size: 45px;
    }

    .num_style {
        font-size: 45px;
    }

    .container {
        width: 200px;
    }

    .processingActivityDiv {
        padding: 40px;
        width: 90%;
        right: auto;
        padding-right: 25px;
    }
</style>