@{
    ViewBag.Title = "Admin";
    Layout = Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Fluid = true;
}

<!DOCTYPE html>

<html>
    <body>
        <div>
            
            <div>
                <h1>Welcome to the Admin Page</h1>
            </div>
            <div class="processingActivityDiv">
                <h3>Processing Activity</h3>
                <div class="row">
                    <div class="column">
                        <div class="container">
                            Total Files Today<br />
                            <strong class="num_style">1,051</strong><br />
                            Click for Details
                        </div>
                        
                    </div>
                    <div class="column">
                        <div class="container">
                            Files In-Flight<br />
                            <string class="num_style">306</string><br />
                            Click for Details
                        </div>
                        
                    </div>
                    <div class="column">
                        <div class="container">
                            File Failures<br />
                            <strong class="failure_style">2</strong><br />
                            Click for Details
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>

<style>
    .column{
        text-align: center;
        width: 20%;
        
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .failure_style {
        color: red;
        font-size: 45px;
    }

    .num_style{
        font-size: 45px;
    }

    .container{
        border: 2px solid lightgray;
        float:right;
        width: 200px;
    }

    .processingActivityDiv {
        border: 2px solid lightgray;
        padding: 25px;
        width: 90%;
        right: auto;
        padding-right: 25px;
    }

</style>