
@model Dictionary<string, string>
@{
    ViewBag.Title = "Admin";
    ViewBag.Fluid = true;
}


<div class="row">
    <div class="card form-wrapper col-lg-2 side-nav-wrapper" id="sideNav">
        <div class="card-body">
            <h2 class="card-title">Admin Page</h2>

            @foreach (var key in Model.Keys)
            {
                <a href="#" data-url='@Url.Action("GetAdminAction", "Admin", new { viewId = key })' class="load-partial-view"><h4>@Model[key]</h4></a>

            }
        </div>
    </div>
    <div class="col-lg-10">
        <div id="partial-view-test">

            <h1 id="titleLinks">My Links</h1>
            <a href="#!" class="list-group-item list-group-item-action">Link One</a>
            <a href="#!" class="list-group-item list-group-item-action">Link Two</a>
            <a href="#!" class="list-group-item list-group-item-action">Link Three</a>
            <a href="#!" class="list-group-item list-group-item-action">Link Four</a>
            <a href="#!" class="list-group-item list-group-item-action">Link Five</a>
            <a href="#!" class="list-group-item list-group-item-action">Link Six</a>
            
            <button type="button" id="toggleBtn">Add</button>
            <button type="button">Delete</button> 

            <div id="toggleDiv">
                <h3>Add Information</h3>
                <input placeholder="Name"/>
                <input placeholder="Description"/>
                <input placeholder="Url"/>
                <button type="button">Add Link</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dataTables")
    @Styles.Render("~/bundles/css/dataTables")
    <script>
        $(function () {
            data.Admin.AdminPageInit();
        });

        $(function () {
            $("#toggleBtn").click(function () {
                $("#toggleDiv").toggle();
            });
        });

    </script>
}

<style>
    #toggleDiv{
        display: block;
    }
</style>