@model ReprocessDeadSparkJobModel
@{
    ViewBag.Title = "_AdminTest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    $(document).ready(function ()
    {
        data.Admin.SideBarUtility();
        data.Admin.RetrieveDeadSparkJobListButton();
    });
</script>

<!--Page Header-->
<div class="d-inline-block">
    <h1>Reprocess Dead Spark Jobs</h1>
    <input type="checkbox">
    <div class="form-inline">

        <div id="dead-job-start-filter" class="md-form mr-3">
            <p class="mb-0 font-weight-bold text-muted">Start Date</p>
            @Html.TextBoxFor(x => x.DefaultDateTime, "{0:yyyy-MM-ddTHH:mm:ss}", new
            {
                @class = "form-control datetime-picker",
                required = "required",
                @type = "datetime-local"
            })
        </div>
        

        <div id="dead-job-end-filter" class="md-form">
            <p class="mb-0 ml-4 font-weight-bold text-muted">&nbsp;&nbsp;&nbsp;End Date</p>
            <p class="d-inline mr-3">To</p>
            @Html.TextBoxFor(x => x.DefaultDateTime, "{0:yyyy-MM-ddTHH:mm:ss}", new
            {
                @class = "form-control datetime-picker",
                required = "required",
                @type = "datetime-local"
            })
            <button data-toggle="tooltip" data-placement="top" title="Remove End Date Filter" id="close-end-filter" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="ml-3 mr-3"><i id="add-end-filter" data-toggle="tooltip" data-placement="top" title="Add End Date Filter" type="button" class="icon-plus"></i></div>
        <button id="timeCheck" class="ml-3 mr-3 btn btn-primary mb-2">Check for Dead Jobs</button>
    </div>
</div>

<br />
<br />
<br />

<!-- Spinner -->
<div class="text-center" id="tab-spinner">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle">
                </div>
            </div>

        </div>
    </div>
</div>

<!--Table-->
<div id="deadJobTable"></div>