
@model SupportLinkWrapper
@{
    ViewBag.Title = "_AdminTest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="linkList">
        <h1>My Links</h1>
        <br />
        <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#AddLinkModal" id="addLinkButton">
            Add Link
        </button>

        <div class="modal fade" id="AddLinkModal" tabindex="-1" aria-labelledby="AddLinkModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddLinkeModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card form-wrapper" id="toggleDiv">
                        <div class="card-body">

                            <h3 class="card-title">Add Support Link</h3>

                            <div class="md-form">

                                <input type="text" id="name" class="form-control" required />
                                <label for="name" class="">Enter Link Name</label>

                            </div>
                            <div class="md-form">

                                <label for="description" class="">Enter Description For Link</label>
                                <input type="text" id="description" class="form-control" />

                            </div>
                            <div class="bs-component">


                                <label for="url">Enter an https:// URL:</label>
                                <input type="url" id="url" class="form-control" placeholder="https://example.com" required />

                            </div>
   
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="ModalCloseButton" class="btn btn-primary waves-effect waves-light">Close</button>
                    <button type="button" id="LinkSubmitButton" class="btn btn-primary waves-effect waves-light">Submit</button>
                </div>
            </div>
        </div>
    </div>
            
    <div class="list-group">
        @foreach (@Sentry.data.Web.SupportLinkModel supportLinkModel in Model.AllSupportLinks)
        {
            <div id="link" class="list-group-item">
                <em id="delete-icon" data-supportLinkId=@supportLinkModel.SupportLinkId class="fas fa-trash" style="cursor: pointer; color: red"></em>
                <a href="@supportLinkModel.Url" target="_blank" style="padding-left: 60px">@supportLinkModel.Name</a>
            </div>

        }
    </div> <br />       
</div>

<style>
    #linkList{
        width: 80%;
        margin: auto;
    }
</style>

<script>
    $(function () {
        data.Admin.SupportLinkInit();
    });

</script>