
@model SupportLinkWrapper
@{
    ViewBag.Title = "_AdminTest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    
    <div class="container-fluid dt-bhootstrap4 no-footer">
        <br />
        <div class="row LinksRow">
            <div class="col-sm-12 col-md-6">
                <h1>My Links</h1>
            </div>
            <div class="col-sm-12 col-md-6">
                <button type="button" class="btn btn-primary waves-effect waves-light right-aligned" data-toggle="modal" data-target="#AddLinkModal" id="addLinkButton">
                    Add Link
                </button>
            </div>
        </div>


        <div class="tile-result-content supportLinkList">
            <h1></h1>
            <ul id="link-results" class="list-unstyled">
                @foreach (Sentry.data.Web.SupportLinkModel supportLinkModel in Model.AllSupportLinks)
                {
                    <li class="tile-result tile-mr borderSide_blue boxShadowSm tile-active tile-result-layout-0">
                        <em class="delete-icon icon-trash" data-supportLinkId=@supportLinkModel.SupportLinkId></em>
                        <div class="dataset-list-content">
                            <span vocab="search-dataset-name">
                                <a href="@supportLinkModel.Url" target="_blank" class="LinkUrlName">@supportLinkModel.Name</a>
                            </span>
                        </div>
                        <div class="dataset-list-content tile-description" title="@supportLinkModel.Description">
                            <p class="LinkDescription">@supportLinkModel.Description</p>
                        </div>
                    </li>
                }
            </ul>
        </div>


    </div>
    

        <div class="modal fade" id="AddLinkModal" tabindex="-1" aria-labelledby="AddLinkModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddLinkeModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card form-wrapper" id="toggleDiv">
                            <div class="card-body">

                                <h3 class="card-title">Add Support Link</h3>

                                <div class="md-form">

                                    <input type="text" id="LinkName" class="form-control" required />
                                    <label for="name" class="">Enter Link Name</label>

                                </div>
                                <div class="md-form">

                                    <label for="description" class="">Enter Description For Link</label>
                                    <input type="text" id="LinkDescription" class="form-control" />

                                </div>
                                <div class="bs-component">


                                    <label for="url">Enter an https:// URL:</label>
                                    <input type="url" id="LinkUrl" class="form-control" placeholder="https://example.com" required />

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="ModalCloseButton" class="btn btn-primary waves-effect waves-light">Close</button>
                        <button type="button" id="LinkSubmitButton" class="btn btn-primary waves-effect waves-light">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
           

<script>
    $(function () {
        data.Admin.SupportLinkInit();
    });

</script>

