@{
    string color = "dsc-" + Model.CategoryColor + "-text";
    string tableColor = "dsc-" + Model.CategoryColor + "-table";
}

<div class="@(Model.DatasetFileCount == 0 ?"visible-item":"hidden-item")">
    <h5 class="@color pt-1">No Data Files Available</h5>
</div>

<div id="DataPreviewNoRows" class="d-none">

</div>

<div class="@(Model.DatasetFileCount != 0 ?"visible-item":"hidden-item")">
    <div id="dataSection" data-bind="visible: DataLoading() == false">
        <div class="row">
            <div class="col">
                <table class="table @tableColor table-bordered table-striped table-hover nowrap" id="datasetRowTable" aria-describedby="Dataset Schema Preview Table">
                    <thead>
                        <tr id="tableColumnIDs" class="table-header table-header_@color"></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <hr />
        </div>
    </div>
</div>