@{
    string color = "dsc-" + Model.CategoryColor + "-text";
    string tableColor = "dsc-" + Model.CategoryColor + "-table";
}

@if (!Model.DisplayTabSections)
{
    <div>
        <h3 class="@color pt-1">Data Files</h3>
    </div>
}

<div id="hide_detailSectionHeader_DataFiles">
    <table class="table @tableColor table-bordered table-hover table-striped nowrap" aria-describedby="Dataset Schema Files Table" id="datasetFilesTable">
        <thead>
            <tr class="table-header">
                <th>Details</th>
                <th>Actions</th>
                <th>Name</th>
                <th>Upload User Name</th>
                <th>Initial Upload Date</th>
                <th>Modified Date</th>
                <th>Schema</th>
                <th class="text-center"><i class="far fa-trash-alt"></i></th>
            </tr>
            <tr class="filter-row">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="data-file-delete-all-filter">
                    <fieldset class="form-group">
                        <input type="checkbox" id="data-file-delete-all-checkbox" class="form-check-input">
                        <label for="data-file-delete-all-checkbox" class="form-check-label p-0" title="Select all files on page"></label>
                    </fieldset>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@if (Model.DisplayDatasetFileDelete)
{
    <div class="modal fade" id="data-file-delete-modal" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="data-file-delete-modal" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Files</h5>
                    <button type="button" id="data-file-delete-close" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    Are you sure you want to delete <span id="data-file-delete-count" class="font-weight-bold"></span> file(s)?
                </div>

                <div class="modal-footer">
                    <button type="button" id="data-file-delete-cancel" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancel</button>
                    <button type="button" id="data-file-delete" class="btn btn-danger waves-effect waves-light"><i class="far fa-trash-alt"></i>Delete</button>

                    <div class="preloader-wrapper small active data-file-delete-spinner d-none">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}