@{
    string color = "dsc-" + Model.CategoryColor + "-text";
    string tableColor = "dsc-" + Model.CategoryColor + "-table";
}

@if (!Model.DisplayTabSections)
{
    <div>
        <h3 class="@color pt-1">Data Files</h3>
    </div>
}



<div class="@(Model.DatasetFileCount == 0 ?"visible-item":"hidden-item")">
    <h5 class="@color pt-1">No Data Files Available</h5>
</div>

<div class="@(Model.DatasetFileCount != 0 ?"visible-item":"hidden-item")">
    <div id="hide_detailSectionHeader_DataFiles">
        <table class="table @tableColor table-bordered table-hover table-striped nowrap" aria-describedby="Dataset Schema Files Table" id="datasetFilesTable">
            <thead>
                <tr class="table-header">
                    <th>Details</th>
                    <th>Actions</th>
                    <th>Name</th>
                    <th>Upload User Name</th>
                    <th>Initial Upload Date</th>
                    <th>Modified Date</th>
                    <th>Schema</th>
                </tr>
                <tr class="filter-row">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
