@{
    string color = Model.CategoryColor;
    string headerColor = "categoryBanner-" + Model.CategoryColor;
}
<br />
<div class="" id="schemaSection">

    @if (!Model.DisplayTabSections)
    {
        <div id="columnsInThisSchema">
            <h3 class="detailSection @color">Columns</h3>
        </div>
    }


    <div id="delroyBorder">
        <div id="delroyFriends">
            <ol class="breadcrumb orange" id="delroyBreadcrumb" data-page-color="@color">   </ol>

            <table class="table table-striped table-bordered table-hover nowrap dataTable no-footer @color" id="delroyTable" style="width:100%; overflow-x:auto;">
                <thead>
                    <tr class="filter-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr class="table-header_@color @headerColor">
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Is Array</th>
                        <th>Length</th>
                        <th>Precision</th>
                        <th>Scale</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>