@{
    string color = Model.CategoryColor;
}
<div class="" id="schemaSection">

    @if (!Model.DisplayTabSections)
    {
        <div id="columnsInThisSchema">
            <h3 class="detailSection @color">Columns</h3>
        </div>
    }


    <div id="">
        <div id="delroyFriends">
            <ol class="breadcrumb mb-1" id="delroyBreadcrumb" data-page-color="@color"></ol>

            <table class="table table-striped table-bordered table-hover nowrap" cellspacing="0" id="delroyTable">
                <thead>

                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>

                        <th>Is Array</th>
                        <th>Length</th>
                        <th>Precision</th>
                        <th>Scale</th>
                    </tr>


                </thead>
            </table>
        </div>

    </div>
</div>