@{
    string color = "dsc-" + Model.CategoryColor + "-text";
    string tableColor = "dsc-" + Model.CategoryColor + "-table";
}
<div class="" id="schemaSection">

    @if (!Model.DisplayTabSections)
    {
        <div id="columnsInThisSchema">
            <h3 class="detailSection @color">Columns</h3>
        </div>
    }


    <div id="">
        <div id="delroyFriends">
            <ol class="breadcrumb mb-1" id="delroyBreadcrumb" data-page-color="@color"></ol>
            <div class="row">
                <div class="col">
                    <table class="table @tableColor table-bordered table-hover table-striped nowrap" id="delroyTable" aria-describedby="Dataset Schema Columns Table">
                        <thead>
                            <tr role="row">
                                <th>Position</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Is Array</th>
                                <th>Length</th>
                                <th>Precision</th>
                                <th>Scale</th>
                            </tr>
                            <tr class="filter-row" role="row">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>