@{
    @model string
}

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-8 col-sm-12">
        <h1 class="error-icon">Oops!</h1>
        <h4 class="pt-0">Permission denied.</h4>
        <p>
            You are not authorized to view this tab. If you need <br>
            access, please request "@Model" permission.
        </p>
    </div>
</div>