<div class="modal fade" id="data-file-upload-modal" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="data-file-upload-modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Data File</h5>
                <button type="button" id="data-file-upload-close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="alert-warning alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    The file being uploaded should not contain sensitive data.
                    <br />
                    For more information on sensitive data <a target="_blank" rel="noopener noreferrer" href="http://sharepoint.sentry.com/Security/Security%20Architecture/SitePages/Home.aspx">click here.</a>
                </div>

                <div id="upload-data-file-form-wrapper" class="text-center">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
