@{
    ViewBag.Title = "Datasets";
}
@{
    @Html.AntiForgeryToken()
}

<div id="main">
    <div class="col-md-3 textCenter">
        <div class="listHeadGroup">
            <img src="~/Images/Icons/DatasetsBlue.svg" class="datasetImg leftFloat" data-bind="visible: IsShownForCurrentType('Datasets')" style="display: none;" />
            <img src="~/Images/Icons/Business IntelligenceBlue.svg" class="datasetImg leftFloat" data-bind="visible: IsShownForCurrentType('BusinessIntelligence')" style="display: none;" />
            <h1 class="htCenter datasetHeader" data-bind="visible: IsShownForCurrentType('Datasets')" style="display: none;">Datasets</h1>
            <h1 class="htCenter datasetHeader" data-bind="visible: IsShownForCurrentType('BusinessIntelligence')" style="display: none;">Business Intelligence</h1>
        </div>
    </div>
    <div class="navbar-form navbar-center">
        <div class="col-md-9 textCenter">
            <div class="searchBoxDS  has-feedback has-feedback-left">
                <input class="form-control searchTextDS text-box single-line" id="SearchText" placeholder="Search Datasets..." name="SearchText" type="text" data-bind="value: Query, valueUpdate: 'keyup', visible: IsShownForCurrentType('Datasets'), event: {'keyup': searchResults.toFirstPage }" autocomplete="off" style="display: none;">
                <input class="form-control searchTextDS text-box single-line" id="SearchText" placeholder="Search Exhibits and Dashboards..." name="SearchText" type="text" data-bind="value: Query, valueUpdate: 'keyup', visible: IsShownForCurrentType('BusinessIntelligence')" autocomplete="off" style="display: none;">
                <i class="form-control-feedback glyphicon glyphicon-search"></i>
            </div>
        </div>

        <div id="filterSpinner">
            <div class="sentry-spinner-container" style=" width: 1166px; padding-top: 150px;">
                <span class="sentry-spinner" style="height:100px"></span>
            </div>
            <div class="col-sm-3 clearFloat no-padding hidden-sm hidden-xs" id="filterColumn" style="display:none;">
                <div class="outsideFilters" id="outsideFilters">

                    <!-- ko foreach: AllFilters -->
                    <!-- THE CATEGORY HEADER-->
                    <div class="panel panel-default dataset-list-filters boxShadow" data-bind="css : BorderColor">
                        <div class="panel-heading filterHead white" data-bind="css : BannerColor, attr: { id: HeadId }">
                            <span data-bind="text : Name"></span>
                            <span class="glyphicon glyphicon-chevron-up rightFloat filterViewIcon" data-bind="css : Color, visible:  OrderedFilters().length > 0, attr: { id: HeadIcon }"></span>
                        </div>

                        <!-- FOREACH OF THE CATEGORY FILTERS-->
                        <div class="dataset-list-filter-category panel-body" data-bind="attr: {id : HeadHide }">
                            <!-- ko if: OrderedFilters().length > 0 -->
                            <ul class="list-unstyled ul-filter-list">
                                <!-- ko foreach: OrderedFilters -->
                                <li class="list-unstyled li-filter-disabled filterList" data-bind="visible: $index() < 6">
                                    <label data-bind="attr: { id: id }" style="display: block; font-weight: normal;">
                                        <input type="checkbox" class="filterChbx"
                                               data-bind="value: id, checked: window.vm.SelectedFilters, attr: { id: id }" />
                                        <span data-bind="text : Title"></span>
                                        <span class="badge badge-info" data-bind="text : Count, css : $parent.BannerColor"></span>
                                    </label>
                                </li>

                                <!-- /ko -->

                                <li data-bind="attr: {id : HiddenMore}">
                                    <!-- ko foreach: OrderedFilters -->
                                    <ul class="notNested">
                                        <li class="list-unstyled li-filter-disabled filterList" data-bind="visible: $index() >= 6">
                                            <label data-bind="attr: { id: id }" style="display: block; font-weight: normal;">
                                                <input type="checkbox" class="filterChbx"
                                                       data-bind="value: id, checked: window.vm.SelectedFilters, attr: { id: id }" />
                                                <span data-bind="text : Title"></span>
                                                <span class="badge badge-info" data-bind="text : Count, css : $parent.BannerColor"></span>
                                            </label>
                                        </li>
                                    </ul>
                                    <!-- /ko -->
                                </li>

                            </ul>
                            <!-- /ko -->

                            <!-- ko if: OrderedFilters().length > 6 -->
                            <a href="#" class="filterMore" data-bind="attr: { id:  HiddenId}">
                                <div class="glyphicon glyphicon-plus-sign inlineBlock moreIcon leftFloat" data-bind="attr : {id : IconMore}"></div>
                                <div class="leftFloat txt_filterMore" data-bind="attr: {id: TxtMore}">Show More</div>
                            </a>
                            <!-- /ko -->

                        </div>
                    </div>

                    <!-- /ko -->
                </div>
            </div>
            <div class="col-md-9 textCenter" id="dataColumn" style="display:none;">
                <div id="DatasetItemList" class="dataset-list inlineBlock text-left">
                    <div>
                        <h4 class="found">
                            Active Filters:
                            <button type="button" class="btn btn-sm btn-primary" id="btnClearFilters" data-bind="click: clearFilters, enable: SelectedFilters().length !== 0">Clear Filters</button>
                        </h4>

                        <select multiple="" class="form-control select2-hidden-accessible"
                                id="filterSelector" name="filterSelector" tabindex="-1" aria-hidden="true">
                            <!-- ko foreach: AllFilters -->
                            <optgroup data-bind="attr: {label: Name}">
                                <!-- ko foreach: Filters -->
                                <option data-bind="value: $data.id, text: $data.Title"></option>
                                <!-- /ko -->
                            </optgroup>
                            <!-- /ko -->
                        </select>

                        @*<select multiple="multiple" id="activeFilters " class="form-control select2-hidden-accessible"
                            data-bind="select2: { options: SearchFilters, width: '100%', selectedOptions: Select2Filters, optionsText: 'Title' }"></select>*@
                    </div>

                    @* pagination controls *@
                    <ul class="pagination">
                        @* button to take you directly to the first page *@
                        <li data-bind="css: { disabled: searchResults.isFirstPage() }" class="previous disabled">
                            <a href="#" aria-label="First" data-bind="click: searchResults.toFirstPage" title="First">&laquo;</a>
                        </li>
                        @* button to take you to the prevoius page *@
                        <li data-bind="css: { disabled: !searchResults.hasPreviousPage() }" class="previous disabled">
                            <a href="#" aria-label="Previous" data-bind="click: searchResults.toPreviousPage" title="Previous">&lt;</a>
                        </li>
                        
                        @* loop through the pages, building a button for each *@
                        <!-- ko foreach: searchResults.pages -->
                        <li data-bind="css: { active: $data == $parent.searchResults.pageNumber() }">
                            <a href="#" data-bind="text: $data, click: $parent.searchResults.pageNumber.bind($data)"></a>
                        </li>
                        <!-- /ko -->

                        @* button to take you to the next page*@
                        <li data-bind="css: { disabled: !searchResults.hasNextPage() }" class="next disabled">
                            <a href="#" aria-label="Next" data-bind="click: searchResults.toNextPage" title="Next">&gt;</a>
                        </li>
                        @* button to take you directly to the last page *@
                        <li data-bind="css: { disabled: searchResults.isLastPage() }" class="next disabled">
                            <a href="#" aria-label="Last" data-bind="click: searchResults.toLastPage" title="Last">&raquo;</a>
                        </li>
                    </ul>

                    <ul class="list-unstyled" id="listOfDatasets" data-bind="foreach: searchResults.pageItems">
                        <li class="ul-dataset-list-item borderSide_gray boxShadowSm" style="background-color: white;" data-bind="css : BorderColor, click: TileClicked, attr: { title: PrimaryTitle }">
                            <div data-bind="if: $index > 20"></div>
                            <div class="category-type-wrap">
                                <div class="glyphicon glyphicon-star btnFavorite disregardParentClick" id="btnFavorite" data-bind="attr: {data: DatasetId}, visible: IsFavorite" style="display: none"></div>
                                <div class="glyphicon glyphicon-star-empty btnFavorite disregardParentClick" id="btnFavorite" data-bind="attr: {data: DatasetId}, visible: IsFavorite == false" style="display: none"></div>
                                <div class="category-type" data-bind="css: BannerColor">
                                    <span data-bind="text: AbbreviatedCategory" />
                                </div>
                            </div>
                            <div></div>
                            <div class="dataset-list-content">
                                <!-- ko foreach: DistinctFileExtensions -->
                                <div class="extension bg_gray" data-bind="css : $data">
                                    <span data-bind="text: $data" />
                                </div>
                                <!-- /ko -->
                                <span data-bind="text: DatasetName" style="font-size: larger; font-weight: bolder; color: #003DA5;"></span>
                                <!-- ko if: IsSensitive-->
                                <i class="glyphicon glyphicon-lock text-primary" data-toggle="tooltip" data-placement="bottom" title="Secure" style="padding-left: 10px;"></i>
                                <!-- /ko -->
                            </div>

                            <div class="dataset-list-content">
                                <div class="dataset-list-content-label"></div>
                                <div class="dataset-list-content-value listDesc">
                                    <span data-bind="text: DatasetDesc"></span>
                                </div>
                            </div>
                            <div class="dataset-list-content">
                                <span class="custom-glyphiconz" aria-hidden="true" />
                                <div class="dataset-list-content-label">
                                    <div>
                                        <div class="ownerDate" style="text-align : left;">
                                            <span class="textBold ownerDate" data-bind="css : Color">Sentry Owner:&nbsp;</span>
                                            <span data-bind="text: SentryOwner"></span>

                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                                            <!-- ko ifnot: Type === "RPT" -->
                                            <span class=" textBold ownerDate" data-bind="css : Color">Last Activity Date:&nbsp;</span>
                                            <span data-bind="text: ChangedDtm"></span>
                                            <!-- /ko -->
                                            <!-- ko if: Type === "RPT" -->
                                            <span class=" textBold ownerDate" data-bind="css : Color">Refresh Frequency:&nbsp;</span>
                                            <span data-bind="text: UpdateFrequency"></span>

                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            <span class="textBold ownerDate link-btn btn btn-sm btn-info disregardParentClick" title="Go to the detail page">
                                                <span class="disregardParentClick">Detail</span>
                                            </span>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    
                    <hr>
                    <!-- ko if: searchResults().length == 0 -->
                    <div>
                        <h4>
                            No results given the active filters and/or search text.  Please refine your search parameters.
                        </h4>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .disregardParentClick{
        float: right;
        margin-top: -3px;
        margin-right: 1px;
    }

    .link-btn {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ul-dataset-list-item:hover {
        opacity: 0.95;

        box-shadow: 2px 6px 10px #888888;
        cursor: pointer;
    }

</style>

@section Scripts {
    <script>
        $(function () {
            var $selector = $("#filterSelector").select2({
                selectOnClose: false,
                closeOnSelect: false,
                templateSelection: formatTag,
                placeholder: "There are no active filters.  Pick an option to the left or click here to begin filtering.",
            });
            $selector.select2({
                selectOnClose: false,
                closeOnSelect: false,
                templateSelection: formatTag,
                placeholder: "There are no active filters.  Pick an option to the left or click here to begin filtering.",
            });

            //This is fed into the Select2 Box to format tags.
            function formatTag(tag) {     
                var cat = "";

                for (var i = 0; i < vm.AllFilters().length; i++) {
                    for (var j = 0; j < vm.AllFilters()[i].Filters().length; j++) {
                        if (vm.AllFilters()[i].Filters()[j].id === tag.id) {
                            cat = vm.AllFilters()[i].Filters()[j].Category;
                            break;
                        }
                    }
                    if (cat !== "") {
                        break;
                    }
                }

                var $state = $(
                    '<span class="' + cat.split(" ").join("_").toLowerCase() + '_filter">' + cat + " : " + tag.text + '</span>'
                );

                return $state;
            };


            $('body').on('mouseenter', ".ul-dataset-list-item", function (e) {
                $(this).css('background-color', $(this).css("border-color").slice(0, -1) + ', 0.1)')
            });

            $('body').on('mouseleave', ".ul-dataset-list-item", function (e) {
                $(this).css('background-color', 'white')
            });

            $('.select2-container--default').css('width', '100%');

            $('#filterSelector').on('select2:select', function (e) {
                // Do something
                var data = e.params.data;

                window.vm.SelectedFilters.push(data.id);

                //$('#' + data.id).prop('checked', true);

                //var storedNames = JSON.parse(localStorage.getItem("filteredIds"));

                //if (storedNames != null) {
                //    storedNames[storedNames.length] = data.id;
                //}
                //else {
                //    var storedNames = [];
                //    storedNames[0] = data.id;
                //}

                //localStorage.setItem("filteredIds", JSON.stringify(storedNames));

                //$('#filterSelector').select2("close");

                //changeWindow();

            });

            $('#filterSelector').on('select2:unselect', function (e) {
                // Do something
                var data = e.params.data;

                window.vm.RemoveSelection(data.id);

            });
        });

        function getDetailType() {
            return window.location.pathname.split("/")[2];
        }

        function Filter(id, Title, Category, Count) {

            this.id = id;
            this.Title = Title;
            this.Category = Category;

            this.Count = ko.computed(function () {
                var items = ko.utils.arrayFilter(window.vm.searchResults(), function (prod) {
                    if (Category == 'Category') {
                        for (var i = 0; i < prod.Categories.length; i++) {
                            if (prod.Categories[i] === Title) {
                                return prod;
                            }
                        }
                    }
                    else if (Title == prod.SentryOwner && Category == 'Sentry Owner') {
                        return prod;
                    }
                    else if (Category == 'Extension') {
                        for (var i = 0; i < prod.DistinctFileExtensions.length; i++) {
                            if (prod.DistinctFileExtensions[i] == Title) {
                                return prod;
                            }
                        }
                    }
                    else if (Category == 'Report Type') {
                        for (var i = 0; i < prod.DistinctFileExtensions.length; i++) {
                            if (prod.DistinctFileExtensions[i] == Title) {
                                return prod;
                            }
                        }
                    }
                    else {
                        if (prod.Tags != null) {
                            for (var i = 0; i < prod.Tags.length; i++) {
                                if (prod.Tags[i].Name == Title) {
                                    return prod;
                                }
                            }
                        }
                    }
                });

                return items.length;
            });
        }

        function FilterCategory(Name, Filters, Color) {
            var self = this;

            self.Name = Name;

            self.Filters = ko.observableArray(Filters);

            self.Color = Color;

            self.BannerColor = 'filterHead_' + Color;
            self.BorderColor = 'filterBorder_' + Color;

            self.HiddenId = 'filterMore_' + Name.replace(' ', '_');
            self.HiddenMore = 'hidden_filterMore_' + Name.replace(' ', '_');
            self.IconMore = 'icon_filterMore_' + Name.replace(' ', '_');
            self.TxtMore = 'txt_filterMore_' + Name.replace(' ', '_');

            self.HeadId = 'filterType_' + Name.replace(' ', '_');
            self.HeadIcon = 'icon_filterType_' + Name.replace(' ', '_');
            self.HeadHide = 'hide_filterType_' + Name.replace(' ', '_');

            self.OrderedFilters = ko.computed(function () {
                //First filter the list so that we only have filters that have a count greater than 0
                var list = ko.utils.arrayFilter(self.Filters(), function (prod) {
                    return prod.Count() !== 0;
                });
                
                //If the count is 0, hide the section.
                if (list.length === 0) {
                    $("#" + self.HeadHide).hide();
                    $("#" + self.HeadIcon).hide();
                }
                //If the count is not zero, meaning there are available filters.
                else
                {
                    //The user has closed this section and it should not open back up.
                    if ($("#" + self.HeadIcon).hasClass("glyphicon-chevron-down"))
                    {
                        $("#" + self.HeadIcon).show();                
                    }
                    else
                    //The user has this section open and it should show back up.
                    {
                        $("#" + self.HeadIcon).show();
                        $("#" + self.HeadHide).show();
                    }
                }

                //Sort the remaining list alphabetically and show them to the user.
                return list.sort(function (left, right) {
                    return left.Title == right.Title ? 0 : (left.Title < right.Title ? -1 : 1)
                });
            });
        }

        function Dataset(data) {
            var self = this;

            self.DatasetDesc = data.DatasetDesc;
            self.SentryOwner = data.SentryOwnerName;
            self.DatasetId = data.DatasetId;

            self.DatasetInformation = data.DatasetInformation;
            self.DatasetName = data.DatasetName;
            self.Category = data.Category;
            self.AbbreviatedCategory = data.AbbreviatedCategory;
            self.IsSensitive = data.IsSensitive;
            self.Type = data.Type;

            self.PrimaryTitle = ko.computed(function () {
                if (self.Type === "RPT") {
                    return "Click here to open.";
                } else {
                    return "Click here to go to the Dataset Detail Page.";
                }
            });

            self.TileClicked = function (item, e) {

                if ($(e.target).hasClass("btnFavorite") === true) {
                    return false;
                }
                else if (self.Type === "RPT") {
                    //What is the primary function of clicking on the tile if its a Report
                    //And you did not click on a button.
                    if ($(e.target).hasClass("disregardParentClick") === false) {
                        if (self.LocationType === "file") {
                            vm.GetFile(self);
                        }
                        else {
                            var win = window.open(data.Location, '_blank');
                            if (win) {
                                //Browser has allowed it to be opened
                                win.focus();
                            } else {
                                //Browser has blocked it
                                alert('Please allow popups for this website');
                            }
                        }
                    }
                    //And you did click on the button
                    else {
                        
                        window.location.href = "/BusinessIntelligence/Detail/" + data.DatasetId;
                    }


                } else {
                     //What is the primary function of clicking on the tile if its a Dataset.
                    window.location.href = "/Dataset/Detail/" + data.DatasetId;
                }

                return false;
            };

            self.ChangedDtm = data.ChangedDtm;
            self.Color = data.Color;

            self.BannerColor = data.BannerColor;
            self.BorderColor = data.BorderColor;

            self.Categories = data.Categories;
            self.DistinctFileExtensions = data.DistinctFileExtensions;

            self.PageViews = data.PageViews;
            self.Downloads = data.Downloads;

            self.Location = data.Location;
            self.LocationType = data.LocationType;
            self.Tags = data.Tags;
            self.UpdateFrequency = data.UpdateFrequency;
            self.CanEditDataset = data.CanEditDataset;
            self.IsFavorite = data.IsFavorite;

            self.CanSeeDetails = ko.computed(function () {
                if ((self.Type === "RPT" && self.CanEditDataset) || self.Type !== "RPT") {
                    return true;
                }
                else {
                    return false;
                }
            });


            //this.header = ko.pureComputed(function () {
            //    return this.currentProfit() < 0 ? "profitWarning" : "profitPositive";
            //}, viewModel);
        }

        function ListViewModel() {
            var self = this;
            self.datasets = ko.observableArray([]);

            self.AllFilters = ko.observableArray([]);  //This is the master list of all filters.

            self.Query = ko.observable('');

            // self.SearchFilters = ko.observableArray([]);  //For the DropDown List
            self.SelectedFilters = ko.observableArray([]);

            self.CategoryFilters = ko.observableArray([]);
            self.OwnerFilters = ko.observableArray([]);
            self.ExtensionFilters = ko.observableArray([]);
            self.TagFilters = ko.observableArray([]);

            self.FilterDatasets = function (datasets) {
                //First grab all the selected category ID's
                var selectedCategoryIDs = ko.utils.arrayFilter(self.SelectedFilters(), function (feature) {

                    if (feature.substring(0, 3) == '1_0') {
                        return feature;
                    }
                });

                selectedCategoryList = [];
                if (selectedCategoryIDs.length > 0) {
                    //Convert those category ID's to Filter Items
                    var selectedCategories = ko.utils.arrayFilter(self.CategoryFilters(), function (feature) {

                        for (var i = 0; i < selectedCategoryIDs.length; i++) {
                            if (feature.id == selectedCategoryIDs[i]) {
                                return true;
                            }
                        }
                        return false;
                    });

                    for (var i = 0; i < selectedCategories.length; i++) {
                        selectedCategoryList.push(selectedCategories[i].Title);
                    }

                    //Then filter on those selected Categories
                    datasets = datasets.filter(function (item) {

                        for (var i = 0; i < selectedCategories.length; i++) {
                            if (item.Category == selectedCategories[i].Title) {
                                return true;
                            }
                        }
                        return false;
                    });
                }

                //First grab all the selected owner ID's
                var selectedOwnerIDs = ko.utils.arrayFilter(self.SelectedFilters(), function (feature) {

                    if (feature.substring(0, 3) == '1_1') {
                        return feature;
                    }
                });

                var selectedOwnerList = '';
                if (selectedOwnerIDs.length > 0) {
                    //Convert those category ID's to Filter Items
                    var selectedOwners = ko.utils.arrayFilter(self.OwnerFilters(), function (feature) {

                        for (var i = 0; i < selectedOwnerIDs.length; i++) {
                            if (feature.id == selectedOwnerIDs[i]) {
                                return true;
                            }
                        }
                        return false;
                    });

                    for (var i = 0; i < selectedOwners.length; i++) {
                        selectedOwnerList += (selectedOwners[i].Title) + "|";
                    }

                    //Then filter on those selected Categories
                    datasets = datasets.filter(function (item) {

                        for (var i = 0; i < selectedOwners.length; i++) {
                            if (item.SentryOwner == selectedOwners[i].Title) {
                                return true;
                            }
                        }
                        return false;
                    });
                }

                //First grab all the selected category ID's
                var selectedExtensionIDs = ko.utils.arrayFilter(self.SelectedFilters(), function (feature) {

                    if (feature.substring(0, 3) == '1_3') {
                        return feature;
                    }
                });

                var selectedExtensionsList = [];
                if (selectedExtensionIDs.length > 0) {
                    //Convert those category ID's to Filter Items
                    var selectedExtensions = ko.utils.arrayFilter(self.ExtensionFilters(), function (feature) {

                        for (var i = 0; i < selectedExtensionIDs.length; i++) {
                            if (feature.id == selectedExtensionIDs[i]) {
                                return true;
                            }
                        }
                        return false;
                    });

                    for (var i = 0; i < selectedExtensions.length; i++) {
                        selectedExtensionsList.push(selectedExtensions[i].Title);
                    }

                    //Then filter on those selected Categories
                    datasets = datasets.filter(function (item) {

                        for (var i = 0; i < selectedExtensions.length; i++) {
                            for (var j = 0; j < item.DistinctFileExtensions.length; j++) {
                                if (item.DistinctFileExtensions[j] == selectedExtensions[i].Title) {
                                    return true;
                                }
                            }
                        }
                        return false;
                    });
                }

                if ($('#dataColumn').is(":visible")) {
                    $.ajax({
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: 'POST',
                        url: '/Search/SearchEvent?categoryFilters=' + selectedCategoryList +
                            '&sentryOwners=' + selectedOwnerList +
                            '&extensions=' + selectedExtensionsList +
                            '&searchTerm=' + self.Query() +
                            '&resultsReturned=' + queryResults.length
                    });
                }

                return datasets;
            };

            self.FilterExhibits = function (exhibits) {
                //First grab all the selected category ID's
                var selectedCategoryIDs = ko.utils.arrayFilter(self.SelectedFilters(), function (feature) {
                    if (feature.substring(0, 3) == '2_0') {
                        return feature;
                    }
                });

                var selectedCategoryList = [];
                if (selectedCategoryIDs.length > 0) {
                    //Convert those category ID's to Filter Items
                    var selectedCategories = ko.utils.arrayFilter(self.CategoryFilters(), function (feature) {

                        for (var i = 0; i < selectedCategoryIDs.length; i++) {
                            if (feature.id == selectedCategoryIDs[i]) {
                                return true;
                            }
                        }
                        return false;
                    });

                    for (var i = 0; i < selectedCategories.length; i++) {
                        selectedCategoryList.push(selectedCategories[i].Title);
                    }

                    //Then filter on those selected Categories
                    exhibits = exhibits.filter(function (item) {

                        for (var i = 0; i < selectedCategories.length; i++) {
                            for (var j = 0; j < item.Categories.length; j++) {
                                if (item.Categories[j] === selectedCategories[i].Title) {
                                    return true;
                                }
                            }
                        }

                        return false;
                    });
                }

                //First grab all the selected owner ID's
                var selectedOwnerIDs = ko.utils.arrayFilter(self.SelectedFilters(), function (feature) {

                    if (feature.substring(0, 3) == '2_1') {
                        return feature;
                    }
                });

                //First grab all the selected category ID's
                var selectedExtensionIDs = ko.utils.arrayFilter(self.SelectedFilters(), function (feature) {

                    if (feature.substring(0, 3) == '2_2') {
                        return feature;
                    }
                });

                var selectedExtensionsList = [];
                if (selectedExtensionIDs.length > 0) {
                    //Convert those category ID's to Filter Items
                    var selectedExtensions = ko.utils.arrayFilter(self.ExtensionFilters(), function (feature) {

                        for (var i = 0; i < selectedExtensionIDs.length; i++) {
                            if (feature.id == selectedExtensionIDs[i]) {
                                return true;
                            }
                        }
                        return false;
                    });

                    for (var i = 0; i < selectedExtensions.length; i++) {
                        selectedExtensionsList.push(selectedExtensions[i].Title);
                    }

                    //Then filter on those selected Categories
                    exhibits = exhibits.filter(function (item) {

                        for (var i = 0; i < selectedExtensions.length; i++) {
                            for (var j = 0; j < item.DistinctFileExtensions.length; j++) {
                                if (item.DistinctFileExtensions[j] == selectedExtensions[i].Title) {
                                    return true;
                                }
                            }
                        }
                        return false;
                    });
                }

                //First grab all the selected tag ID's
                var selectedTagIDs = ko.utils.arrayFilter(self.SelectedFilters(), function (feature) {

                    if (feature.substring(0, 3) == '2_3') {
                        return feature;
                    }
                });

                var selectedTagList = '';
                if (selectedTagIDs.length > 0) {
                    //Convert those category ID's to Filter Items
                    var selectedTags = ko.utils.arrayFilter(self.TagFilters(), function (feature) {

                        for (var i = 0; i < selectedTagIDs.length; i++) {
                            if (feature.id == selectedTagIDs[i]) {
                                return true;
                            }
                        }
                        return false;
                    });

                    for (var i = 0; i < selectedTags.length; i++) {
                        selectedTagList += (selectedTags[i].Title) + "|";
                    }

                    //Then filter on those selected Categories
                    exhibits = exhibits.filter(function (item) {
                        if (item.Tags != null) {
                            for (var i = 0; i < selectedTags.length; i++) {
                                for (var j = 0; j < item.Tags.length; j++) {
                                    if (item.Tags[j].Name == selectedTags[i].Title) {
                                        return true;
                                    }
                                }
                            }
                        }
                        return false;
                    });
                }

                if ($('#dataColumn').is(":visible")) {
                    $.ajax({
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: 'POST',
                        url: '/Search/SearchEvent?categoryFilters=' + selectedCategoryList +
                            //'&sentryOwners=' + selectedOwnerList +
                            '&extensions=' + selectedExtensionsList +
                            '&searchTerm=' + self.Query() +
                            '&resultsReturned=' + queryResults.length
                    });
                }

                return exhibits;
            };

            self.FilterGeneric = function (allObjects) {
                //First grab all the selected category ID's
                var selectedCategoryIDs = ko.utils.arrayFilter(self.SelectedFilters(), function (feature) {

                    if (feature.substring(0, 3) == '3_0') {
                        return feature;
                    }
                });

                selectedCategoryList = [];
                if (selectedCategoryIDs.length > 0) {
                    //Convert those category ID's to Filter Items
                    var selectedCategories = ko.utils.arrayFilter(self.CategoryFilters(), function (feature) {

                        for (var i = 0; i < selectedCategoryIDs.length; i++) {
                            if (feature.id == selectedCategoryIDs[i]) {
                                return true;
                            }
                        }
                        return false;
                    });

                    for (var i = 0; i < selectedCategories.length; i++) {
                        selectedCategoryList.push(selectedCategories[i].Title);
                    }

                    //Then filter on those selected Categories
                    allObjects = allObjects.filter(function (item) {

                        for (var i = 0; i < selectedCategories.length; i++) {
                            if (item.Category == selectedCategories[i].Title) {
                                return true;
                            }
                        }
                        return false;
                    });
                }

                //First grab all the selected owner ID's
                var selectedOwnerIDs = ko.utils.arrayFilter(self.SelectedFilters(), function (feature) {

                    if (feature.substring(0, 3) == '3_1') {
                        return feature;
                    }
                });

                var selectedOwnerList = '';
                if (selectedOwnerIDs.length > 0) {
                    //Convert those category ID's to Filter Items
                    var selectedOwners = ko.utils.arrayFilter(self.OwnerFilters(), function (feature) {

                        for (var i = 0; i < selectedOwnerIDs.length; i++) {
                            if (feature.id == selectedOwnerIDs[i]) {
                                return true;
                            }
                        }
                        return false;
                    });

                    for (var i = 0; i < selectedOwners.length; i++) {
                        selectedOwnerList += (selectedOwners[i].Title) + "|";
                    }

                    //Then filter on those selected Categories
                    allObjects = allObjects.filter(function (item) {

                        for (var i = 0; i < selectedOwners.length; i++) {
                            if (item.SentryOwner == selectedOwners[i].Title) {
                                return true;
                            }
                        }
                        return false;
                    });
                }

                //First grab all the selected category ID's
                var selectedExtensionIDs = ko.utils.arrayFilter(self.SelectedFilters(), function (feature) {

                    if (feature.substring(0, 3) == '3_3') {
                        return feature;
                    }
                });

                var selectedExtensionsList = [];
                if (selectedExtensionIDs.length > 0) {
                    //Convert those category ID's to Filter Items
                    var selectedExtensions = ko.utils.arrayFilter(self.ExtensionFilters(), function (feature) {

                        for (var i = 0; i < selectedExtensionIDs.length; i++) {
                            if (feature.id == selectedExtensionIDs[i]) {
                                return true;
                            }
                        }
                        return false;
                    });

                    for (var i = 0; i < selectedExtensions.length; i++) {
                        selectedExtensionsList.push(selectedExtensions[i].Title);
                    }

                    //Then filter on those selected Categories
                    allObjects = allObjects.filter(function (item) {

                        for (var i = 0; i < selectedExtensions.length; i++) {
                            for (var j = 0; j < item.DistinctFileExtensions.length; j++) {
                                if (item.DistinctFileExtensions[j] == selectedExtensions[i].Title) {
                                    return true;
                                }
                            }
                        }
                        return false;
                    });
                }

                //First grab all the selected tag ID's
                var selectedTagIDs = ko.utils.arrayFilter(self.SelectedFilters(), function (feature) {

                    if (feature.substring(0, 3) == '3_4') {
                        return feature;
                    }
                });

                var selectedTagList = '';
                if (selectedTagIDs.length > 0) {
                    //Convert those category ID's to Filter Items
                    var selectedTags = ko.utils.arrayFilter(self.TagFilters(), function (feature) {

                        for (var i = 0; i < selectedTagIDs.length; i++) {
                            if (feature.id == selectedTagIDs[i]) {
                                return true;
                            }
                        }
                        return false;
                    });

                    for (var i = 0; i < selectedTags.length; i++) {
                        selectedTagList += (selectedTags[i].Title) + "|";
                    }

                    //Then filter on those selected Categories
                    allObjects = allObjects.filter(function (item) {
                        if (item.Tags != null) {
                            for (var i = 0; i < selectedTags.length; i++) {
                                for (var j = 0; j < item.Tags.length; j++) {
                                    if (item.Tags[j].Name == selectedTags[i].Title) {
                                        return true;
                                    }
                                }
                            }
                        }
                        return false;
                    });
                }

                if ($('#dataColumn').is(":visible")) {
                    $.ajax({
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: 'POST',
                        url: '/Search/SearchEvent?categoryFilters=' + selectedCategoryList +
                            '&sentryOwners=' + selectedOwnerList +
                            '&extensions=' + selectedExtensionsList +
                            '&searchTerm=' + self.Query() +
                            '&resultsReturned=' + queryResults.length
                    });
                }

                return allObjects;
            };

            self.PopulateDatasetFilters = function (datasets) {
                var temp = [];
                var pageType = '1_'

                //CATEGORY FILTER
                var param = getParameterByName('category');

                for (var item, i = 0; item = datasets[i++];) {
                    var category = item.Category;

                    if (!(category in categoryLookup)) {
                        categoryLookup[category] = 1;
                        self.CategoryFilters.push(new Filter(pageType + '0_' + i, category, 'Category'));

                        temp.push(new Filter(pageType + '0_' + i, category, 'Category'));

                        if (category == param) {
                            self.SelectedFilters.push(pageType + '0_' + i);
                        }
                    }
                }

                var item;

                ko.utils.arrayForEach(self.AllFilters(), function (v) {
                    if (v.Name == 'Category') {
                        item = v;
                    }
                });
                if (item !== undefined) {
                    temp = item.Filters().concat(temp);
                    ko.utils.arrayRemoveItem(self.AllFilters(), item);
                }

                self.AllFilters.push(new FilterCategory('Category', temp, 'darkblue'));
                temp = [];



                //SENTRYOWNER FILTER
                for (var item, i = 0; item = datasets[i++];) {
                    var owner = item.SentryOwner;

                    if (!(owner in ownerLookup)) {
                        ownerLookup[owner] = 1;
                        self.OwnerFilters.push(new Filter(pageType + '1_' + i, owner, 'Sentry Owner'));
                        //self.SearchFilters.push(new Filter('1_' + i, owner, 10));

                        temp.push(new Filter(pageType + '1_' + i, owner, 'Sentry Owner'));
                    }

                }
                ko.utils.arrayForEach(self.AllFilters(), function (v) {
                    if (v.Name == 'Sentry Owner') {
                        item = v;
                    }
                });
                if (item !== undefined) {
                    temp = item.Filters().concat(temp);
                    ko.utils.arrayRemoveItem(self.AllFilters(), item);
                }
                self.AllFilters.push(new FilterCategory('Sentry Owner', temp, 'darkblue'));
                temp = [];


                //EXTENSION FILTER
                counter = 0; //Needs seperate counter as multiple objects can appear per iteration
                for (var item, i = 0; item = datasets[i++];) {
                    for (var ext, j = 0; ext = item.DistinctFileExtensions[j++];) {
                        if (!(ext in extensionLookup)) {
                            extensionLookup[ext] = 1;
                            self.ExtensionFilters.push(new Filter(pageType + '3_' + counter, ext, 'Extension'));

                            temp.push(new Filter(pageType + '3_' + counter, ext, 'Extension'));
                            counter++;
                        }
                    }
                }
                ko.utils.arrayForEach(self.AllFilters(), function (v) {
                    if (v.Name == 'Extension') {
                        item = v;
                    }
                });
                if (item !== undefined) {
                    temp = item.Filters().concat(temp);
                    ko.utils.arrayRemoveItem(self.AllFilters(), item);
                }
                self.AllFilters.push(new FilterCategory('Extension', temp, 'darkblue'));
            };

            self.PopulateExhibitFilters = function (exhibits) {
                var temp = [];
                var pageType = '2_'
                var item;

                //CATEGORY FILTER
                for (var item, i = 0; item = exhibits[i++];) {
                    for (var cat, j = 0; cat = item.Categories[j++];) {
                        if (!(cat in categoryLookup)) {
                            categoryLookup[cat] = 1;
                            self.CategoryFilters.push(new Filter(pageType + '0_' + i, cat, 'Category'));

                            temp.push(new Filter(pageType + '0_' + i, cat, 'Category'));
                        }
                    }
                }
                ko.utils.arrayForEach(self.AllFilters(), function (v) {
                    if (v.Name == 'Category') {
                        item = v;
                    }
                });
                if (item !== undefined) {
                    temp = item.Filters().concat(temp);
                    ko.utils.arrayRemoveItem(self.AllFilters(), item);
                }
                self.AllFilters.push(new FilterCategory('Category', temp, 'darkblue'));
                temp = [];


                //EXTENSION FILTER
                counter = 0; //Needs seperate counter as multiple objects can appear per iteration
                for (var item, i = 0; item = exhibits[i++];) {
                    for (var ext, j = 0; ext = item.DistinctFileExtensions[j++];) {
                        if (!(ext in extensionLookup)) {
                            extensionLookup[ext] = 1;
                            self.ExtensionFilters.push(new Filter(pageType + '2_' + counter, ext, 'Report Type'));
                            //self.SearchFilters.push(new Filter('1_' + i, owner, 10));

                            temp.push(new Filter(pageType + '2_' + counter, ext, 'Report Type'));
                            counter++;
                        }
                    }
                }
                ko.utils.arrayForEach(self.AllFilters(), function (v) {
                    if (v.Name == 'Report Type') {
                        item = v;
                    }
                });
                if (item !== undefined) {
                    temp = item.Filters().concat(temp);
                    ko.utils.arrayRemoveItem(self.AllFilters(), item);
                }
                self.AllFilters.push(new FilterCategory('Report Type', temp, 'darkblue'));
                temp = [];

                //TAG FILTER
                //Retrieve unique list of tag groups across tags that exist on exhibits
                // and alfa sort the list
                var tagGroups = $.unique($.map(exhibits, function (nested) {
                        return $.map(nested.Tags, function (element) {
                            return element.Group;
                        });
                    })
                ).sort();

                //Move "Other" group to end of array if exists for display purposes
                function array_move(arr, old_index, new_index) {
                    if (new_index >= arr.length) {
                        var k = new_index - arr.length + 1;
                        while (k--) {
                            arr.push(undefined);
                        }
                    }
                    arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
                    //return arr; //For testing
                };

                array_move(tagGroups, tagGroups.indexOf('Other'), tagGroups.length - 1)


                counter = 0; //Needs seperate counter as multiple objects can appear per iteration
                //Loop through each tag group, add all tags for the group which are associated
                // with each exhibit
                for (var group, g = 0; group = tagGroups[g++];) {
                    for (var item, i = 0; item = exhibits[i++];) {
                        if (item.Tags != null) {
                            var Tags = item.Tags;
                            //Loop through list of Tags on each item
                            for (var tag, j = 0; tag = Tags[j++];) {
                                if (tag.Group == group && !(tag.Name in tagLookup)) {
                                    tagLookup[tag.Name] = 1;
                                    self.TagFilters.push(new Filter(pageType + '3_' + counter, tag.Name, group));

                                    temp.push(new Filter(pageType + '3_' + counter, tag.Name, group));
                                    counter++;
                                }
                            }
                        }
                    }
                    ko.utils.arrayForEach(self.AllFilters(), function (v) {
                        if (v.Name == group) {
                            item = v;
                        }
                    });
                    if (item !== undefined) {
                        temp = item.Filters().concat(temp);
                        ko.utils.arrayRemoveItem(self.AllFilters(), item);
                    }
                    self.AllFilters.push(new FilterCategory(group, temp, 'darkblue'));

                    temp = [];
                }

            };

            self.PopulateGenericFilters = function (allObjects) {
                var temp = [];
                var pageType = '3_'

                //CATEGORY FILTER
                var param = getParameterByName('category');

                for (var item, i = 0; item = allObjects[i++];) {
                    var category = item.Category;

                    if (!(category in categoryLookup)) {
                        categoryLookup[category] = 1;
                        self.CategoryFilters.push(new Filter(pageType + '0_' + i, category, 'Category'));

                        temp.push(new Filter(pageType + '0_' + i, category, 'Category'));

                        if (category == param) {
                            self.SelectedFilters.push(pageType + '0_' + i);
                        }
                    }
                }

                var item;

                ko.utils.arrayForEach(self.AllFilters(), function (v) {
                    if (v.Name == 'Category') {
                        item = v;
                    }
                });
                if (item !== undefined) {
                    temp = item.Filters().concat(temp);
                    ko.utils.arrayRemoveItem(self.AllFilters(), item);
                }

                self.AllFilters.push(new FilterCategory('Category', temp, 'darkblue'));
                temp = [];



                //SENTRYOWNER FILTER
                for (var item, i = 0; item = allObjects[i++];) {
                    var owner = item.SentryOwner;

                    if (!(owner in ownerLookup)) {
                        ownerLookup[owner] = 1;
                        self.OwnerFilters.push(new Filter(pageType + '1_' + i, owner, 'Sentry Owner'));
                        //self.SearchFilters.push(new Filter('1_' + i, owner, 10));

                        temp.push(new Filter(pageType + '1_' + i, owner, 'Sentry Owner'));
                    }

                }
                ko.utils.arrayForEach(self.AllFilters(), function (v) {
                    if (v.Name == 'Sentry Owner') {
                        item = v;
                    }
                });
                if (item !== undefined) {
                    temp = item.Filters().concat(temp);
                    ko.utils.arrayRemoveItem(self.AllFilters(), item);
                }
                self.AllFilters.push(new FilterCategory('Sentry Owner', temp, 'darkblue'));
                temp = [];


                //EXTENSION FILTER
                counter = 0; //Needs seperate counter as multiple objects can appear per iteration
                for (var item, i = 0; item = allObjects[i++];) {
                    for (var ext, j = 0; ext = item.DistinctFileExtensions[j++];) {
                        if (!(ext in extensionLookup)) {
                            extensionLookup[ext] = 1;
                            self.ExtensionFilters.push(new Filter(pageType + '3_' + counter, ext, 'Extension'));
                            //self.SearchFilters.push(new Filter('1_' + i, owner, 10));

                            temp.push(new Filter(pageType + '3_' + counter, ext, 'Extension'));
                            counter++;
                        }
                    }
                }
                ko.utils.arrayForEach(self.AllFilters(), function (v) {
                    if (v.Name == 'Extension') {
                        item = v;
                    }
                });
                if (item !== undefined) {
                    temp = item.Filters().concat(temp);
                    ko.utils.arrayRemoveItem(self.AllFilters(), item);
                }
                self.AllFilters.push(new FilterCategory('Extension', temp, 'darkblue'));

                //TAG FILTER
                counter = 0; //Needs seperate counter as multiple objects can appear per iteration
                for (var item, i = 0; item = allObjects[i++];) {
                    if (item.Tags != null) {
                        var Tags = item.Tags;
                        //Loop through list of Tags on each item
                        for (var tag, j = 0; tag = Tags[j++];) {
                            if (!(tag.Name in tagLookup)) {
                                tagLookup[tag.Name] = 1;
                                self.TagFilters.push(new Filter(pageType + '4_' + counter, tag.Name, 'Tag'));

                                temp.push(new Filter(pageType + '4_' + counter, tag.Name, 'Tag'));
                                counter++;
                            }
                        }
                    }
                }
                ko.utils.arrayForEach(self.AllFilters(), function (v) {
                    if (v.Name == 'Tag') {
                        item = v;
                    }
                });
                if (item !== undefined) {
                    temp = item.Filters().concat(temp);
                    ko.utils.arrayRemoveItem(self.AllFilters(), item);
                }
                self.AllFilters.push(new FilterCategory('Tag', temp, 'darkblue'));
                temp = [];
            };

            self.RemoveSelection = function (id) {
                console.log('Removing : ' + id);


                self.SelectedFilters.remove(function (feature) {
                    return feature == id;
                });
            }

            self.clearFilters = function () {
                self.SelectedFilters.removeAll();
            };

            self.SearchType = ko.computed(function () {
                return getSearchType();
            });

            self.IsShownForCurrentType = function (what) {
                return what === getDetailType();
            };

            var loaded = false;

            var categoryLookup = {};
            var ownerLookup = {};
            var extensionLookup = {};
            var tagLookup = {};

            self.populateFilters = function () {

                var allData = self.datasets();

                if (self.SearchType() == "Datasets") {
                    self.PopulateDatasetFilters(allData);
                } else if (self.SearchType() == "BusinessIntelligence") {
                    self.PopulateExhibitFilters(allData);
                } else {
                    self.PopulateGenericFilters(allData);
                }

            };

            // Load initial state from server, convert it to Dataset instances, then populate self.datasets
            url = "/Search/" + self.SearchType() + "/List"
            $.getJSON(url, function (allData) {
                var mappedTasks = $.map(allData, function (item) { return new Dataset(item) });

                self.datasets(self.datasets().concat(mappedTasks));

                self.populateFilters();

                $('#dataColumn').show();
                $('#filterColumn').show();
                $('.sentry-spinner-container').remove();
                $('.select2-search__field').css({ width: '500px' });
                $('#filterSelector').val(self.SelectedFilters()).trigger('change');
            });

            self.searchResults = ko.computed(function () {

                if (!loaded) {
                    var list = JSON.parse(localStorage.getItem("filteredIds"));

                    if (list != undefined) {

                        for (var i = 0; i < list.length; i++) {
                            self.SelectedFilters.push(list[i]);
                        }
                    }

                    if (getParameterByName('searchPhrase')) {
                        self.Query(getParameterByName('searchPhrase'));
                    }
                    else if (getParameterByName('category')) {
                        self.Query('');
                    }
                    else {
                        var searchText = localStorage.getItem("searchText");

                        if (searchText != undefined && searchText != "") {
                            self.Query(searchText);
                        }
                    }
                    loaded = true;
                }
                else {
                    localStorage.setItem("searchText", self.Query());
                }

                var searchQuery = self.Query().split(" ");

                var temp = [];

                for (var i = 0; i < self.datasets().length; i++) {

                    var keywordFound = false;
                    var count = 0;
                    var dataset = self.datasets()[i];

                    for (var j = 0; j < searchQuery.length; j++) {
                        var desc = dataset.DatasetDesc.toString();
                        var name = dataset.DatasetName.toString();
                        var owner = dataset.SentryOwner.toString();

                        if (desc.toLowerCase().indexOf(searchQuery[j].toLowerCase()) >= 0) {
                            keywordFound = true;
                            count++;
                        }
                        if (owner.toLowerCase().indexOf(searchQuery[j].toLowerCase()) >= 0) {
                            keywordFound = true;
                            count++;
                        }
                        if (name.toLowerCase().indexOf(searchQuery[j].toLowerCase()) >= 0) {
                            keywordFound = true;
                            count++;
                        }
                    }
                    if (keywordFound) {
                        temp.push({ dataset: dataset, count: count });
                    }
                }

                temp = temp.sort(function (left, right) {
                    return right.count - left.count || new Date(right.dataset.ChangedDtm) - new Date(left.dataset.ChangedDtm);
                });

                queryResults = temp.map(x => x.dataset);
                var selectedCategoryList = [];

                if (self.SearchType() == "Datasets") {
                    queryResults = self.FilterDatasets(queryResults);
                } else if (self.SearchType() == "BusinessIntelligence") {
                    queryResults = self.FilterExhibits(queryResults);
                } else {
                    queryResults = self.FilterGeneric(queryResults);
                }

                $("#SearchText").attr("placeholder", "Search " + queryResults.length + " Datasets...");

                return queryResults;
            }).extend({ paged: {pageSize: 20}});  // .extend() is for the knockout-paging plugin


            self.SelectedFilters.subscribe(function () {
                localStorage.setItem("filteredIds", ko.toJSON(self.SelectedFilters()));
                $('#filterSelector').val(self.SelectedFilters()).trigger('change');

            });

            self.GetFile = function (data) {
                $.ajax({
                    url: '/ExternalFile/HasReadPermissions?pathAndFilename=' + encodeURIComponent(data.Location),
                    method: "GET",
                    dataType: 'json',
                    success: function (obj) {
                        if (obj.HasPermission) {
                            var url = '/ExternalFile/DownloadExternalFile?pathAndFilename=' + encodeURIComponent(data.Location);
                            window.open(url);
                        }
                        else {
                            Sentry.ShowModalAlert(
                                "User does not have sufficient permissions to selected file. </br></br>  Contact <b>" + data.SentryOwner + "</b> to request access to exhibit."
                            );
                        }
                    },
                    error: function (obj) {
                        Sentry.ShowModalAlert("Failed permissions check, please try again.  If problem persists, please contact <a mailto:DSCSupport@sentry.com></a>");
                    }
                });
            };
        }

        $(document).ready(function () {

            window.vm = new ListViewModel();
            ko.applyBindings(vm);

            if (window.location.href.match(/&ids=/)) {

            }
            else {
                window.vm.clearFilters();
            }

            $(document).on("click", "[id^='filterType_']", function (e) {
                e.preventDefault();

                var id = $(this).attr("id");
                var category = "#hide_" + id
                var icon = "#icon_" + id;

                $(category).slideToggle();
                $(icon).toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
            });

            $(document).on("click", "[id^='filterMore_']", function (e) {
                e.preventDefault();

                var id = $(this).attr("id");
                var show = "#hidden_" + id
                var icon = "#icon_" + id;
                var txt = "#txt_" + id;

                $(show).slideToggle();
                $(icon).toggleClass("glyphicon-plus-sign glyphicon-minus-sign");

                if ($(txt).text() == "Show Less") {
                    $(txt).text("Show More");
                }
                else {
                    $(txt).text("Show Less");
                }
            });

            $(document).on("click", "[id^='btnFavorite']", function (e) {
                e.preventDefault();

                var button = $(this);
                var id = button.attr("data");

                if (button.hasClass("glyphicon-star")) {

                    $.ajax({
                        url: '/Dataset/SetFavorite?datasetId=' + encodeURIComponent(id),
                        method: "GET",
                        dataType: 'json',
                        success: function () {
                        },
                        error: function () {
                            Sentry.ShowModalAlert("Failed to remove favorite.");
                        }
                    });
                }
                else if (button.hasClass("glyphicon-star-empty")) {

                    $.ajax({
                        url: '/Dataset/SetFavorite?datasetId=' + encodeURIComponent(id),
                        method: "GET",
                        dataType: 'json',
                        success: function () {
                        },
                        error: function () {
                            Sentry.ShowModalAlert("Failed to set favorite.");
                        }
                    });
                }

                $(this).toggleClass("glyphicon-star glyphicon-star-empty");

            });
        });

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function getSearchType() {
            var regex = /\/Search\/(\w+)/,
                url = window.location.href;
            return regex.exec(url)[1];
        }

    </script>
}
