@model SavedSearchesModel
    
<div class="btn-group ml-2">
    <button class="btn btn-primary waves-effect waves-light filter-search-save" data-toggle="modal" data-target="#filter-search-save-modal">Save Search</button>
    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu">
        @if (Model.SavedSearchNames.Any())
        {
            foreach (string name in Model.SavedSearchNames)
            {
                <a class="dropdown-item @(name == Model.ActiveSearchName ? "active" : "") filter-search-saved-search-option" href="@Url.Action("Search", Model.SearchType, new { savedSearch = name })">@name</a>
            }
        }
        else
        {
            <a class="dropdown-item disabled" href="#">No Saved Searches</a>      
        }
    </div>
</div>