body {
  font-family: Helvetica;
}

.node {
  fill: #000000;
  stroke-width: 3px;
}

.node text {
  fill: #888888;
  stroke: none;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
}

#slider-components {
  text-align: center;
}
