body {
  font-family: Helvetica;
}

.node {
  fill: #000000;
  stroke-width: 3px;
}

.node text {
  fill: #a9a9a9;
  stroke: none;
}

.link {
  stroke: #e0e0e0;
  stroke-opacity: 0.6;
}

#slider-components {
  text-align: center;
}

#date-slider {
  width: 50%;
}

placeName {
  color: #D96C06;
}

persName {
  color: #2292A4;
}

date {
  color: #7B2D26;
}
