@model Sentry.data.Web.BaseAssetNotificationModel
@{
    ViewBag.Title = "Manage Asset Notifications";
}


<div>
    <div id="detailSectionHeader_AssetNotification">
        <h2 class="detailSection ">Asset Notifications</h2>
    </div>
    <div id="hide_detailSectionHeader_AssetNotification">

        <a href="~/DataAsset/CreateAssetNotification" class="btn btn-md btn-info">Create New Notification</a>

        <table class="table table-striped table-bordered " id="assetnotificationTable" width="90%">
            <thead>
                <tr>
                    <th></th>
                    <th>Edit</th>
                    <th>Active</th>
                    <th>Parent Asset Name</th>
                    @*<th>Create User</th>*@
                    <th>Start Time</th>
                    <th>Expiration Time</th>
                    <th>Message Severity</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts{

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/dataTables")

    <script>
    $(function () {
        data.ManageAssetAlert.Init();
    });
    </script>

}