
@{
    ViewBag.Title = "Test";
    @Html.AntiForgeryToken()

}
<div id="filterRow" class="row">
    <div class="col-lg-4">
        <h4>Business Term</h4>
        <select class="form-control select2" data-bind="options: availableDataObjectFields, value: selectedDataObjectField,
                optionsDisableDefault: false, select2: { placeholder: 'Select an option', allowClear: true, selectOnClose: false, closeOnSelect: true }"
                id="dataObjectFields"></select>
    </div>
    <div class="col-lg-4">
        <h4>Consumption Layer</h4>
        <select class="form-control select2" data-bind="options: availableDataElements, value: selectedDataElement,
                optionsDisableDefault: false, select2: { placeholder: 'Select an option', allowClear: true, selectOnClose: false, closeOnSelect: true }"
                id="dataElements"></select>
    </div>
    <div class="col-lg-4">
        <h4>Table</h4>
        <select class="form-control select2" data-bind="value: selectedDataObject, options: availableDataObjects,
                optionsDisableDefault: false, select2: { placeholder: 'Select an option', allowClear: true, selectOnClose: false, closeOnSelect: true }"
                id="dataObjects"></select>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-lg-12">
        <input type="button" value="Show All Layers" class="btn btn-xs btn-info" onclick="ShowAllRows();" style="display:inline-block;" />
        <input type="button" value="Hide All Layers" class="btn btn-xs btn-info" onclick="HideAllRows();" style="display:inline-block;" />
        @*<input type="button" value="Collapse Middle Layers" class="btn btn-xs btn-info" onclick="CollapseLayers();" style="display:inline-block;" />*@
        <input type="button" value="Toggle Hidden Layers" class="btn btn-xs btn-warning" onclick="ToggleHiddenRows(false);" style="display:inline-block;" />
        <div class="legendDiv">
            <span class="legend databases">Database Tables and Views</span>
            <span class="legend businessObjects">Business Objects Universe</span>
            <span class="legend cubes">Cubes</span>
            <span class="legend hiddenLegend" style="display: none;">Hidden Rows</span>
        </div>
    </div>
</div>
<hr />

<div id="filterSpinner">
    <div class="sentry-spinner-container" style=" width: 1166px;">
        <span class="sentry-spinner" style="height:100px"></span>
    </div>
</div>
<div id="lineagePanel">
    <ul data-bind="template: {name: 'TopTemplate' , foreach: lineage}" style="list-style-type: none;margin-left:0px;padding-left: 15px;"></ul>
</div>



<script type="text/html" id="TopTemplate">
    <li data-bind="css: LayerInfo" style="display: none;">
        <div class="lineageRow" data-bind="css: Color">
            <button type="button" class="btn btn-xs btn-success btnShowChildren" style="display: inline-block;  margin-bottom: 6px;" data-bind="enable: HasChildren">
                <span id="icon_" class="fas fa-plus"></span>
            </button>
            <div class="Source">
                <span class="SourceElement_NME" data-bind="text : DataElement_NME"></span>
                <span class="SourceObject_NME" data-bind="text : DataObject_NME"></span>
                <span class="SourceField_NME" data-bind="text : DataObjectField_NME"></span>
                <span class="LayerCount" data-bind="text : Layer" style="display: inline-block; margin-right: 10px; float:right;"></span>
                <input type="button" value="Show Details" class="btn btnShowDetails btn-xs btn-info" style="display: inline-block; margin-right: 10px; float:right;">
                <div class="extension bg_gray csv" data-bind="visible: HasTransform" style="display: inline-block; margin-right: 10px; float:right;">
                    <span>Transformation Available</span>
                </div>

                <div>
                    <div class="noDetails" style="display: none;">
                        <hr>
                        <span><b>Description : </b></span>
                        <span>There currently is no description for this object.</span>
                        <hr>
                        <div data-bind="visible: HasTransform">
                            <span><b>Transformation Text : </b></span>
                            <span data-bind="text : Transformation_TXT"></span>
                        </div>
                    </div>
                    <div class="detailsPanel" style="display: none;">
                        <hr>
                        <span><b>Table Description : </b></span>
                        <span class="DataObject_DSC"></span>
                        <hr>
                        <span><b>Field Description : </b></span>
                        <span class="DataObjectField_DSC"></span>
                        <hr>
                        <span><b>Transformation Text : </b></span>
                        <span data-bind="text : Transformation_TXT"></span>
                    </div>
                </div>
            </div>
        </div>

        <ul data-bind=" template: {name:  'TopTemplate' , foreach:  Sources } " style="list-style-type: none;margin-left:0px;padding-left: 40px;"></ul>
    </li>
</script>

<style>

    .legendDiv {
        display: inline-block;
        background-color: white;
        float: right;
        border-radius: 10px;
        margin-top: -5px;
        margin-bottom: -5px;
    }

    .legend {
        display: inline-block;
       
        border: 1px gray solid;
        padding: 5px;
        border-radius: 10px;
    }

    .hiddenLegend {
        display: inline-block;
        background-color: #ffe1eb;
    }

    .layer:before {
        /*Using a Bootstrap glyphicon as the bullet point*/
        content: "\e095";
        font-family: 'Glyphicons Halflings';
        font-size: 14px;
        float: left;
        margin-top: 20px;
        margin-left: -30px;
        color: gray;
        transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
    }

    .layer {
        display: block;
    }

    .businessObjects {
        background-color: rgba(137,171,227,0.5);
    }

    .cubes {
        background-color: rgba(229,114,0,0.5);
    }

    .databases {
        background-color: rgba(187,133,171,0.5);
    }

    .tab {
        float: right;
    }


    .rootTab {
        float: right;
        width: calc(100%);
    }

        .rootTab .Source {
            width: calc(100% - 42px);
        }

    .icon-flipped {
        transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
    }

    .lineageRow {
        padding-left: 10px;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .Source {
        background-color: white;
        width: calc(100% - 55px);
        padding: 10px 10px 6px;
        display: inline-block;
        border-radius: 10px;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

        .Source p {
            color: #003DA5;
        }

        .Source span:first-child {
            margin-left: 0px;
        }

        .Source span {
            margin-left: 10px;
        }

    .hiddenClick {
        cursor: pointer;
    }
</style>





@section Scripts {
    <script>

        var tabLength = 40;

        $(document).ready(function () {

        });

        function ShowAllRows() {
            $('.layer').parent().show();
            $($('.btnShowChildren').children('span')).removeClass("fa-plus");
            $($('.btnShowChildren').children('span')).addClass("fa-minus");

            ToggleHiddenRows(true);
        }
        function HideAllRows() {
            $('.layer').parent().hide();

            $($('.btnShowChildren').children('span')).addClass("fa-plus");
            $($('.btnShowChildren').children('span')).removeClass("fa-minus");

            ToggleHiddenRows(true);
        }

        function ToggleHiddenRows(justStyle) {

            if ($('.hiddenLayer').children('div').is(":visible") || justStyle) {
                console.log('Toggle on:');
                $($('#lineagePanel').find('li')).each(function () {
                    if ($(this).attr('class') != 'layer0') {

                        var currentIndex = $(this).attr('class').substring(5);

                        var indexToBe = $($($(this).parent()).closest('li:not(".hiddenLayer")')).attr('class').substring(5);

                        var a = '-' + (((currentIndex - 1) - indexToBe) * tabLength) + 'px';

                        $(this).css('margin-left', a);
                    }

                });
            } else {
                $($('#lineagePanel').find('li')).each(function () {
                    if ($(this).attr('class') != 'layer0') {
                        $(this).css('margin-left', '0px');
                    }
                });
            }

            if (!justStyle) {
                $('.hiddenLayer').children('div').toggle();
                $('.hiddenLegend').toggle();
            }
        }

        function CollapseLayers() {

            if (!$('.hiddenLayerText').length > 0) {
                $('.layer0').each(function () {
                    var count;

                    $($(this).find('ul')).each(function () {
                        if (!$(this).has('li').length) {

                            $(this).parent().parent().children('li').children('div').show();


                            var currentIndex = $(this).parent().parent().parent().parent().children('li').attr('class').substring(5);
                            var indexToBe = 1;
                            var a = '-' + (((currentIndex - 1) - indexToBe) * tabLength) + 'px';

                            $(this).parent().parent().parent().parent().children('li').css('margin-left', a);
                            $(this).parent().parent().parent().parent().children('li').children('div').show();

                            count = $(this).parent().parent().parent().parent().children('li').children('div').children('.Source').children('.LayerCount').text();

                        } else {
                            $(this).children('li').children('div').hide();
                        }
                    });

                    var layer = "li[class*=" + "layer" + count + "]";
                    $('<a class="hiddenLayerText">Layers 1 through ' + (count - 1) + ' are hidden.  Click here to view them all.</a>').insertBefore($(this).find(layer).children('div')[0]);

                });
            } else {
                $('.hiddenLayerText').remove();
                $('.layer0').each(function () {
                    $($(this).find('ul')).each(function () {
                        if (!$(this).has('li').length) {

                            $(this).parent().parent().children('li').children('div').show();
                            $(this).parent().parent().parent().parent().children('li').css('margin-left', '0px');
                            $(this).parent().parent().parent().parent().children('li').children('div').show();

                        } else {
                            $(this).children('li').children('div').show();
                        }
                    });
                });
            }
        }


        $(document).on('click', '.btnShowDetails', function () {

            var url = "/api/v1/lineage/description?DataAsset_ID=2";
            if ($($(this).parent().children('.SourceElement_NME')[0]).text()) {
                url += "&DataElement_NME=" + $($(this).parent().children('.SourceElement_NME')[0]).text();
            }

            if ($($(this).parent().children('.SourceObject_NME')[0]).text()) {
                url += "&DataObject_NME=" + $($(this).parent().children('.SourceObject_NME')[0]).text();
            }

            if ($($(this).parent().children('.SourceField_NME')[0]).text()) {
                url += "&DataObjectField_NME=" + $($(this).parent().children('.SourceField_NME')[0]).text();
            }

            var DataObject_DSC_span = $($(this).parent().children('div').children('.detailsPanel').children('.DataObject_DSC')[0]);
            var DataObjectField_DSC_span = $($(this).parent().children('div').children('.detailsPanel').children('.DataObjectField_DSC')[0]);

            var noDetails = $($(this).parent().children('div').children('.noDetails')[0]);

            var panel = $($(this).parent().children('div').children('.detailsPanel'));

            if ($(this).attr("value") == "Show Details") {
                $(this).attr("value", "Hide Details");

                DataObject_DSC_span.empty();
                DataObjectField_DSC_span.empty();

                $.ajax({
                    type: "GET",
                    url: encodeURI(url),
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        panel.toggle();

                        DataObjectField_DSC_span.append(result.DataObjectField_DSC);
                        DataObject_DSC_span.append(result.DataObject_DSC);
                    },
                    error: function (e) {
                        noDetails.toggle();
                    }
                });
            }
            else {
                $(this).attr("value", "Show Details");
                noDetails.hide();
                panel.hide();
            }

        });

        $(document).on('click', '.btnShowChildren', function () {
            console.log(this);
            $($(this).children('span')).toggleClass("fa-plus fa-minus");
            $(this).parent().parent().children("ul").children("li").toggle();


        });


        ko.bindingHandlers.select2 = {
            init: function (el, valueAccessor, allBindingsAccessor, viewModel) {
                ko.utils.domNodeDisposal.addDisposeCallback(el, function () {
                    $(el).select2('destroy');
                });

                var allBindings = allBindingsAccessor(),
                    select2 = ko.utils.unwrapObservable(allBindings.select2);

                $(el).select2(select2);
            },
            update: function (el, valueAccessor, allBindingsAccessor, viewModel) {
                var allBindings = allBindingsAccessor();

                if ("value" in allBindings) {
                    if ((allBindings.select2.multiple || el.multiple) && allBindings.value().constructor != Array) {
                        $(el).val(allBindings.value().split(',')).trigger('change');
                    }
                    else {
                        $(el).val(allBindings.value()).trigger('change');
                    }
                } else if ("selectedOptions" in allBindings) {
                    var converted = [];
                    var textAccessor = function (value) { return value; };
                    if ("optionsText" in allBindings) {
                        textAccessor = function (value) {
                            var valueAccessor = function (item) { return item; }
                            if ("optionsValue" in allBindings) {
                                valueAccessor = function (item) { return item[allBindings.optionsValue]; }
                            }
                            var items = $.grep(allBindings.options(), function (e) { return valueAccessor(e) == value });
                            if (items.length == 0 || items.length > 1) {
                                return "UNKNOWN";
                            }
                            return items[0][allBindings.optionsText];
                        }
                    }
                    $.each(allBindings.selectedOptions(), function (key, value) {
                        converted.push({ id: value, text: textAccessor(value) });
                    });
                    $(el).select2("data", converted);
                }
                $(el).trigger("change");
            }
        };


        function Lineage(data) {
            this.Layer = ko.observable(data.Layer);
            this.LineageID = ko.observable(data.LineageID);
            this.SourceElement_NME = ko.observable(data.SourceElement_NME);
            this.SourceObject_NME = ko.observable(data.SourceObject_NME);
            this.SourceField_NME = ko.observable(data.SourceField_NME);

            this.Sources = ko.observableArray($.map(data.Sources, function (item) { return new Lineage(item) }));

            this.Transformation_TXT = ko.observable(data.Transformation_TXT);
            this.DataAsset_ID = ko.observable(data.DataAsset_ID);
            this.DataElement_NME = ko.observable(data.DataElement_NME);
            this.DataObject_NME = ko.observable(data.DataObject_NME);
            this.DataObject_DSC = ko.observable(data.DataObject_DSC);
            this.DataObjectCode_DSC = ko.observable(data.DataObjectCode_DSC);
            this.DataObjectDetailType_VAL = ko.observable(data.DataObjectDetailType_VAL);
            this.DataObjectField_NME = ko.observable(data.DataObjectField_NME);
            this.DataObjectField_DSC = ko.observable(data.DataObjectField_DSC);
            this.Display_IND = ko.observable(data.Display_IND);

            this.LayerInfo = ko.computed(function () {
                var output = "";
                if (data.Display_IND == 'N') {
                    output += "hiddenLayer ";
                }

                if (data.Layer == 0) {
                    output +=  "layer" + data.Layer;
                } else {
                    output +=  "layer" + data.Layer;
                }
                return output;
            });

            this.HasChildren = ko.computed(function () {
                if (data.Sources.length > 0) {
                    return true;
                } else {
                    return false;
                }
            });

            this.HasTransform = ko.computed(function () {
                if (data.Transformation_TXT.length > 1) {
                    return true;
                } else {
                    return false;
                }
            });


            this.Color = ko.computed(function () {
                var output = "";

                if (data.Layer == 0) {
                } else {
                    output += "layer ";
                }

                switch (data.DataObjectCode_DSC) {
                    case "Cube":
                        output += "cubes";
                        break;
                    case "BO Class":
                        output += "businessObjects";
                        break;
                    case "Table":
                    case "View":
                    default:
                        output += "databases";
                        break;
                }
                return output;

            });

        }

        var loaded = false;

        function ViewModel() {
            var self = this;


            function asyncComputed(evaluator, owner) {
                var result = ko.observable();

                ko.computed(function () {
                    // Get the $.Deferred value, and then set up a callback so that when it's done,
                    // the output is transferred onto our "result" observable
                    evaluator.call(owner).done(result);
                });

                return result;
            }


            self.lineage = ko.observableArray();

            self.availableDataObjectFields = ko.observableArray();

            self.availableDataElements = ko.observableArray();

            self.availableDataObjects = ko.observableArray();

            self.selectedDataObjectField = ko.observable();
            self.selectedDataObject = ko.observable();
            self.selectedDataElement = ko.observable();

            var element = location.href.substr(location.href.lastIndexOf('/') + 1);

            DropdownSelects(true);

            function DropdownSelects(first) {

                $('#filterSpinner').show();

                var url = "/api/v1/lineage/layers?DataAsset_ID=2";

                if ($('#dataObjects').val() && !first) {
                    url += "&DataObject_NME=" + encodeURIComponent($('#dataObjects').val());
                }
                if ($('#dataObjectFields').val() && !first) {
                    url += "&DataObjectField_NME=" + encodeURIComponent($('#dataObjectFields').val());
                }

                $.getJSON(encodeURI(url), function (allData) {
                    allData.push('');
                    self.availableDataElements(allData);

                    var url2 = "/api/v1/lineage/lineageTables?DataAsset_ID=2";

                    if ($('#dataElements').val() && !first) {
                        url2 += "&DataElement_NME=" + encodeURIComponent($('#dataElements').val());
                    }
                    if ($('#dataObjectFields').val() && !first) {
                        url2 += "&DataObjectField_NME=" + encodeURIComponent($('#dataObjectFields').val());
                    }

                    $.getJSON(encodeURI(url2), function (allData2) {
                        allData2.push('');
                        self.availableDataObjects(allData2);
                        if (first) {
                            $('.select2').val([]).trigger('change');
                        }
                    });

                    var url3 = "/api/v1/lineage/businessTerms?DataAsset_ID=2";

                    if ($('#dataElements').val() && !first) {
                        url3 += "&DataElement_NME=" + encodeURIComponent($('#dataElements').val());
                    }
                    if ($('#dataObjects').val() && !first) {
                        url3 += "&DataObject_NME=" + encodeURIComponent($('#dataObjects').val());
                    }

                    $.getJSON(encodeURI(url3), function (allData3) {
                        allData3.push('');
                        self.availableDataObjectFields(allData3);

                        if (first) {
                            $('.select2').val([]).trigger('change');
                        }
                    });

                    var url4 = "/api/v1/lineage/lineage?DataAsset_ID=2";

                    if ($('#dataElements').val()) {
                        url4 += "&DataElement_NME=" + encodeURIComponent($('#dataElements').val());
                    }
                    if ($('#dataObjects').val()) {
                        url4 += "&DataObject_NME=" + encodeURIComponent($('#dataObjects').val());
                    }
                    if ($('#dataObjectFields').val()) {
                        url4 += "&DataObjectField_NME=" + encodeURIComponent($('#dataObjectFields').val());
                    }

                    if (!first) {
                        $.getJSON(encodeURI(url4), function (allData) {
                            var items = $.map(allData, function (item) { return new Lineage(item) });
                            self.lineage(items);
                            $('.layer0').show();
                            $('#filterSpinner').hide();

                            $('.hiddenLayer').children('div').toggle();
                            $('<br />').insertBefore('.layer0')
                            ToggleHiddenRows(true);

                            $('.hiddenLayer').children('div').css('background-color', '#ffe1eb');
                           // $('.hiddenLayer').children('div').css('opacity', '0.75');
                        });
                    }

                });
            }

            $('.select2').on('select2:select', function (e) {
                DropdownSelects(false);
            });

            $('.select2').on('select2:unselect', function (e) {
                DropdownSelects(false);
            });
        };

        ko.applyBindings(new ViewModel());


    </script>
}