<?xml version="1.0"?>
<configuration>
	<sentrySettings>
		<EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
			<!-- AWS Configuration Settings -->
			<config key="UseAWSProfileName">
				<settingList>
					<setting name="DEV,NRDEV" value="true"/>
					<setting name="TEST,NRTEST,QUAL,PROD" value="false"/>
				</settingList>
			</config>
			<config key="AWSProfileName">
				<settingList>
					<setting name="DEV,NRDEV" value="iso-data-nonprod"/>
				</settingList>
			</config>
			<config key="AWSUseProxy">
				<settingList>
					<setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="true"/>
				</settingList>
			</config>
			<config key="AWSAccessKey">
				<settingList>
					<setting name="DEV,NRDEV" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
					<setting name="TEST,NRTEST,QUAL,PROD" externalValueFile="%SecretFile%"/>
				</settingList>
			</config>
			<config key="AWSSecretKey">
				<settingList>
					<setting name="DEV,NRDEV" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
					<setting name="TEST,NRTEST,QUAL,PROD" externalValueFile="%SecretFile%"/>
				</settingList>
			</config>
			<config key="SentryS3ProxyHost">
				<settingList>
					<setting name="DEV,NRDEV" value="webproxy.sentry.com"/>
					<setting name="TEST,NRTEST,QUAL" value="serverproxyqual.sentry.com"/>
					<setting name="PROD" value="serverproxyprod.sentry.com"/>
				</settingList>
			</config>
			<config key="SentryS3ProxyPort">
				<settingList>
					<setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="80"/>
				</settingList>
			</config>
			<config key="AWSRegion">
				<settingList>
					<setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="us-east-1"/>
				</settingList>
			</config>
      <config key="AWS2_0Region">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="us-east-2"/>
        </settingList>
      </config>
			<config key="AWSRootBucket">
				<settingList>
					<setting name="DEV,NRDEV,NRTEST" value="sentry-dataset-management-np-nr"/>
					<setting name="TEST,QUAL" value="sentry-dataset-management-np"/>
					<setting name="PROD" value="sentry-dataset-management"/>
				</settingList>
			</config>
      <config key="AWS2_0RootBucket">
        <settingList>
          <setting name="NRDEV"   value="sentry-data-nrdev-dataset-ae2"/>
          <setting name="DEV"     value="sentry-data-dev-dataset-ae2"/>
          <setting name="NRTEST"  value="sentry-data-nrtest-dataset-ae2"/>
          <setting name="TEST"    value="sentry-data-test-dataset-ae2"/>
          <setting name="QUAL"    value="sentry-data-qual-dataset-ae2"/>
          <setting name="PROD"    value="sentry-data-prod-dataset-ae2"/>
        </settingList>
      </config>
			<config key="S3DataPrefix">
				<settingList>
					<setting name="DEV,NRDEV" value="data-dev/"/>
					<setting name="TEST,NRTEST" value="data-test/"/>
					<setting name="QUAL,PROD" value="data/"/>
				</settingList>
			</config>
			<config key="S3BundlePrefix">
				<settingList>
					<setting name="DEV,NRDEV,NRTEST,TEST,QUAL,PROD" value="bundles/" />
				</settingList>
			</config>
			<config key="AWSPreviewLambdaName">
				<settingList>
					<setting name="DEV,NRDEV,NRTEST" value="" />
					<setting name="TEST,QUAL" value="dataset-preview-np" />
					<setting name="PROD" value="dataset-preview" />
				</settingList>
			</config>
      <config key="SentryAWSLambdaProxyHost">
        <settingList>
          <setting name="DEV,NRDEV" value="" />
          <setting name="TEST,NRTEST,QUAL" value="serverproxyqual.sentry.com" />
          <setting name="PROD" value="serverproxyprod.sentry.com" />
        </settingList>
      </config>
      <config key="SentryAWSLambdaProxyPort">
        <settingList>
          <setting name="DEV,NRDEV" value="" />
          <setting name="TEST,NRTEST,QUAL,PROD" value="8080" />
        </settingList>
      </config>
		</EnvironmentSettings>
	</sentrySettings>
	<appSettings>
		<add key="S3PreviewPrefix" value="Previews/"/>
	</appSettings>
</configuration>