<configuration>
<sentrySettings>
  <EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
    <config key="Expose_TrainingMaterials_CLA_911">
      <settingList>
        <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="true" />
        <setting name="PROD" value="false" />
      </settingList>
    </config>
    <config key="Expose_DaleSearch_CLA_1450">
      <settingList>
        <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="false" />
        <setting name="PROD" value="false" />
      </settingList>
    </config>
    <config key="Remove_Mock_UncompressGzip_Logic_CLA_757">
      <settingList>
        <setting name="DEV,NRDEV,NRTEST,TEST,QUAL" value="true" />
        <setting name="PROD" value="true" />
      </settingList>
    </config>
    <config key="Remove_Mock_Uncompress_Logic_CLA_759">
      <settingList>
        <setting name="DEV,NRDEV,NRTEST,TEST,QUAL" value="true" />
        <setting name="PROD" value="true" />
      </settingList>
    </config>
    <config key="Remove_ConvertToParquet_Logic_CLA_747">
      <settingList>
        <setting name="DEV,NRDEV,NRTEST,TEST,QUAL" value="true" />
        <setting name="PROD" value="true" />
      </settingList>
    </config>
    <config key="Remove_ClaimIQ_mock_logic_CLA_758">
      <settingList>
        <setting name="DEV,NRDEV" value="true" />
        <setting name="PROD" value="true" />
      </settingList>
    </config>
    <config key="Remove_Mock_GoogleAPI_Logic_CLA_1679">
      <settingList>
        <setting name="DEV,NRDEV,NRTEST,TEST,QUAL" value="true" />
        <setting name="PROD" value="true" />
      </settingList>
    </config>
    <config key="Use_AWS_v2_Configuration_CLA_1488">
      <settingList>
        <setting name="DEV,NRDEV" value="true" />
        <setting name="TEST" value="false" />
        <setting name="NRTEST,QUAL,PROD" value="false" />
      </settingList>
    </config>
    <config key="Confluent_Kafka_CLA_1793">
      <settingList>
        <setting name="DEV,NRDEV" value="true" />
        <setting name="TEST" value="true" />
        <setting name="NRTEST,QUAL,PROD" value="false" />
      </settingList>
    </config>
  </EnvironmentSettings>
</sentrySettings>
</configuration>