<configuration>
<sentrySettings>
  <EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
   <config key="Remove_Mock_Uncompress_Logic_CLA_759">
      <settingList>
        <setting name="DEV,NRDEV,NRTEST,TEST,QUAL" value="true" />
        <setting name="PROD" value="true" />
      </settingList>
    </config>
    <config key="Remove_ConvertToParquet_Logic_CLA_747">
      <settingList>
        <setting name="DEV,NRDEV,NRTEST,TEST,QUAL" value="true" />
        <setting name="PROD" value="true" />
      </settingList>
    </config>
    <config key="Remove_ClaimIQ_mock_logic_CLA_758">
      <settingList>
        <setting name="DEV,NRDEV" value="true" />
        <setting name="PROD" value="true" />
      </settingList>
    </config>
    <config key="Remove_Mock_GoogleAPI_Logic_CLA_1679">
      <settingList>
        <setting name="DEV,NRDEV,NRTEST,TEST,QUAL" value="true" />
        <setting name="PROD" value="true" />
      </settingList>
    </config>
    <config key="Use_AWS_v2_Configuration_CLA_1488">
      <settingList>
        <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="true" />
      </settingList>
    </config>
    <config key="Expose_Dataflow_Metadata_CLA_2146">
      <settingList>
        <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="true" />
      </settingList>
    </config>
  </EnvironmentSettings>
</sentrySettings>
</configuration>