<?xml version="1.0"?>
<configuration>
  <sentrySettings>
    <EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
      <config key="HiveOdbcDriver">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="Cloudera ODBC Driver for Apache Hive"/>
        </settingList>
      </config>
      <config key="UseServiceDiscoveryMode">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="true"/>
        </settingList>
      </config>
      <config key="ZookeeperNamesspace">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="hiveserver2"/>
        </settingList>
      </config>
      <config key="HiveServerHost">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="awe-q-apspml-01:2181,awe-q-apspml-02:2181,awe-q-apspml-03:2181"/>
          <setting name="PROD" value="awe-p-apspml-06:2181,awe-p-apspml-07:2181,awe-p-apspml-08:2181"/>
        </settingList>
      </config>
      <config key="HiveOdbcUseKerberos">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="true"/>
        </settingList>
      </config>
      <config key="HiveOdbcKerberosDomainName">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="_HOST"/>
        </settingList>
      </config>
      <config key="HiveOdbcKerberosRealm">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="hive"/>
        </settingList>
      </config>
    </EnvironmentSettings>
  </sentrySettings>  
</configuration>