<?xml version="1.0"?>
<configuration>
  <sentrySettings>
    <EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
      <config key="KafkaDebugLogging">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="false" />
        </settingList>
      </config>

      <!--Confluent implementation configuration parameters-->
      <config key="DSCEventTopic_Confluent">
        <settingList>
          <setting name="DEV" value="DATA-DEV-GOLDENEYE-000000" />
          <setting name="NRDEV" value="DATA-NRDEV-GOLDENEYE-000000" />
          <setting name="NRTEST" value="DATA-NRTEST-GOLDENEYE-000000" />
          <setting name="TEST" value="DATA-TEST-GOLDENEYE-000000A" />
          <setting name="QUAL" value="DATA-QUAL-GOLDENEYE-000000E" />
          <setting name="PROD" value="DATA-PROD-GOLDENEYE-000000A" />
        </settingList>
      </config>
      <config key="Consumer_Event_Topic_List">
        <settingList>
          <setting name="DEV" value="DATA-DEV-GOLDENEYE-000000" />
          <setting name="NRDEV" value="DATA-NRDEV-GOLDENEYE-000000" />
          <setting name="NRTEST" value="DATA-NRTEST-GOLDENEYE-000000" />
          <setting name="TEST" value="DATA-TEST-GOLDENEYE-000000A" />
          <setting name="QUAL" value="DATA-QUAL-GOLDENEYE-000000E" />
          <setting name="PROD" value="DATA-PROD-GOLDENEYE-000000A" />
        </settingList>
      </config>
      <config key="BrokerServers_Confluent">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="FIT-N-KAFKSV-01.sentry.com:9092,FIT-N-KAFKSV-02.sentry.com:9092,FIT-N-KAFKSV-03.sentry.com:9092,FIT-N-KAFKSV-04.sentry.com:9092,FIT-N-KAFKSV-05.sentry.com:9092" />
          <setting name="PROD" value="fit-p-kafksv-01.sentry.com:9092,fit-p-kafksv-02.sentry.com:9092,fit-p-kafksv-03.sentry.com:9092,fit-p-kafksv-04.sentry.com:9092,fit-p-kafksv-05.sentry.com:9092" />
        </settingList>
      </config>
      <config key="sasl_kerberos_service_name_confluent">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="cp-kafka" />
        </settingList>
      </config>
      <config key="KafkaSSL_Confluent">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="true" />
        </settingList>
      </config>
      <config key="CertPath_Confluent">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="Security\cacert_sentry.pem" />
        </settingList>
      </config>

      <config key="MetadataProcessorConsumerGroup">
        <settingList>
          <setting name="DEV" value="DATA-DEV-METADATAPROCESSORSERVICE-001" />
          <setting name="NRDEV" value="DATA-NRDEV-METADATAPROCESSORSERVICE-001" />
          <setting name="TEST" value="DATA-TEST-METADATAPROCESSORSERVICE-001" />
          <setting name="NRTEST" value="DATA-NRTEST-METADATAPROCESSORSERVICE-001" />
          <setting name="QUAL" value="DATA-QUAL-METADATAPROCESSORSERVICE-003" />
          <setting name="PROD" value="DATA-PROD-METADATAPROCESSORSERVICE-001" />
        </settingList>
      </config>
    </EnvironmentSettings>
  </sentrySettings>
</configuration>