<?xml version="1.0"?>
<configuration>
  <sentrySettings>
    <EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
      <config key="DSCEventTopic">
        <settingList>
          <setting name="DEV,NRDEV" value="GOLDENEYE-A072984" />
          <setting name="QUAL" value="GOLDENEYE-000000B" />
          <setting name="NRTEST,TEST,PROD" value="GOLDENEYE-000000A" />
        </settingList>
      </config>
      <config key="KafkaBootstrapServers">
        <settingList>
          <setting name="DEV,NRDEV,NRTEST,TEST" value="fit-d-sdapap-20.sentry.com:6667,fit-d-sdapap-21.sentry.com:6667,fit-d-sdapap-22.sentry.com:6667,fit-d-sdapap-23.sentry.com:6667,fit-d-sdapap-24.sentry.com:6667" />
          <setting name="QUAL" value="awe-q-apspml-01.sentry.com:6667" />
          <setting name="PROD" value="awe-p-apspml-06.sentry.com:6667,awe-p-apspml-07.sentry.com:6667,awe-p-apspml-08.sentry.com:6667" />
        </settingList>
      </config>
      <config key="KafkaDebugLogging">
        <settingList>
          <setting name="NRDEV" value="true" />
          <setting name="DEV,NRTEST,TEST,QUAL,PROD" value="false" />
        </settingList>
      </config>
      <config key="KafkaSSL">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST" value="false" />
          <setting name="QUAL,PROD" value="true" />
        </settingList>
      </config>
      <config key="sasl_kerberos_service_name">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST" value="" />
          <setting name="QUAL" value="hdpqa-kafka" />
          <setting name="PROD" value="hdppr-kafka" />
        </settingList>
      </config>
      <config key="CertPath">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST" value="" />
          <setting name="QUAL,PROD" value="Security\cacert_sentry.pem" />
        </settingList>
      </config>

      <!--Confluent implementation configuration parameters-->
      <config key="DSCEventTopic_Confluent">
        <settingList>
          <setting name="DEV" value="DATA-DEV-GOLDENEYE-000000" />
          <setting name="NRDEV" value="DATA-NRDEV-GOLDENEYE-000000" />
          <setting name="NRTEST" value="DATA-NRTEST-GOLDENEYE-000000" />
          <setting name="TEST" value="DATA-TEST-GOLDENEYE-000000" />
          <setting name="QUAL" value="DATA-QUAL-GOLDENEYE-000000" />
          <setting name="PROD" value="DATA-PROD-GOLDENEYE-000000" />
        </settingList>
      </config>
      <config key="BrokerServers_Confluent">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="FIT-N-KAFKSV-01.sentry.com:9092,FIT-N-KAFKSV-02.sentry.com:9092,FIT-N-KAFKSV-03.sentry.com:9092,FIT-N-KAFKSV-04.sentry.com:9092,FIT-N-KAFKSV-05.sentry.com:9092" />
          <setting name="PROD" value="FIT-P-KAFKSV-01.sentry.com:9092,FIT-P-KAFKSV-02.sentry.com:9092,FIT-P-KAFKSV-03.sentry.com:9092,FIT-P-KAFKSV-04.sentry.com:9092,FIT-P-KAFKSV-05.sentry.com:9092" />
        </settingList>
      </config>
      <config key="sasl_kerberos_service_name_confluent">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="cp-kafka" />
        </settingList>
      </config>
      <config key="KafkaSSL_Confluent">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="true" />
        </settingList>
      </config>
      <config key="CertPath_Confluent">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="Security\cacert_sentry.pem" />
        </settingList>
      </config>

      <config key="MetadataProcessorConsumerGroup">
        <settingList>
          <setting name="DEV" value="DATA-DEV-METADATAPROCESSORSERVICE-001" />
          <setting name="NRDEV" value="DATA-NRDEV-METADATAPROCESSORSERVICE-001" />
          <setting name="TEST" value="DATA-TEST-METADATAPROCESSORSERVICE-001" />
          <setting name="NRTEST" value="DATA-NRTEST-METADATAPROCESSORSERVICE-001" />
          <setting name="QUAL" value="DATA-QUAL-METADATAPROCESSORSERVICE-002" />
          <setting name="PROD" value="DATA-PROD-METADATAPROCESSORSERVICE-001" />
        </settingList>
      </config>
    </EnvironmentSettings>
  </sentrySettings>
</configuration>