@model Sentry.data.Web.BusinessAreaLandingPageModel

<div class="align-bottom">
    @if (Model.Notifications.NotificationCount > 0)
    {
        <span class="liberty-badge liberty-badge-small liberty-badge-red">@Model.Notifications.NotificationCount</span>
    }
    else
    {
        <span class="liberty-badge liberty-badge-small liberty-badge-white">@Model.Notifications.NotificationCount</span>
    }

    <i id="libertyBell" title="Notifications" data-placement="bottom" class="liberty-bell icon-bell" data-toggle="tooltip"> </i>
</div>
