@model Sentry.data.Web.BusinessAreaLandingPageModel

<div class="bs-component" style="max-height:250px; overflow-y: auto;">
    <div class="list-group">

        @if (Model.HasActiveNotification)
        {
            foreach (SystemNotificationItemModel n in Model.Notifications.CriticalNotifications)
            {
                @Html.Partial("~/Views/BusinessArea/_LibertyBellPopoverItem.cshtml", n)
            }

            foreach (SystemNotificationItemModel n in Model.Notifications.StandardNotifications)
            {
                @Html.Partial("~/Views/BusinessArea/_LibertyBellPopoverItem.cshtml", n)
            }
        }
    </div>
</div>




