@model Sentry.data.Web.SystemNotificationItemModel

<div class="list-group-item-liberty">
    <div class="liberty-alert-icon-container">
        <div class="liberty-alert-icon fas fa-exclamation-triangle" style="color: @Model.Color"> </div>
    </div>
    <div class="liberty-alert-item-content">
        <div class="liberty-alert-category"><strong>@Model.NotificationDate</strong></div>
        <p Class="list-group-item-text"><strong>@Model.TitleDecoded</strong></p>
        <p Class="list-group-item-text">@Model.MessageDecoded</p>

    </div>
</div>
