@model Sentry.data.Web.BusinessAreaLandingPageModel

    <div class="showing-active-notifications">
        <div class="bs-component " style="max-height:500px; overflow-y: auto;">
            <div class="list-group">

                @if (Model.HasActiveNotification)
                {
                    foreach (SystemNotificationItemModel n in Model.Notifications.CriticalNotifications)
                    {
                        @Html.Partial("~/Views/BusinessArea/_LibertyBellPopoverItem.cshtml", n)
                    }

                    foreach (SystemNotificationItemModel n in Model.Notifications.StandardNotifications)
                    {
                        @Html.Partial("~/Views/BusinessArea/_LibertyBellPopoverItem.cshtml", n)
                    }
                }
                else
                {
                    <div class="list-group-item ">
                        <div class="liberty-alert-icon-container">
                            <div class="liberty-alert-icon fas fa-exclamation-triangle" style="color: green"> </div>
                        </div>
                        <div class="liberty-alert-item-content">
                            <p Class="list-group-item-text"><strong>Notifications cease to exist.</strong></p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <a id="showActiveNotificationBtn" Class="list-group-item" style="background-color: #eee;text-align:center; cursor: pointer;">Show Expired Notifications </a>
        <a id="showExpiredNotificationBtn" Class="list-group-item" style="background-color: #eee;text-align:center; cursor: pointer;">Show Active Notifications </a>

    </div>