@model Sentry.data.Web.BusinessAreaLandingPageModel

<span class="liberty-badge liberty-badge-small liberty-badge-red" style="float: right; margin-right: 0.7em;">@Model.Notifications.NotificationCount</span>
<span title="Notifications" data-placement="bottom" class="liberty-bell glyphicon glyphicon-bell"> </span>

