@*@model Sentry.data.Web.NotificationModel
    @{
        ViewBag.Title = "Notification Hero";
    }*@

    <span class="badge-man badge-man-small badge-man-red" style="float: right; margin-right: 0.7em;">8</span>
    <span title="Notifications" data-placement="bottom" class="notification-bell-icon glyphicon glyphicon-bell"> </span>

   