@*@model Sentry.data.Web.NotificationModel
    @{
        ViewBag.Title = "Notification Hero";
    }*@

    <span class="w3-badge w3-small w3-red" style="float: right; margin-right: 0.7em;">8</span>

    <div class="alert-notification-hero">
        <span title="Alerts" data-placement="bottom" class="alert-notification-icon-hero glyphicon glyphicon-bell"> </span>
    </div>
