@using Sentry.data.Web;
@model BusinessAreaLandingPageModel
@{
    ViewBag.Title = "Personal Lines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="pl-landing-pg-wrapper">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img id="dairyland-logo" alt="Dairyland Logo" src="~/Images/dairyland_logo.png" width="220" />

                <div class="btn-group dataset-operation-button hamburger-man" data-toggle="tooltip" data-placement="top" title="Additional Actions" style="float: right;">

                    <button type="button"
                            class="btn btn-default borderdk_gray borderdk_blueGray dropdown"
                            data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 50px, 0px); top: -10px; left: 0px; will-change: transform;">
                        <li id="SubscribeModal" style="cursor: pointer;" data-id="1" data-placement="top" title="Subscribe">
                            <a>
                                Subscribe
                            </a>
                        </li>
                    </ul>
                </div>

                @Html.Partial("~/Views/BusinessArea/_LibertyBell.cshtml")

             <div style="float: right; margin-right: 0.3em; font-size: 28px;" >
                 <button type="button" onclick="location.href = 'mailto:BusinessInformationTeam@sentry.com?Subject=Contact%20%20-%20BusinessInformationTeam';" id="EnvelopeMan" class="glyphicon glyphicon-envelope" >
                 </button>
             </div>   

            </div>
        </div>


            <div class="row">
                <div sho class="col-sm-12 col-md-12 col-lg-12">

                    @* loop through each row in the model *@
                    @foreach (BusinessAreaTileRowModel row in Model.Rows)
                    {
                        @Html.Partial("_LandingPageTile", row)
                    }

                </div>
            </div>
     </div>


        @section Scripts {
            <script type="text/javascript">

                $(function () {
                    data.BusinessArea.init(1);
                });

            </script>
        }
