@using Sentry.data.Web;
@model BusinessAreaLandingPageModel
@{
    ViewBag.Title = "Personal Lines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="pl-landing-pg-wrapper">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img id="dairyland-logo" alt="Dairyland Logo" src="~/Images/dairyland_logo.png" width="220" />



                <div class="dataset-operation-button hamburger-man" style="float: right;">

                    <a class="btn px-3">
                        @Html.Partial("~/Views/BusinessArea/_LibertyBell.cshtml")
                    </a>

                    <a class="btn px-3"
                       onclick="location.href = 'mailto:BusinessInformationTeam@sentry.com?Subject=Contact%20%20-%20BusinessInformationTeam';" id="EnvelopeMan" data-toggle="tooltip" data-placement="top" title="Contact">
                        <em class="icon-envelope align-self-center mr-0 align-middle dsc-blue-text"></em>
                    </a>

                    <div class="btn-group" data-toggle="tooltip" data-placement="top" title="Additional Actions">
                        <a class="btn px-3" data-toggle="dropdown">
                            <em class="icon-hamburger dsc-blue-text mr-0 align-middle"></em>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-start">
                            <a class="dropdown-item">
                                Subscribe
                            </a>
                        </div>
                    </div>
                </div>



            </div>
        </div>


            <div class="row">
                <div sho class="col-sm-12 col-md-12 col-lg-12">

                    @* loop through each row in the model *@
                    @foreach (BusinessAreaTileRowModel row in Model.Rows)
                    {
                        @Html.Partial("_LandingPageTile", row)
                    }

                </div>
            </div>
     </div>


        @section Scripts {
            <script type="text/javascript">

                $(function () {
                    data.BusinessArea.init(1);
                });

            </script>
        }
