<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="sentrySettings">
      <section name="EnvironmentSettings" type="Sentry.Configuration.EnvironmentSettingsSectionHandler,Sentry.Configuration" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <sentrySettings>
    <!-- NOTE: Use Ctrl+K Ctrl+D to reformat your config file to make the following readable -->
    <EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
    </EnvironmentSettings>
    <EnvironmentSettings defaultDomain="sentry.com">
      <defaultEnvironmentList>
        <env name="Dev">
          <webHost name="localhost" />
          <machine nameRegex="(sho|dix|mad)(is|it).*" />
        </env>
        <env name="Test">
          <webHost nameRegex="_MyApp_test.?" />
          <machine nameRegex="(sho|dix)-t-.*" />
        </env>
        <env name="Qual">
          <webHost nameRegex="_MyApp_qual.?" />
          <machine nameRegex="(sho|dix)-q-.*" />
        </env>
        <env name="Prod">
          <webHost nameRegex="_MyApp_.?" />
          <machine nameRegex="(sho|dix)-p-.*" />
        </env>
      </defaultEnvironmentList>
      <config key="EnvironmentName">
        <settingList>
          <setting name="Dev" value="Dev" />
          <setting name="Test" value="Test" />
          <setting name="Qual" value="Qual" />
          <setting name="Prod" value="Prod" />
        </settingList>
      </config>
      <!-- Add other config keys as needed -->
    </EnvironmentSettings>
  </sentrySettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
