@model DateTime
@{
    var htmlAttributes = AnonymousTypeUtils.GetDictionaryFromAnonymousType<Object>(ViewData["htmlAttributes"]);
    htmlAttributes["data-provide"] = "datepicker";
    if (! htmlAttributes.ContainsKey("data-date-format"))
    {
        htmlAttributes["data-date-format"] = "mm/dd/yyyy";
    }
}
<div class="input-group">
    <span class="input-group-addon"><span class="far fa-calendar-alt"></span></span>
    @if (Model == DateTime.MinValue)
    {
    @Html.TextBoxFor((model) => model, "", htmlAttributes)
    }
    else
    {
    @Html.TextBoxFor((model) => model, String.Format("{0:MM/dd/yyyy}", Model), htmlAttributes)
    }
</div>
