@model FooterModel

<div class="container-fluid">
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <span class="sentry-app-version pull-right">Sentry.data.Web v @Model.AppVersion</span>
            </div>
        </div>
    </footer>
</div>
