@model FooterModel

<div class="container-fluid">
    <footer class="fixed-bottom">
        <div class="row">
            <div class="col-lg-12">
                <span class="sentry-app-version pull-right">Sentry.data.Web v @Model.AppVersion</span>
            </div>
        </div>
    </footer>
</div>

<!-- UX FOOTER TODO FIX FOOTERMODEL APP VERSION or create Jira item

    <footer class="page-footer sentry-dark-gray center-on-small-only white-text footer">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 class="title white-text">Content</h5>
            <p>Here we could put content such as contact (DSC Support) or helplinks.</p>
        </div>
        <div class="col-md-6">
            <h5 class="title white-text">User Guides</h5>
            <ul>
                <li><a href="#!">Link 1</a></li>
                <li><a href="#!">Link 2</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container-fluid">
        Sentry.Data.Web 2.0.7
    </div>
</div>

</footer>

    -->

