<div id="daleContainer" style="display:none; margin-top:25px;">

    <select id="daleColumnPicker" >
        <option disabled selected value>Column Selector</option>
        <option value="0">Server</option>
        <option value="1">Database</option>
        <option value="2">Table</option>
        <option value="3">Column</option>
        <option value="4">Type</option>
        <option value="5">Precision</option>
        <option value="6">Scale</option>



    </select>


    <table class="table table-striped table-bordered blue" id="daleResultsTable" style="width:100%">
        <thead>
            <tr class="table-header_blue categoryBanner-blue">
                <th>Server</th>
                <th>Database</th>
                <th>Table</th>
                <th>Column</th>
                <th>Type</th>
                <th>Precision</th>
                <th>Scale</th>
            </tr>
        </thead>
    </table>
</div>