<div id="daleContainer" style="display:none; margin-top:25px; overflow-x: auto;">

    <table class="table table-striped table-bordered blue" id="daleResultsTable" style="width:100%">
        <thead>
            <tr class="filter-row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td></td>
                <td></td>
                <td></td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="table-header_blue categoryBanner-blue">
                <th>Asset</th>
                <th>Server</th>
                <th>Database</th>
                <th>Table/View Name</th>
                <th>Type</th>
                <th>Column</th>

                <th>Is Sensitive</th>
                <th>Alias Name</th>
                <th>Server Type</th>

                <th>Datatype</th>
                <th>Length</th>
                <th>Precision</th>
                <th>Scale</th>
                <th>Is Nullable</th>
                <th>Discovery Date</th>
            </tr>
        </thead>
    </table>
</div>