@using Sentry.data.Web;
@Model DaleSearchModel
@{
    ViewBag.Title = "Dale Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12">
    <p class="landing-pg-tile-title blue">Ask Dale</p>
    <div class="landing-pg-image" style="background-image: url('/Images/Dale/Dale.jpg');"></div>
    <p class="landing-pg-hyperlink"><a target="_blank" href="todo" class="blue">Ask Dale! &gt;</a></p>
</div>