<div id="daleContainer" style="display:none; margin-top:25px;">

    <table class="table table-striped table-bordered blue" id="daleResultsTable" style="width:100%">
        <thead>
            <tr class="table-header_blue categoryBanner-blue">
                <th>Server</th>
                <th>Database</th>
                <th>Table/View Name</th>
                <th>Type</th>
                <th>Column</th>

                <th>Datatype</th>
                <th>Length</th>
                <th>Precision</th>
                <th>Scale</th>
                <th>Is Nullable</th>
                <th>Effective Date</th>
            </tr>
        </thead>
    </table>
</div>