@model DaleSearchModel

<div id="daleContainer" style="display:none;">
    <table class="table table-striped table-bordered blue" id="daleResultsTable" style="width:100%">
        <thead>
            <tr class="filter-row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            
                @*ONLY SHOW NEW COLUMNS IF FEATURE FLAG IS TRUE*@
                @if (Model.CLA3550_DATA_INVENTORY_NEW_COLUMNS)
                {
                    <td></td>
                    <td></td>
                }
            </tr>

            <tr class="table-header_blue categoryBanner-blue">
                <th>Asset</th>
                <th>Server</th>
                <th>Database</th>
                <th>Table/View Name</th>
                <th>Type</th>
                <th>Column</th>
                <th>Is Sensitive</th>
                <th>Owner Verified</th>
                <th>Server Type</th>
                <th>Datatype</th>
                <th>Length</th>
                <th>Precision</th>
                <th>Scale</th>
                <th>Is Nullable</th>
                <th>Discovery Date</th>
                <th>Source Type</th>

                @*ONLY SHOW NEW COLUMNS IF FEATURE FLAG IS TRUE*@
                @if (Model.CLA3550_DATA_INVENTORY_NEW_COLUMNS)
                {
                    <th>Scan Category</th>
                    <th>Scan Type</th>
                }
            </tr>
        </thead>
    </table>
</div>