@using Sentry.data.Web;
@model DaleSearchModel

@{
    ViewBag.Title = "Data Inventory";
    ViewBag.Fluid = true;   /*this is needed so results grid grows because of column additions*/
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Need a seperate bootstrap class container here because parent layout is set to fluid from above so the result row can grow*@
<div class="container">

    <div class="row" style="margin-top:10px; margin-left: 80px;">

        <div style="float:left;">
            <img style="height:50px;" src='~/Images/Dale/DataInventoryIcon.png' alt="DataInventory Image" />
        </div>

        <div style="float:left;">
            <h1 class="htCenter datasetHeader">Data Inventory</h1>
        </div>

        <div style="float:left; margin-left: 2px;">
            <a target="_blank" rel="noopener noreferrer" href="https://confluence.sentry.com/display/CLA/Data+Inventory">
                <em class="glyphicon glyphicon-info-sign" style="color:#003da5;"></em>
            </a>
        </div>

    </div>

    <div class="dale-search-row" style="margin-top:12px;">

        <div style="float:left;">

            <div id="daleCriteriaContainer" style="display: table; width: 300px;">

                <span id="daleSearchClick" class="input-group-addon clickable" style="width: 50px;height:30px;" onclick="$(function() {$('#daleSearchCriteria').focus();});">
                    <em class="glyphicon glyphicon-search"></em>
                </span>

                <span id="daleSearchClickSpinner" class="input-group-addon" style="width: 50px;height:30px; display:none;" disabled onclick="$(function() {$('#daleSearchCriteria').focus();}); ">
                    <em class="fa fa-circle-o-notch fa-spin"></em>
                </span>

                <input type="text" id="daleSearchCriteria" name="searchPhrase" class="form-control" style="width:500px" />

            </div>

        </div>

        <div id ="radioMadness" style="float:left;margin-left:25px;" >

            <div style="text-align: left; font-family: KievitSlabWeb W03,Lucida Sans,serif;">
             
                <label style="text-align:left; width:100px;">
                    <input type="radio" name="Destiny" id="DestinyTableRadio" value=@Sentry.data.Core.GlobalEnums.DaleDestiny.Object>
                    Table/View
                </label>

                <label style="text-align:left; width:75px;">
                    <input type="radio" name="Destiny" id="DestinyColumnRadio" value=@Sentry.data.Core.GlobalEnums.DaleDestiny.Column checked="checked">
                    @Sentry.data.Core.GlobalEnums.DaleDestiny.Column
                </label>

            </div>

        </div>

        @if (Model.CanDaleSensitiveView)
        {
            <div style="float:left;margin-left:10px;margin-top: 2px;">

                <em class="glyphicon glyphicon-warning-sign" style="color:#003da5;"></em>
                <a href="#" id="sensitiveSearchLink" style="color:#003da5;font-weight: 500;">Show Sensitive Columns</a>

            </div>
        }

    </div>

</div>

@*result row here obeys container-fluid from layout so it can grow to max width*@
<div class="dale-result-row">
    <div>
        @Html.Partial("~/Views/Dale/DaleResult.cshtml")
    </div>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">

        $(function () {
            data.Dale.init();
        });

    </script>
}