@model AssociatedDataFlowModel

@{ 
    string color = "categoryBanner-blue";
}

<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionSteps-@Model.Id" role="tablist" aria-multiselectable="true">
    @* DataflowStep metadata *@
    @foreach (DataFlowStepModel stepModel in Model.Step.Where(w => w.ActionName == "S3 Drop" || w.ActionName == "Producer S3 Drop").ToList())
    {
        <!-- Accordion card -->
        <div class="card data-flow-card-radius mr-3 mb-1">
            <!-- Card header -->
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionSteps-@Model.Id" href="#collapse-step-@stepModel.Id" aria-expanded="false" aria-controls="collapse-step-@stepModel.Id">
                <div class="card-header data-flow-card-radius @color" role="tab" id="heading-step-@stepModel.Id">
                    <h6 class="text-white mb-0 pt-0">@stepModel.ActionName <em class="fas fa-angle-down rotate-icon"></em></h6>
                </div>
            </a>

            <!-- Card body -->
            <div id="collapse-step-@stepModel.Id" class="collapse" role="tabpanel" aria-labelledby="heading-step-@stepModel.Id" data-parent="#accordionSteps-@Model.Id">
                <div class="card-body ml-3 mr-3">
                    <div>
                        <span class="font-weight-bold">AWS S3 Drop Location:</span>
                        @stepModel.RootAwsUrl@stepModel.TriggetKey</div>
                </div>
            </div>
        </div>
        <!-- Accordion card -->
    }

    @Html.Partial("~/Views/RetrieverJob/_RetrieverJobAccordionCards.cshtml", new RetrieverJobAccordionModel("#accordionSteps-" + Model.Id, Model.DatasetEnvironmentType, Model.CLA4260_QuartermasterNamedEnvironmentTypeFilter, Model.RetrieverJobs))
</div>
<!-- Accordion wrapper -->