@model List<AssociatedDataFlowModel>

<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionDataFlows" role="tablist" aria-multiselectable="true">
    @foreach (AssociatedDataFlowModel ext in Model)
    {
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="heading-dataflow-@ext.Id">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionDataFlows" href="#collapse-dataflow-@ext.Id" aria-expanded="false" aria-controls="collapse-dataflow-@ext.Id">
                    <h6 class="pt-3">
                        @ext.Name <em class="fas fa-angle-down rotate-icon"></em>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapse-dataflow-@ext.Id" class="collapse" role="tabpanel" aria-labelledby="heading-dataflow-@ext.Id" data-parent="#accordionDataFlows">
                <div class="card-body">
                    @{
                        List<DataFlowStepModel> steps = ext.Step.Where(w => w.ActionName != "S3 Drop" || w.ActionName != "Raw Storage" || w.ActionName != "Schema Map").ToList();
                        if (steps.Any())
                        {
                            <p>This dataflow contains the following steps:</p>
                            <ol>
                                @foreach (DataFlowStepModel step in steps.OrderBy(o => o.ExecutionOrder))
                                {
                                    <li>@step.ActionName</li>
                                }
                            </ol>
                        }
                        else
                        {
                            <p>This dataflow does not contain any special processing.</p>
                        }

                        Html.RenderPartial("_DataFlowStepAccordion", ext.Step.Where(w => w.ActionName == "S3 Drop" || w.ActionName == "Producer S3 Drop").ToList());

                        foreach (Sentry.data.Core.RetrieverJob extJob in ext.RetrieverJobs)
                        {
                            Html.RenderPartial("_RetrieverJobAccordion", extJob, ViewData);
                        }

                        if ((bool)ViewData["DisplayDataflowEdit"])
                        {
                            <a class="btn-sm btn-primary" href="/DataFlow/Edit/@ext.Id">Edit</a>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- Accordion card -->
    }
</div>
<!-- Accordion wrapper -->