@model Sentry.data.Core.MediaTypeExtension

@using (Html.BeginCollectionItem("ExtensionMappings"))
{
    <div class="container">
        <div class="md-form extensionEntry">
            @Html.TextBoxFor(m => m.Key, new { @value = "", @class = "form-control" })
            @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
        </div>
        <div class="md-form extensionEntry">
            @Html.TextBoxFor(m => m.Value, new { @value = "", @class = "form-control" })
            @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
        </div>
        <a class="removeMapping" style="display: inline-block; margin-left: 10px;"><em class="fas fa-minus pr-3"></em>Remove</a>
    </div>
}
