@model Sentry.data.Core.RequestHeader

@using (Html.BeginCollectionItem("Headers"))
{    
    <div class="container">
        <div class="md-form headerEntry">
            @Html.TextBoxFor(m => m.Key, new { @value = "", @class = "form-control" })
            @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
        </div>
        <div class="md-form headerEntry">
            @Html.TextBoxFor(m => m.Value, new { @value = "", @class = "form-control" })
            @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
        </div>
        <a class="removeHeader" style="display: inline-block; margin-left: 10px;"><em class="fas fa-minus pr-3"></em>Remove Header</a>
    </div>
}
