@model DatasetFileConfigsModel
@{
    ViewBag.Title = "Create Data File Config";
}

    <div id="DatasetFileConfigFormContainer">
        @Html.Partial("_DatasetFileConfigCreate", Model)
    </div>

@section Scripts {
    <script>
        $(function () {
            var pageSubmit = data.Config.CreateFormSubmitInit;
            var pageCancel = data.Config.CreateFormCancelInit;

            data.Config.CreateInit(pageSubmit, pageCancel);            
        });
    </script>
}










