@model Sentry.data.Web.DatasetFileConfigsModel
@{
    ViewBag.Title = "Manage Data File Configs";
}


<div>
    <div id="detailSectionHeader_DataFileConfigs">
        <em class="fas fa-chevron-down element detailSectionHeader section_arrow_datafiles" id="icon_detailSectionHeader_DataFileConfigs"></em>
        <h2 class="detailSection ">Data File Configs</h2>
    </div>
    <div id="hide_detailSectionHeader_DataFileConfigs">
        <table class="table table-striped table-bordered " id="datasetFileConfigsTable" width="90%;">
            <thead>
                <tr>
                    <th></th>
                    <th>Edit</th>
                    <th>Dataset Name</th>
                    <th>Config File Name</th>
                    <th>Search Criteria</th>
                    <th>Target File Name</th>
                    <th>Regex Search</th>
                    <th>Overwrite Dataset File</th>
                    <th>Versions To Keep</th>
                    <th>File Type ID</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts{

@Scripts.Render("~/bundles/dataTables")

<script>
    $(function () {
        data.ManageConfigs.Init();
    });
</script>
    
}