@model List<Sentry.data.Core.DataAsset>

<div class="gridArea hidden-xs ">
    <a class="all blueBox BG_blue" href="/Dataset/Index">
        <div class="vertCenterTall">
            <img src="~/Images/Icons/Datasets.svg" class="btnImg" />
            <h3 class="btnTitle lt_blue">Datasets</h3>
        </div>
    </a>

    <a class="all orangeBox BG_orange" href="#">
        <div class="vertCenter">
            <img src="~/Images/Icons/Forums.svg" class="btnImg" />
            <h3 class="btnTitle orange">Forums</h3>
        </div>
    </a>

    <a class="all grayBox row BG_blueGray" href="#">
        @*<div class="col-xs-6 vertCenter">
            <img src="~/Images/Home/industry.png" class="btnImg" />
            <h3 class="btnTitle blueGray">Metadata</h3>
        </div>

        <div class="col-xs-6">
            <p class="blueGray vertCenter">Information about other information. So kind of like a shipping ship that ships shipping ships.</p>
        </div>*@

        <div class="vertCenter">
            <img src="~/Images/Icons/Metadata.svg" class="btnImg" />
            <h3 class="btnTitle blueGray">Metadata</h3>
        </div>
    </a>

    <a class="all greenBox BG_green" href="/DataAsset/Index">
        @*<div class="col-xs-6 vertCenter">
            <img src="~/Images/Home/government.png" class="btnImg" />
            <h3 class="btnTitle green">Data Assets</h3>
        </div>

        <div class="col-xs-6">
            <ul class="btnAssetList green vertCenter">
                <li>SERA CL &amp; PL</li>
                <li>SERA Enterprise</li>
                <li>PCR CL &amp; PL</li>
                <li>CL &amp; PL Policy ODS</li>
                <li>Claim ODS</li>
                <li>LASER</li>
            </ul>
        </div>*@

        <div class="vertCenter">
            <img src="~/Images/Icons/DataAssets.svg" class="btnImg" />
            <h3 class="btnTitle green">Data Assets</h3>
        </div>
    </a>

    <a class="all ltBlueBox BG_ltBlue" href="#">
        <div class="vertCenterTall">
            <img src="~/Images/Icons/Intake.svg" class="btnImg" />
            <h3 class="btnTitle blue">Intake</h3>
            @*<p class="blue btnDesc">Centralized location to report defects, request enhancements, search for and get status on existing requests.</p>*@
        </div>
    </a>

    <a class="all plumBox BG_plum" href="#">
        <div class="vertCenter">
            <img src="~/Images/Icons/Tools.svg" class="btnImg" />
            <h3 class="btnTitle plum">Tools</h3>
        </div>
    </a>

    <a class="all goldBox BG_gold" href="#">
        <div class="vertCenter">
            <img src="~/Images/Icons/Blogs.svg" class="btnImg" />
            <h3 class="btnTitle gold">Blogs</h3>
        </div>
    </a>
</div>

<center class="visible-xs">
    <div class="gridArea-sm">
        <a class="all greenBox BG_green" href="/DataAsset/Index">
            <div class="vertCenter">
                <img src="~/Images/Icons/DataAssets.svg" class="btnImg" />
                <h3 class="btnTitle green">Data Assets</h3>
            </div>
        </a>
        <a class="all blueBox BG_blue" href="/Dataset/Index">
            <div class="vertCenterTall">
                <img src="~/Images/Category/claim.svg" class="btnImg" />
                <h3 class="btnTitle lt_Blue">Datasets</h3>
            </div>
        </a>

        <a class="all ltBlueBox BG_ltBlue" href="#">
            <div class="vertCenterTall">
                <img src="~/Images/Icons/Intake.svg" class="btnImg" />
                <h3 class="btnTitle blue">Intake</h3>
                <p class="blue btnDesc">Centralized location to report defects, request enhancements, search for and get status on existing requests.</p>
            </div>
        </a>

        <a class="all grayBox row BG_blueGray" href="#">
            <div class="col-xs-6 vertCenter">
                <img src="~/Images/Icons/Metadata.svg" class="btnImg" />
                <h3 class="btnTitle blueGray">Metadata</h3>
            </div>

            <div class="col-xs-6">
                <p class="dk_blueGray vertCenter">Information about other information. So kind of like a shipping ship that ships shipping ships.</p>
            </div>
        </a>

        <a class="all plumBox BG_plum" href="#">
            <div class="vertCenter">
                <img src="~/Images/Icons/Tools.svg" class="btnImg" />
                <h3 class="btnTitle plum">Tools</h3>
            </div>
        </a>

        <a class="all orangeBox BG_orange" href="#">
            <div class="vertCenter">
                <img src="~/Images/Icons/Forums.svg" class="btnImg" />
                <h3 class="btnTitle orange">Forums</h3>
            </div>
        </a>

        <a class="all goldBox BG_gold" href="#">
            <div class="vertCenter">
                <img src="~/Images/Icons/Blogs.svg" class="btnImg" />
                <h3 class="btnTitle gold">Blogs</h3>
            </div>
        </a>
    </div>
</center>
