@model HomeModel
@{
    ViewData["Title"] = "Data at Sentry";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}


<div class="container body-content">

    <div class="row">

        @* left column for the tiles *@
        <div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">

            @* row for the first Business Intelligence (spans entire row) *@
            <div class="row">

                <div id="ds-wrapper" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <a href="/BusinessIntelligence"><h2 class="home-tile-link-bi">Business Intelligence</h2></a>
                    <div class="home-photo bg-photo-bi border-btm-blue"></div>
                    <div id="ds-content-wrapper" class="home-tile">
                        <p>
                            The Business Intelligence area provides easy access to numerous exhibits and dashboards that are created at Sentry.
                            We encourage the use of this information to promote collaboration and inform decision making.
                        </p>
                        @if (Model.DirectToSearchPages)
                        {
                            <a href="/Search/BusinessIntelligence" class="home-tile-link-bi">View Business Intelligence &gt;</a>
                        }
                        else
                        {
                            <a href="/BusinessIntelligence" class="home-tile-link-bi">View Business Intelligence &gt;</a>
                        }
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div id="ds-wrapper" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <a href="/Dataset"><h2 class="home-tile-link-bi sentry-dark-green-text">Datasets</h2></a>
                    <div class="home-photo bg-photo-ds border-btm-green"></div>
                    <div id="ds-content-wrapper" class="home-tile">
                        <p>
                            Do you use or produce a dataset that may be useful to others? View or upload the details here.
                        </p>
                        @if (Model.DirectToSearchPages)
                        {
                            <a href="/Search/Datasets" class="home-tile-link-ds">View Datasets &gt;</a>
                        }
                        else
                        {
                            <a href="/Dataset" class="home-tile-link-ds">View Datasets &gt;</a>
                        }
                    </div>
                </div>

            </div>

            <p>&nbsp;</p>

            @* second row for Datasets and Data Assets *@
            <div class="row">

                <div id="ds-wrapper" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <a href="/DataInventory/Search"><h2 class="home-tile-link-di-large ">Data Inventory</h2></a>
                    <div class="home-photo bg-photo-di border-btm-yellow"></div>
                    <div id="ds-content-wrapper" class="home-tile">
                        <p>
                            Data Inventory allows users to search columns, Tables/Views, and Data Assets from all of Sentry's SQL Server databases.
                        </p>
                        <a href="/DataInventory/Search" class="home-tile-link-di">View Data Inventory &gt;</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div id="da-wrapper" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <a href="/DataAsset/Index"><h2 class="home-tile-link-bi sentry-dark-plum-text">Data Assets</h2></a>
                    <div class="home-photo bg-photo-da border-btm-plum"></div>
                    <div id="da-conent-wrapper" class="home-tile">
                        <p>
                            Are you looking for information about our strategic data assets? This section includes general asset
                            information including data lineage, asset update time, data models, consumer guides and alerting.
                        </p>
                        <a href="/DataAsset/Index" class="home-tile-link-da">View Data Assets &gt;</a>
                    </div>
                </div>

            </div>

        </div>



        @if (Model.CLA2838_DSC_ANOUNCEMENTS)
        {
            @*VERSION WITH DSC ANNOUNCEMENTS*@
            <div class="col-md-3">

                @*FAVORITES SECTION*@
                <h4 class="float-l">My Favorites</h4>
                <div id="edit-favorites-icon" class="float-r clickable pt-3" data-toggle="tooltip" data-placement="top" title="Edit Favorites"><em class="far fa-edit"></em></div>
                <div class="border-btm-blue clearFloat"></div>

                <div id="favoritePanel" class="favorite-add-scroll">
                    <div class="favoriteSpinner text-center">
                        <span class="sentry-spinner"></span>
                    </div>
                </div>

                @*ANNOUNCEMENTS SECTION*@
                <h4 class="float-l">Announcements</h4>
                <div id="edit-Feed-icon" class="float-r clickable pt-3" data-toggle="tooltip" data-placement="top" title="Create Announcement" onclick="location.href = 'Notification/ManageNotification';">     <em class="far fa-edit">   </em>       </div>
                <div id="subscribe-Feed-icon" class="float-r clickable pt-3" data-toggle="tooltip" data-placement="top" title="Subscribe">                                                                            <em class="far fa-envelope"> </em>       </div>
                <div class="border-btm-blue clearFloat"></div>

                <div id="feed" class="feedBox">
                    <div class="feedSpinner text-center">
                        <span class="sentry-spinner"></span>
                    </div>
                </div>
            </div>
        }
        else
        {
            @*VERSION WITHOUT DSC ANNOUNCEMENTS.  NOTE! DELETE THIS ENTIRE SECTION WHEN Model.CLA2838_DSC_ANOUNCEMENTS IS TRUE*@
            <div class="col-md-3">

                <h2 class="float-l">My Favorites</h2>
                <div id="edit-favorites-icon" class="float-r clickable" data-toggle="tooltip" data-placement="top" title="Edit Favorites"><em class="far fa-edit"></em></div>
                <div class="border-btm-blue clearFloat"></div>

                <div id="favoritePanel">
                    <div class="favoriteSpinner text-center">
                        <span class="sentry-spinner"></span>
                    </div>
                </div>

            </div>
        }

    </div>

</div>

@section Scripts {
    <script>
        $(function () {

            data.Home.CLA2838_DSC_ANOUNCEMENTS = @Model.CLA2838_DSC_ANOUNCEMENTS.ToString().ToLower();      //SET FEATURE FLAG SO JS CAN USE LATER.  DELETE THIS WHEN THIS FEATURE GOES LIVE
            data.Home.Init();
            data.Dataset.IndexInit();

            $('.browse-category-card').click(function (e) {
                var storedNames = JSON.parse(localStorage.getItem("filteredIds"));

                if (storedNames != null) {
                    for (i = 0; i < storedNames.length; i++) {
                        $('#' + storedNames[i]).prop('checked', false);
                    }

                    localStorage.removeItem("filteredIds");
                }

                localStorage.removeItem("searchText");
            });

            $('#DatasetSearch').click(function (e) {
                localStorage.removeItem("filteredIds");

                localStorage.removeItem("searchText");

                localStorage.setItem("searchText", $('#SearchText')[0].value);
            });

            $('.input-group-addon').click(function (e) {
                $('#DatasetSearch').submit();
            });

        });


        function GetFile(location, datasetId) {
            var link = $(this);
            console.log(link.attr("data-id"));
            $.ajax({
                url: '/ExternalFile/HasReadPermissions?pathAndFilename=' + encodeURIComponent(location),
                method: "GET",
                dataType: 'json',
                success: function (obj) {
                    if (obj.HasPermission) {
                        $.ajax({
                            url: '/Event/PublishSuccessEventByDatasetId?eventType=' + encodeURI('Downloaded Report') + '&reason=' + encodeURI('Downloaded Report from Favorites') + '&datasetId=' + encodeURI(datasetId),
                            method: "GET",
                            dataType: 'json',
                            success: function (obj) {
                            }
                        });
                        var url = '/ExternalFile/DownloadExternalFile?pathAndFilename=' + encodeURIComponent(location);
                        window.open(url);
                    }
                    else {
                        $.ajax({
                            url: '/Event/PublishSuccessEventByDatasetId?eventType=' + encodeURI('Downloaded Report') + '&reason=' + encodeURI('Insufficient Permissions to Download Report') + '&datasetId=' + encodeURI(datasetId),
                            method: "GET",
                            dataType: 'json',
                            success: function (obj) {
                            }
                        });
                        Sentry.ShowModalAlert(
                            "User does not have sufficient permissions to selected file."
                        );
                    }
                },
                error: function (obj) {
                    Sentry.ShowModalAlert("Failed permissions check, please try again.  If problem persists, please contact <a mailto:DSCSupport@sentry.com>DSCSupport@sentry.com</a>");
                }
            });
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

    </script>
}