@model HomeModel
@{
    ViewData["Title"] = "Data at Sentry";
    string color2 = "gold";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}


<style>
    .frontPageh1 {
        text-align:center;

    }
</style>

<div class="hero hero-media ReplaceSpecialChars" style="height: 184px;">

    <div class="picture">

        <picture>
            @*<source srcset="~/Images/SHO_SentryWorld_Aerial.jpg" media="(min-width: 768px)">
                <img src="~/Images/SHO_SentryWorld_Aerial.jpg" style="top: -200px !important;" alt="" title="">*@

            @*<source srcset="~/Images/Hole16_Summer_Flowers_14.png" media="(min-width: 768px)">
            <img src="~/Images/Hole16_Summer_Flowers_14.png" class="backgroundImage" style="top: -450px !important;" alt="" title="">*@

            @*<source srcset="~/Images/SHO_Aerial_10-4-17.png" media="(min-width: 768px)">
                <img src="~/Images/SHO_Aerial_10-4-17.png" style="top: -200px !important;" alt="" title="">*@

        </picture>
    </div>



    <div class="container" style="">
        <h1 class="frontPageh1" style="margin-top: -10px">
            Welcome to data.sentry.com.
            Please choose a section below to begin.
        </h1>
        @*<section class="bar" style="">
                <div id="searchBar" >
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="row">
                            @{
                        var htmlAttrsObj = new { @class = "navbar-form navbar-center", @id = "DatasetSearch" };
                        var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(htmlAttrsObj);
                        using (Html.BeginForm(@"Datasets", "Search", FormMethod.Get, htmlAttributes))
                        {
                            <div class="input-group" style="width: 100%; margin-bottom:5px; margin-top: 5px;">
                                <span class="input-group-addon" style="width: 50px; height: 50px;" onclick="$(function() {$('#SearchText').focus();});"><i class="glyphicon glyphicon-search"></i></span>

                                <input style="height: 50px;" type="text" id="SearchText" name="searchPhrase" class="form-control" placeholder="Search from @Model.DatasetCount datasets ..." />
                            </div>
                        }
                            }
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </section>*@

    </div>
</div>

<div class="hero hero-media ReplaceSpecialChars">

    <div class="container" style="    top: -50px;">
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" id="leftPanel">
            <a class="" href="/BusinessIntelligence" style="background: white;">
                <div class="borderdk_blue tile setTile" style="height:200px;">

                    <div class="text-center col-lg-6 ">
                        <img src="~/Images/Icons/Business Intelligence.svg" class="tile-image">
                        <div class="tile-header" style="color: #003DA5;">Business Intelligence</div>
                    </div>
                    <div class="text-center col-lg-5" style="margin-top:42px;">
                        <h3 style="color: #003DA5;">Exhibits</h3>
                        <h3 style="color: #003DA5;">Dashboards</h3>
                    </div>

                </div>
            </a>
            <div style="height:1px;">
            </div>
            <a class="" href="/Dataset/Index" style="background: white;">
                <div class="borderdk_green tile setTile" style="height:200px;">

                    <div class="text-center col-lg-6 ">
                        <img src="~/Images/Icons/Datasets.svg" class="tile-image">
                        <div class="tile-header" style="color: #005844;">Datasets</div>
                    </div>
                    <div class="text-center col-lg-5" style="margin-top:42px;">
                        <h3 style="color: #005844;">Internal Sentry Datasets</h3>
                        <h3 style="color: #005844;">External Datasets</h3>
                    </div>

                </div>
            </a>
            <div style="height:1px;">
            </div>
            <a class="" href="/DataAsset/Index" style="background: white;">
                <div class="borderdk_plum tile assetTile" style="height:200px;">

                    <div class="text-center col-lg-6 ">
                        <img src="~/Images/Icons/DataAssets.svg" class="tile-image">
                        <div class="tile-header" style="color: #72246C;">Data Assets</div>
                    </div>
                    <div class="text-center col-lg-5" style="margin-top:27px;">
                        <h3 style="color: #72246C;">Data Asset Health</h3>
                        <h3 style="color: #72246C;">Data Lineage</h3>
                        <h3 style="color: #72246C;">Data Asset Information</h3>
                    </div>

                </div>
            </a>

            @*<div>
                <div style="margin-left: 30px; margin-right:30px;">
                    <div>
                        @{
                    var htmlAttrsObj = new { @class = "navbar-form navbar-center", @id = "DatasetSearch" };
                    var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(htmlAttrsObj);
                    using (Html.BeginForm(@"Datasets", "Search", FormMethod.Get, htmlAttributes))
                    {
                        <div class="input-group" style="width: 100%; margin-bottom:5px; margin-top: 5px;">
                            <span class="input-group-addon" style="width: 50px; height: 50px;" onclick="$(function() {$('#SearchText').focus();});"><i class="glyphicon glyphicon-search"></i></span>

                            <input style="height: 50px;" type="text" id="SearchText" name="searchPhrase" class="form-control" placeholder="Search from @Model.DatasetCount Datasets ..." />
                        </div>
            }
                        }
                    </div>
                </div>
            </div>*@
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="col-lg-12 text-center">
                <div class="feed hidden-xs hidden-sm border_@color2" style="width: 100%; margin-top: 30px;">
                    <div class="row_@color2 topFeed">
                        <h2 class="@color2 leftFloat feedHeader">Feed</h2>

                        @*<div class="feedCheckbox rightFloat">
                        <label>
                            <input type="checkbox" id="chbx" />
                            <span>Sentry feeds only</span>
                        </label>
                    </div>*@
                    </div>

                    <div class="feedBox clearFloat" id="feed">
                        <div class="feedSpinner">
                            <span class="sentry-spinner"></span>
                        </div>
                        @*@Html.Action("GetFeed", "Home")*@
                    </div>

                    <div class="feedBox clearFloat hidden" id="sentryFeed">
                        @*@Html.Action("GetSentryFeed", "Home")*@
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>










<style>
    /*html {
        overflow: scroll;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0px;  
    }

    /* optional: show position indicator in red
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    } */

    .feed {
        width: 100% !important;
        height: 680px;
        margin-left: 0px !important;
    }

    .feedBox {
        position: relative;
        max-height: 96%;
        margin-right: 2px;
    }

    .col-lg-4 {
        padding: 0;
    }

    .borderdk_blue {
        border: 1.5px solid #285780;
        border-top: 6px solid #285780;
    }

    .borderdk_green {
        border: 1.5px solid #005844;
        border-top: 6px solid #005844;
    }

    .borderdk_plum {
        border: 1.5px solid #72246C;
        border-top: 6px solid #72246C;
    }

    .dataset-operation-button {
        font-size: 20px;
    }

    /*body {
        overflow-y: hidden;
        height: 100%;
    }*/

    .row.text-center > div {
        display: inline-block;
        float: none;
    }

    body {
        margin-top: -6px;
        /*background: url(../../Images/SHO_SentryWorld_Aerial.jpg) no-repeat center center fixed;*/
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        /*background-size: cover;
        background-image: url(../../Images/SHO_SentryWorld_Aerial.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;*/
        /*overflow-x: hidden;
        overflow-y: hidden;*/
        /* background-color: transparent; */
    }


    .imageFooter {
        height: 400px;
    }

    .tile {
        background: white;
        margin: 30px;
        cursor: pointer;
        margin-bottom: 9px;
    }

         .tile a {
            height: 100%;
            width: 100%;
            display: block;
            text-decoration: none !important;
        }

    .assetTile:hover {
        opacity: 0.95;
        background-color: rgba(0, 88, 68, 0.05);
        box-shadow: 2px 6px 10px #888888;
    }

    .setTile:hover {
        opacity: 0.95;
        background-color: rgba(0, 61, 165, 0.05);
        box-shadow: 2px 6px 10px #888888;
    }

    .tile-image {
        width: 100px;
        padding: 10px;
        filter: invert(100%);
        height: 115px;
        margin-top:20px;
    }

    .tile-header {
        font-size: 2em;
    }

    .tile-description {
        font-size: 1em;
        max-height: 4.5em;
        display: flex;
        padding-top:3px;
        justify-content: center;
        padding-bottom: 15px;
    }
</style>

@section Scripts {
    <script>
        $(function () {
            data.Home.Init();
            data.Dataset.IndexInit();

            ////Does not work for less then 100% magnifcation. DO NOT ZOOM OUT.  div.scrollTop is not happy with floating point pixels.
            var div = $('div.feedBox');
            var scroller = setInterval(function () {
                var pos = div.scrollTop();
                pos = Number((pos).toFixed(0));
                div.scrollTop(++pos);
            }, 50);


            $('body').on('DOMNodeInserted', function (e) {
                var target = e.target; //inserted element;

                if ($(target).hasClass('noFeedBox')) {
                    $('.noFeedBox').remove();
                }
            });

            $(document).on("mouseenter", ".feedItem", function () {
                // hover starts code here
                clearInterval(scroller);
            });

            $(document).on("mouseleave", ".feedItem", function () {
                // hover ends code here
                scroller = setInterval(function () {
                    var pos = div.scrollTop();
                    pos = Number((pos).toFixed(0));
                    div.scrollTop(++pos);
                }, 50);
            });


            $('.browse-category-card').click(function (e) {
                var storedNames = JSON.parse(localStorage.getItem("filteredIds"));

                if (storedNames != null) {
                    for (i = 0; i < storedNames.length; i++) {
                        $('#' + storedNames[i]).prop('checked', false);
                    }

                    localStorage.removeItem("filteredIds");
                }

                localStorage.removeItem("searchText");
            });

            $('#DatasetSearch').click(function (e) {
                localStorage.removeItem("filteredIds");

                localStorage.removeItem("searchText");

                localStorage.setItem("searchText", $('#SearchText')[0].value);
            });

            $('.input-group-addon').click(function (e) {
                $('#DatasetSearch').submit();
            });
        });
    </script>
}


