@model List<Sentry.data.Core.DataAsset>

@{
    ViewData["Title"] = "data.sentry.com - Your home for Sentry Data Assets";
    string color = "gold";
    string color2 = "green";
}

@*<div class="outside">
    <div class="searchBox">
        <input type="text" class="form-control" id="search" placeholder="Search Everything Data">
        <button type="button" class="btn btn-primary searchBtn"><span class="glyphicon glyphicon-search"></span></button>
    </div>
</div>*@

<div class="outside">
    <div class="hidden-xs hidden-sm hidden-md asset border_@color">
        <h2 class="assetHeader @color row_@color">Data Assets</h2>
        <div class="assetBox">
            @foreach (Sentry.data.Core.DataAsset da in Model)
            {
                <a href="/DataAsset/@da.Name">
                    <div class="assetItem">@da.DisplayName</div>
                </a>
            }
        </div>
    </div>

    @*@Html.Partial("_GridFull")*@

    <div class="insideDataset">
        @Html.Action("HomeDataset", "Dataset")
    </div>

    <div class="feed hidden-xs hidden-sm border_@color2">
        <div class="row_@color2 topFeed">
            <h2 class="@color2 leftFloat feedHeader">Feed</h2>

            @*<div class="feedCheckbox rightFloat">
                <label>
                    <input type="checkbox" id="chbx" />
                    <span>Sentry feeds only</span>
                </label>
            </div>*@
        </div>

        <div class="feedBox clearFloat" id="feed">
            <div class="feedSpinner">
                <span class="sentry-spinner"></span>
            </div>
            @*@Html.Action("GetFeed", "Home")*@
        </div>

        <div class="feedBox clearFloat hidden" id="sentryFeed">
            @*@Html.Action("GetSentryFeed", "Home")*@
        </div>
    </div>
</div>

@section Scripts {
    <script>
            $(function () {
                data.Home.Init();
                data.Dataset.IndexInit();
            });
    </script>
}


