@using Sentry.data.Web;
@model BusinessUnitLandingPageModel
@{
    ViewBag.Title = "Personal Lines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="pl-landing-pg-wrapper">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12"><img id="dairyland-logo" alt="Dairyland Logo" src="~/Images/dairyland_logo.png" width="220" /></div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">PL PI Backlog</div>
                <div class="col-sm-12 col-md-4 col-lg-4">PL Report Requests</div>
                <div class="col-sm-12 col-md-4 col-lg-4">Business Intelligence</div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">PL Data Services Backlog</div>
                <div class="col-sm-12 col-md-4 col-lg-4">PL Data Requests</div>
                <div class="col-sm-12 col-md-4 col-lg-4">Training</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            Feed like thingy
        </div>
    </div>

</div>