<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="smarts.aspx">
    <system.web>
      <httpHandlers>
        <add path="*" verb="*" type="Sentry.Smarts.Web.SmartsWebHandler, Sentry.Smarts" validate="false" />
      </httpHandlers>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="true" />
        </authentication>
      </security>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add name="SmartsWebHandler" path="*" verb="*" preCondition="integratedMode" type="Sentry.Smarts.Web.SmartsWebHandler, Sentry.Smarts" resourceType="Unspecified" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
