.side-nav-wrapper 
{
    border: 4px solid #00A3E0;
    padding-left: 0px;
    padding-right:0px;
    height: 100vh;
}
.admin-reprocess-dropdown
{
    width: 400px;
    height: 30px;
}
.admin-logs-dropdown 
{
    width: 400px;
    height: 30px;
}
.table-checkbox {
    position: unset !important;
    pointer-events: auto !important;
    opacity: 1 !important;
}

#deadJobs tbody{
  word-break:break-word;
}

table#deadJobs td.dropdown-control {
    cursor:pointer;
}
table#metricGroupsTable td.dt-control {
    cursor: pointer;
}

.audit-search-selection.hidden {
    display: none !important;
}

.audit-search-selection.active {
    display: inline-block !important;
}

#audit-filter-buttons .btn-primary,
#audit-filter-buttons .btn-warning,
#audit-filter-buttons .btn-success {
    border: 2px solid #ffffff00 !important;
    padding-top: 10.5px !important;
    padding-bottom: 10.5px !important;
}
#link-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.LinkDescription {
    padding-left: 95px;
}

.LinkUrlName {
    padding-left: 60px;
}

.delete-icon {
    cursor: pointer;
    color: red;
}

.LinksRow {
    align-items: end;
}