.side-nav-wrapper {
    padding-left: 20px;
    padding-right: 0px;
    border-right: 0;
    border-color: #f4f5f7;
    background-color: #f8f8f8;
    height: 100vh;
}

.side-nav-wrapper h2,
.side-nav-wrapper h5
{
    padding-top: 20px;
}

.side-nav-wrapper ul {
    list-style: none;
    padding: 0;
    line-height: 17px;
    padding: 3px 5px;
    margin-bottom: 0;
}

.side-nav-wrapper .side-nav-links {
    font-size: 17.5px;
    margin: 0px;
}

.side-nav-wrapper ul li {
    position: relative;
    line-height: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.admin-reprocess-dropdown {
    width: 400px;
    height: 30px;
}

.admin-logs-dropdown 
{
    width: 400px;
    height: 30px;
}
.table-checkbox {
    position: unset !important;
    pointer-events: auto !important;
    opacity: 1 !important;
}

#deadJobs tbody{
  word-break:break-word;
}

table#deadJobs td.dropdown-control {
    cursor:pointer;
}
table#metricGroupsTable td.metric-detail-control {
    cursor: pointer;
}

.metricsButton {
    margin-bottom: 20px;
}

.audit-search-selection.hidden {
    display: none !important;
}

.audit-search-selection.active {
    display: inline-block !important;
}

#link-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.LinkDescription {
    padding-left: 95px;
}

.LinkUrlName {
    padding-left: 60px;
}

.delete-icon {
    cursor: pointer;
    color: red;
}

.LinksRow {
    align-items: end;
}

.dead-job-select-all {
    vertical-align: middle !important;
}