#pl-landing-pg-wrapper #dairyland-logo {
    margin-left: -15px;
}

.landing-pg-tile-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.landing-pg-image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    height: 180px;
}

.landing-pg-hyperlink {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 60px;
}

#whats-new-wrapper h2 {
    color: #472c70;
    margin-top: 0px;
}

.border-btm-pl {
    border-bottom: 4px solid #d7d7df;
}

.hamburger-man {
    bottom: 0%;
    right: 1%;
}

.liberty-bell {
    float: right;
    width: 25px;
    font-size: 25px;
    color: #003da5;
    top: 4px;
    z-index: 999;
    cursor: pointer;
}

.liberty-badge {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 50%
}

.liberty-badge-red {
    color: #fff !important;
    background-color: #f44336 !important
}

.liberty-badge-white {
    color: white;
    background-color: lightblue;
}

.liberty-badge-small {
    font-size: 14px !important
}


.liberty-alert-icon-container {
    display: table-cell;
    vertical-align: top;
    padding-top: 4px;
}

.liberty-alert-icon {
    font-size: 24px;
}

.liberty-alert-item-content {
    display: table-cell;
    padding: 15px 0 10px 20px;
    width: 100%;
    vertical-align: middle;
}

.liberty-alert-category {
    color: #979797;
    font-size: 14px;
    position: absolute;
    top: 5px;
}

.liberty-popover-medium {
    max-width: 40%;
}

.showing-active-notifications #showExpiredNotificationBtn {
    display: none;
}

.showing-expired-notifications #showActiveNotificationBtn {
    display: none;
}

/*use this class for popover items*/
.list-group-item-liberty {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
}
