.dale-result-row {
    margin-left: 100px;
    margin-right: 100px; 
}


/*used to disable controls on screen while search in progress*/
.dale-disable-stuff{
    pointer-events:none;
}

/*Override Bootstrap tooltip behavior to make background gray, trick is to set black and adjust opacity.*/
.tooltip-inner {
    background-color: black !important;
    color: #fff;
    font-size: small;
    font-weight: 700;
    max-width: 100% !important;
}

.tooltip.top .tooltip-arrow {
    border-top-color: black;
}

.tooltip.right .tooltip-arrow {
    border-right-color: black;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: black;
}

.tooltip.left .tooltip-arrow {
    border-left-color: black;
}

.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .4;
}

.dale-clicked {
    color: red;
}