.di-search-head {
    display: inline-block;
    width:40%;
    min-width: 500px;
}

.di-head-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.25em;
}

.di-img {
    width: 50px;
}

#di-search-box a {
    color: inherit;
}

.di-horizontal-center {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    margin-bottom: 2em;
}

.filters-category {
    padding: 0;
}

.filters-pane {
    vertical-align: top;
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}

.table-element-checkbox {
    margin: auto;
    width: 100%;
    zoom: 1.25;
}