.dataset-operation-button {
    margin-left: 0px;
}

.schema-table {
    margin-top: 1em;
}

.column-name {
    width: auto;
    font-weight: 600;
    word-break: break-all;
}

.mini-sentry-spinner-container {
    margin-left: -295px;
    margin-top: -9px;
    border-top: none !important;
}

.leftSectionHeaderDiv {
    margin-left: -15px;
}

#DatasetItemList .pagination {
    font-feature-settings: "lnum";
}

    #DatasetItemList .pagination > .active > a {
        background-color: #00a3e0 !important;
    }

#DatasetItemList {
    width: 100%;
}

.spanContainer {
    font-size: 0;
}

    .spanContainer span {
        font-size: 14px;
    }

.detailNameLink {
    cursor: pointer;
    text-decoration: underline;
}

    .detailNameLink:hover {
        opacity: 0.7;
    }

.dataset-list-content {
    width: 90%;
    margin-left: 3px;
    /*padding: 2px 0;*/
    display: inline-block;
    padding-bottom: 6px;
}

.dataset-detail-contact-list {
    list-style: none;
}

.dataset-detail-contact-label {
    float: left;
    padding-right: 5px;
    padding-left: 0px;
}

.dataset-list-content.dataset-detail-content-info {
    width: 100%;
}

.dataset-detail-content-info-row {
    padding-left: 0px;
    padding-top: 6px;
}

    .dataset-detail-content-info-row .info-detail {
        padding-left: 0px;
    }

    .dataset-detail-content-info-row a {
        font-weight: bold;
        float: right;
        font-size: 16px;
    }

.moreContacts {
    color: gray;
    font-weight: bold;
}

.hidden-item {
    display: none;
}

.listDesc {
    /*padding-top: 5px;*/
    /*padding-bottom: 6px;*/
}

#datasetDetailTabs {
    position: relative;
}

.inputGroupCenter {
    margin-left: auto;
    margin-right: auto;
}

.dataset-detail-datatable-pagination {
    display: inline-block;
    float: right;
}

.dataset-detail-datatable-information {
    display: inline-block;
}

.datasetMetadataBoxHr {
    display: block;
    width: 100%;
    clear: both;
    border-top: 1px solid #e6e6e6;
}

table {
    width: 100% !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0 !important;
}

#inheritanceSwitch {
    padding-top: 0.1rem;
}

#RemovePermissionScopeContainer {
    max-height: 500px;
    overflow: auto;
}
