#di-result-table {
    width: 100% !important;
}

.di-save {
    margin-left: 0.5em !important;
    padding-left: 1em;
    padding-right: 1em;
}

.table-element-checkbox {
    margin: auto;
    width: 100%;
    zoom: 1.25;
}

.di-update-overlay {
    background-color: rgba(233, 233, 233, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.di-sentry-progress {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
}