#ds-page-wrapper {
    margin-bottom: 150px;
}

#ds-welcome-text {
    margin: 30px 0px 50px 0px;
}

#ds-search-wrapper {
    margin-bottom: 40px;
}

#ds-search-input-wrapper {
    width: 50%;
    margin: 5px 0px;
}

.ds-search-icon {
    width: 50px;
    height: 50px;
}

.ds-search-textbox {
    height: 50px;
}

#ds-tile-wrapper .col-md-3 {
    padding: 0;
}

#ds-tile-wrapper .row.text-center > div {
    display: inline-block;
    float: none;
}

#ds-tile-wrapper .tile {
    background: #fff;
    margin: 30px;
    opacity: 0.80;
}

    #ds-tile-wrapper .tile:hover {
        opacity: 0.95;
        background: lightgray;
    }

    #ds-tile-wrapper .tile a {
        height: 100%;
        width: 100%;
        display: block;
        text-decoration: none !important;
    }

#ds-tile-wrapper .sentryTile:hover {
    background-color: #fafcfe;
}
#ds-tile-wrapper .weatherTile:hover {
    background-color: #fef9f3;
}
#ds-tile-wrapper .governmentTile:hover {
    background-color: #fefcf3;
}
#ds-tile-wrapper .industryTile:hover {
    background-color: #fafcf3;
}
#ds-tile-wrapper .claimTile:hover {
    background-color: #f3fbfd;
}
#ds-tile-wrapper .geographicTile:hover {
    background-color: #fcfafc;
}
#ds-tile-wrapper .hrTile:hover {
    background-color: #fcfafc;
}

.ds-tile-image {
    width: 100px;
    padding: 10px;
    filter: invert(100%);
    height: 115px;
}

.ds-tile-header {
    font-size: 1.5em;
    color: #000;
}

.ds-tile-description {
    font-size: .8em;
    max-height: 4.5em;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    color: rgb(0, 0, 0);
    max-height: 4.5em;
    -webkit-line-clamp: 3;
}

.ds-upload-row {
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
}

.ds-operation-button {
    font-size: 20px;
}

.ds-format-email {
    text-overflow: ellipsis;
    overflow: hidden;
    width: inherit;
}
