.schemaMapPanel {
}

.schemaMapList {
    /*padding-left: 45px;*/
    list-style-type: none;
}

.schemaMapLine {
    list-style-type: none;
    border-radius: 10px;
}

.schemaMapLineItem {
    background-color: #00A3E0;
    padding: 10px;
    border-bottom: 1px solid #aaa;
    border-radius: 10px;
    margin-bottom: 5px;
    /*margin-left: 30px;*/
}

.dataflow-home-photo {
    background-repeat: no-repeat;
    height: 340px;
}

.bg-photo-dataflow {
    /*background-image: url(/Images/DataFlow/ConceptTeamwork1.jpg);
    background-position: 50% 48%;*/
    background: #fff url(/Images/DataFlow/Conversation12.jpg) center center/cover;
}

.bg-photo-dataflow.ic:before {
    position: absolute;
    left: 3%;
    top: 75%;
    height: 60px;
    font: 400 40px/40px 'KievitSlabPro-Medium', 'Rockwell', sans-serif;
    color: #003DA5;
    content: 'Let\'s Get Started.';
}

.bg-photo-dataflow.ic span {
    position: absolute;
    left: 3%;
    right: 0px;
    top: 10%;
    width: 350px;
    font: 100 23px/33px Lucida Sans, Arial, sans-serif !important;
    color: #00a3e0;
}

#PreprocessingOptions {
    width: 900px;
}