#edit-favorites-icon {
    font-size: 23px;
    margin: 10px 20px 0px 0px;
}

#favorites-wrapper {
    margin-top: 20px;
}

.sortable-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #aaa;
}
    .sortable-ul li {
        font-size: 21px;
        display: table;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #aaa;
        padding: 15px;
    }
        .sortable-ul li span {
            display: table-cell;
            vertical-align: middle;
        }

.fav-sort-order {
    color: #d0d0d0;
    width: 50px;
}

.fav-sort-image {
    width: 30px;
}
    .fav-sort-image img {
        width: 20px;
        filter: invert(100%);
        opacity: 0.7;
    }

.fav-delete {
    color: #53565a;
    text-decoration: none;
}
    .fav-delete:hover {
        color: #d80000;
        text-decoration: none;
    }