.search-horizontal-center {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
}

.search-head {
    display: inline-block;
    width:40%;
    min-width: 500px;
}

    .search-head a {
        vertical-align: super;
    }

.search-head-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.25em;
}

.search-head-img {
    width: 50px;
    float: left;
}

#search-box a {
    color: inherit;
}

.filter-search-body {
    display: flex;
}

.filter-search-container {
    margin-right: 1em;
    width: 300px;
}

.filter-search-result-count-container {
    text-align: right;
}

    .filter-search-result-count-container span {
        color: #003da5;
        font-weight: bold;
        font-family: sans-serif;
    }

.filter-search-total-results {
    font-size: 1.25em;
    margin: 0;
}

.filter-search-title-container {
    display: flex;
}

.filter-search-title {
    margin-bottom: 0.25em;
}

.filter-search-clear-container {
    margin: 0 0 0.25em 0.5em;
    align-self: end;
    width: 100%;
    display: inline-grid;
}

.filter-search-apply {
    align-self: end;
}

.filter-search-apply-icon {
    margin-right: 0.5em;
    font-size: 12px;
}

.filter-search-active-options-container {
    text-align: center;
    padding: 1em 0 0.7em 0;
}

.filter-search-active-option-close {
    margin: 0 0 0.3em 0.2em;
}

.active-option-close-symbol {
    font-size: 12px;
}

.filter-search-category-container {
    vertical-align: top;
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}

.filter-search-category-head {
    font-size: 16px;
    background-color: #fff !important;
    border: none !important;
    cursor: pointer;
    padding: 0.75em;
}

    .filter-search-category-head span:first-of-type {
        font-size: 18px;
        color: #003da5;
        font-family: "KievitSlabWeb W03","Lucida Sans",serif;
    }

    .filter-search-category-head .glyphicon {
        float: right;
        color: #003da5;
        vertical-align: middle;
        line-height: inherit;
    }


.filter-search-categories-sentry-spinner {
    display: flex;
    margin-top: 10em;
}

.filter-search-category-options {
    padding: 0;
}

.filter-search-category-option {
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    padding: 0.5em 1em;
    list-style: none;
}

    .filter-search-category-option:hover {
        background-color: #DDDDDD;
    }

    .filter-search-category-option label {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .filter-search-category-option input {
        cursor: pointer;
        min-width: 16px;
        min-height: 16px;
        margin: 0 0.5em 0 0 !important;
    }

    .filter-search-category-option strong {
        width: 100%;
    }

    .filter-search-category-option span {
        font-size: 12px;
        margin-left: 0.25em;
        font-family: sans-serif;
    }

.filter-search-category-more {
    display: block;
    text-align: center;
    padding-bottom: 1em
}

.filter-search-categories-none {
    text-align: center;
    margin-top: 5em;
}

    .filter-search-categories-none span {
        font-size: 2em;
    }

    .filter-search-categories-none div {
        font-size: 1.5em;
    }

.filter-search-result-sentry-spinner {
    width: 100%;
    display: flex;
    margin-top: 8em;
}

.filter-search-results-none {
    width: 100%;
    margin-top: 4em;
    text-align: center;
    font-size: 1.75em;
}

    .filter-search-results-none span {
        font-size: 2.5em;
    }

.filter-search-results-container {
    width: 100%;
}

.bottom-border {
    border-bottom: 1px solid #ebebeb;
}

.filter-search-modal-body {
    max-height: calc(100vh - 221px);
    overflow-y: auto;
}

.filter-search-modal-option {
    display: inline-block;
    width: 33%;
}

.pagination {
    padding-bottom: 2rem;
}