.search-horizontal-center {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    margin-bottom: 2em;
}

.search-head {
    display: inline-block;
    width:40%;
    min-width: 500px;
}

.search-head-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.25em;
}

.search-head-img {
    width: 50px;
    float: left;
}

#search-box a {
    color: inherit;
}

.filter-search-body {
    display: flex;
}

.filter-search-container {
    margin-right: 1em;
}

.filter-search-title-container {
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.filter-search-title {
    margin-top: 15px;
}

#filter-search-clear {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
}

.filter-search-category-container {
    vertical-align: top;
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}

.filter-search-category-head {
    font-size: 16px;
    background-color: #fff !important;
    border: none !important;
    cursor: pointer;
    padding: 1em;
}

    .filter-search-category-head span:first-of-type {
        font-size: 18px;
        color: #003da5;
        font-family: "KievitSlabWeb W03","Lucida Sans",serif;
    }

    .filter-search-category-head .glyphicon {
        float: right;
        color: #003da5;
        vertical-align: middle;
        line-height: inherit;
    }


.filter-search-category-options {
    padding: 0;
}

.filter-search-category-option {
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 0.5em 0 0.5em 1em;
    list-style: none;
}

    .filter-search-category-option:hover {
        background-color: #DDDDDD;
    }

    .filter-search-category-option label {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .filter-search-category-option input {
        cursor: pointer;
        width: 18px;
        height: 18px;
        margin: 0 0.5em 0 0 !important;
    }

    .filter-search-category-option span {
        font-size: 12px;
        margin-left: 0.25em;
    }

.filter-search-category-more {
    display: block;
    text-align: center;
    padding-bottom: 1em
}

.filter-search-results-container {
    width: 100%;
}

.table-element-checkbox {
    margin: auto;
    width: 100%;
    zoom: 1.25;
}