#search-pg-wrapper {
    padding-top: 10px;
}
    #search-pg-wrapper .listHeadGroup {
        display: block;
        margin: 0px 0px 20px 0px;
    }
        #search-pg-wrapper .listHeadGroup div {
            display: inline-block;
            vertical-align: middle;
        }

#search-pg-filters {
    overflow-x: hidden;
}

#search-pg-filters #filter-by-label {
    color: #53565a;
    padding-left: 22px;
    font-size: 15px;
    text-transform: uppercase;
}

#search-pg-filters #filterColumn {
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

#search-pg-filters .panel {
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-shadow: none;
}
    #search-pg-filters .filterList label {
        cursor: pointer;
    }

.filterHead {
    font-size: 16px;
    background-color: #fff !important;
    border: none !important;
    margin: 8px 0px 8px 8px;
}
.filterHead .glyphicon {
    color: #003da5;
}

.filterCategoryName {
    font-size: 18px;
    color: #003da5;
    font-family: "KievitSlabWeb W03","Lucida Sans",serif;
}

.filter-tile-count {
    font-size: 12px;
}

.notAllowed label {
    cursor: not-allowed !important;
    color: #bfbfbf;
}
.notAllowed:hover {
    background-color: #fff !important;
}

.disregardParentClick {
    float: right;
    margin-top: -3px;
    margin-right: 1px;
}

#listOfDatasets .ul-dataset-list-item {
    background-color: #fff;
    cursor: pointer;
}

    #listOfDatasets .ul-dataset-list-item:hover {
        box-shadow: 2px 6px 10px #888888;
        cursor: pointer;
    }

.dataset-list-filter-category label {
    display: block;
    font-weight: normal;
}

#nbr-search-results-wrapper {
    font-feature-settings: "lnum";
}
    #nbr-search-results-wrapper div {
        display: inline-block;
    }

    #search-tile-header {
        overflow: hidden;
        margin-top: 22px;
    }

#sort-option-wrapper div {
    display: inline-block;
}

.search-dataset-name {
    font-size: larger;
    font-weight: bolder;
    color: #003da5;
}

.ownerDate {
    text-align: left !important;
}
    .ownerDate .link-btn {
        padding-left: 10px;
        padding-right: 10px;
    }

.dataset-list-content .glyphicon-lock {
    padding-left: 10px;
}

.footer-container {
    display: inline-block;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #ccc;
    line-height: 40px;
    vertical-align: middle;
}

#search-results-wrapper {
    font-feature-settings: "lnum";
}

#pagination-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.btnFavoriteSearch, .tile-favorite {
    font-size: 125%;
    color: #003DA5;
    cursor: pointer;
    margin-top: 0.1rem !important;
}

#tile-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.tile-result {
    position: relative;
    margin-bottom: 0.75%;
    padding: 0.5em;
    background-color: #FFFFFF;
}

.tile-result-layout-0 {
    width: calc((100% / 3) - 0.75%);
}

.tile-result-layout-1 {
    width: 100%;
}

.tile-active:hover {
    cursor: pointer;
    box-shadow: 2px 6px 10px #888888;
}

.card-hover:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.45);
}

.tile-description {
    height: 2.5rem;
    line-height: 1.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tile-mr {
    margin-right: 0.75%;
}

.tile-result-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.tile-result-options {
    display: flex;
}

.search-blur {
    opacity: 0.5;
}

.pagination {
    padding-bottom: 2rem;
}

.view-details-spacing {
    margin: auto 0 0 auto;
}

.chip:is(.chip-disabled):hover {
    background-color: #eceff1
}

.search-card-title {
    display: flex;
    align-items: center;
}

.card-result-layout-0 {
    width: calc(100% / 3);
}

.card-result-layout-1 {
    width: 100%;
}

.environment-chip-sm {
    height: 30px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 30px;
    margin: 0 5px 0 0;
}

.search-card-subtitle {
    display: flex;
    justify-content: space-between;
}