@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?agcjxj');
  src:  url('../fonts/icomoon.eot?agcjxj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?agcjxj') format('woff2'),
    url('../fonts/icomoon.ttf?agcjxj') format('truetype'),
    url('../fonts/icomoon.woff?agcjxj') format('woff'),
    url('../fonts/icomoon.svg?agcjxj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-trash:before {
  content: "\e902";
}
.icon-question:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-message:before {
  content: "\e906";
}
.icon-envelope:before {
  content: "\e907";
}
.icon-gear:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-cir_minus:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-folder:before {
  content: "\e90e";
}
.icon-checkmark:before {
  content: "\e90f";
}
.icon-bullet_list:before {
  content: "\e910";
}
.icon-sad_face:before {
  content: "\e911";
}
.icon-happy_face:before {
  content: "\e912";
}
.icon-neutral_face:before {
  content: "\e913";
}
.icon-small_arrow_right:before {
  content: "\e914";
}
.icon-small_arrow_left:before {
  content: "\e915";
}
.icon-small_arrow_up:before {
  content: "\e916";
}
.icon-documents:before {
  content: "\e917";
}
.icon-info_outline:before {
  content: "\e918";
}
.icon-share-addthis:before {
  content: "\e919";
}
.icon-elipses:before {
  content: "\e91a";
}
.icon-attachment:before {
  content: "\e91b";
}
.icon-link:before {
  content: "\e91c";
}
.icon-clock:before {
  content: "\e91d";
}
.icon-zoom_out:before {
  content: "\e91e";
}
.icon-undelete_email:before {
  content: "\e91f";
}
.icon-clear_task:before {
  content: "\e920";
}
.icon-select_single:before {
  content: "\e921";
}
.icon-task:before {
  content: "\e922";
}
.icon-transfer:before {
  content: "\e923";
}
.icon-unbundle_email:before {
  content: "\e924";
}
.icon-expand:before {
  content: "\e925";
}
.icon-reset_size:before {
  content: "\e926";
}
.icon-record:before {
  content: "\e927";
}
.icon-stop:before {
  content: "\e928";
}
.icon-pause:before {
  content: "\e929";
}
.icon-filter:before {
  content: "\e92a";
}
.icon-filter_task:before {
  content: "\e92b";
}
.icon-system_links:before {
  content: "\e92c";
}
.icon-take_ownership:before {
  content: "\e92d";
}
.icon-remove_ownership:before {
  content: "\e92e";
}
.icon-hyperlink:before {
  content: "\e92f";
}
.icon-save:before {
  content: "\e930";
}
.icon-validated_participant:before {
  content: "\e931";
}
.icon-noclaims_returned:before {
  content: "\e932";
}
.icon-work_task:before {
  content: "\e933";
}
.icon-onecol_twocol:before {
  content: "\e934";
}
.icon-unpin:before {
  content: "\e935";
}
.icon-pin:before {
  content: "\e936";
}
.icon-AddNote:before {
  content: "\e937";
}
.icon-TriangleWarning:before {
  content: "\e938";
}
.icon-TriangleWarningFilled:before {
  content: "\e939";
}
.icon-Highlighter:before {
  content: "\e93a";
}
.icon-Equipment_reversed:before {
  content: "\e93b";
}
.icon-Equipment:before {
  content: "\e93c";
}
.icon-Vehicle:before {
  content: "\e93d";
}
