/***********************************/
/* Canned Sentry Template Settings */
/***********************************/
/*body {background-color: #eff0f2;}*/


/*#region TemplateSettings*/

.item-list-image {
    max-height: 150px;
}

ul.list-no-decoration {
    list-style-type: none;
}

ul.list-group-indented {
    padding-left: 20px;
    margin-bottom: 0;
}

.home-carousel-img {
    border: 0;
    height: 300px;
    max-height: 300px;
    width: auto;
}

.clickable {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.text-middle {
    vertical-align: middle;
}

@media (min-width: 768px) {
    .collapse-sm {
        display: block;
    }
}

.extra-top-padding {
    padding-top: 20px !important;
}

.main-page-area {
    width: 80%;
}

.modal-backdrop.in {
    opacity: 0 !important;
}

.modal-backdrop {
    background-color: white !important;
}

.hideOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}
/*#endregion TemplateSettings*/


/******************************/
/* Custom Settings Start Here */
/******************************/

/*#region MainPage - Favorites*/

.favoriteDeleteIcon {
    padding-left: 1px;
    cursor: pointer;
}

/*#endregion MainPage - Favorites*/
/*#region BusinessIntelligenceForm*/
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}

.image-box {
    background-color: #c8dadf;
    position: relative;
    padding: 40px 20px;
}

.box__file {
    width: 0.1px;
    height: 6.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .box__file + label {
        max-width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
    }

.box_button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: none;
    padding: 8px 16px;
    margin: 40px auto 0;
}

.image-box.has-advanced-upload .box__icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    font-size: 40px;
    align-content: center;
}

.image-box.has-advanced-upload {
    outline: 2px dashed black;
    outline-offset: -10px;
}

    .image-box.has-advanced-upload .box__dragndrop {
        display: inline;
    }

.image-box.is-dragover {
    background-color: grey;
}

.image-upload {
    width: 0px;
    height: 0px;
    overflow: hidden;
}
/*.box__file:focus + label,
.box__file + label:hover {
    background-color: red;
}*/
/*#endregion BusinessIntelligenceForm*/
/* hide selected select2 tags, all over */
.select2-results__option[aria-selected=true] {
    display: none;
}

/* Width of search buttons, all over. */
.input-group-addon {
    width: 30px;
}

/* The following navbar adjustments get the "Search" bar to be wider than usual, in the header */
.navbar-right {
    width: 50%;
}

.navbar-form .input-group {
    width: 100%;
}

    .navbar-form .input-group .form-control {
        width: 100%;
    }

    .navbar-form .input-group .input-group-addon,
    .navbar-form .input-group .input-group-btn {
        width: 20px;
    }

    .navbar-form .input-group > .form-control {
        width: 100%;
    }

/* Main Page: adjust "Asset Overview" and "Data Feed" to desired sizes */
.HomePageTable {
    width: 100%;
}

.AssetOverview {
    width: 22%;
}

.DataFeed {
    width: 78%;
    float: left;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}


.file-load {
    width: 100%
}

/**********************/
/* Dataset Index page */
/**********************/

.dataset-search {
    width: 50% !important;
}

/*.dataset-search-submit-button {
    vertical-align: middle;
}*/

.browse-category {
    width: 50%;
}

.partialSearch {
    width: 500px;
}

#DatasetSearch {
    padding: 0;
    margin: 0;
}

.index-card-table {
    border-color: #8792A4;
    border-width: 1px 1px 1px 1px;
    border-style: none;
    margin: 1px
}

/*.browse-category-card {
    align-items: center;
    text-align: center;
    padding: 10px 20px 10px 20px;
    height: 150px;
    border-color: #8792A4;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}*/

.browse-category-card {
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 10px;
    box-shadow: 2px 6px 10px #888888;
    display: block;
}

    .browse-category-card:hover {
        cursor: pointer;
        box-shadow: 3px 10px 16px #888888;
    }

        .browse-category-card:hover .catTitle {
            font-size: 19px;
        }

    .browse-category-card:active {
        box-shadow: 1px 1px 3px #888888;
    }

/*.browse-category-card:hover {
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    background-color: aliceblue;
}*/

/*********************************************/
/* Dataset List page, e.g. search results... */
/*********************************************/
.dataset-list-filters {
    vertical-align: top;
    /*box-shadow: 0 0 8px gray;*/
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}

.btnFavorite {
    font-size: 194%;
    float: right;
    color: blue;
    cursor: pointer;
}

.hover_btn_blue:hover {
    background-color: #003DA5 !important;
}

.hover_btn_green:hover {
    background-color: #005844 !important;
}

.hover_btn_gold:hover {
    background-color: #74531C !important;
}

.hover_btn_plum:hover {
    background-color: #72246C !important;
}

.hover_btn_orange:hover {
    background-color: #683431 !important;
}

.hover_btn_blueGray:hover {
    background-color: #285780 !important;
}

.fixedScroll {
    position: fixed;
    top: 135px;
}

.txt_filterMore {
    font-size: 16px;
    margin-top: 5px;
}

.moreIcon {
    padding-top: 2px;
    margin: 5px 4px 1.5em 10px;
    font-size: 16px;
}

.filterList {
    font-size: 15px;
}

.filterChbx {
    width: 18px;
    height: 18px;
}

.filterViewIcon {
    margin-top: 2px;
}

.notNested {
    padding-left: 0;
}

div[id*="filterType_"]:hover {
    cursor: pointer;
}

.btn-filter-apply {
    margin: 1em;
    margin-top: 0;
    float: right;
    border: none;
    font-size: 16px;
}

.dataset-list-filter-category {
    padding: 0;
}

.dataset-filter-subset-label {
    font-weight: bolder;
}

.ul-filter-list {
    padding: 0.5em 0.5em 0 0.5em;
    font-feature-settings: "lnum";
}

    .ul-filter-list:hover {
        cursor: pointer;
    }

.li-filter-enabled {
    padding: 2px 2px 2px 12px;
    background-color: #A6A6A6;
    vertical-align: middle;
}

    .li-filter-enabled:hover {
        color: #FFFFFF;
    }

.filter-enabled-glyph {
    display: block;
    float: right;
    vertical-align: middle;
    margin-top: 2px;
    height: 17px;
    width: 17px;
}
    /* filter-enabled-glyph:after -- gives the tiny pointer to the right of an enabled filter... */
    .filter-enabled-glyph:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left-color: #A6A6A6;
        border-width: 12px 7px; /* first number basically gives us the height; second basically gives the width of the arrow */
        margin-top: -13.5px; /* use this to position the arrow top-to-bottom; fractions of a pixel are OK here */
        margin-left: 2px; /* us this to position the arrow left-to-right; fractions of a pixel are OK here */
    }

.li-filter-disabled {
    width: 100%;
    padding: 0px 2px 0px 12px;
}

.filter-disabled-glyph {
    display: none;
    float: right;
    vertical-align: middle;
    margin-top: 1px;
    height: 17px;
    width: 17px;
}

.li-filter-disabled:hover {
    background-color: #DDDDDD;
}

.dataset-list {
    display: inline-block;
    width: 90%;
}

.ul-dataset-list-item {
    width: 100%;
    border-color: #8792A4;
    border-width: 0px;
    border-style: hidden;
    position: relative;
    margin-top: 10px;
    padding: 0.5em;
    /*border-radius: 5px;*/
    /*padding-top: 0px;*/
    /*padding-bottom: 5px;*/
    /*background-color: white;*/
}

.ul-dataset-list-item:nth-child(even) {
    background-color: #FFFFFF;
}

.ul-dataset-list-item:nth-child(odd) {
    background-color: #F7F8FF;
}



.ownerDate {
    padding: 4px 0;
}

.spacer {
    width: 25px;
}

/* wrap the upper-right of each row in the list */
.category-type-wrap {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    height: 80px;
    width: 80px;
}

.category-type {
    transform: rotate(45deg);
    transform-origin: top left;
    position: absolute;
    height: 26px;
    width: 120px;
    line-height: 26px;
    text-align: center;
    top: -21px;
    right: -56px;
    font-size: 12px;
    font-weight: bold;
    font-family: Lato, Arial, sans-serif;
}

.listItemButton {
    height: 35px;
    width: 35px;
    margin-left: 5px;
}

[class^="categoryBanner-"] {
    background-color: grey;
    color: #FFFFFF;
}



.categoryBanner-green {
    background-color: #005844 !important;
    color: #FFFFFF;
}

tr.categoryBanner-green th.sorting_asc {
    background-color: #84BD00 !important;
}

tr.categoryBanner-green th.sorting_desc {
    background-color: #84BD00 !important;
}

.categoryBanner-gold {
    background-color: #74531C !important;
    color: #FFFFFF;
}

tr.categoryBanner-gold th.sorting_asc {
    background-color: #EAAA00 !important;
}

tr.categoryBanner-gold th.sorting_desc {
    background-color: #EAAA00 !important;
}


.categoryBanner-plum {
    background-color: #72246C !important;
    color: #FFFFFF;
}

tr.categoryBanner-plum th.sorting_asc {
    background-color: #BB85AB !important;
}

tr.categoryBanner-plum th.sorting_desc {
    background-color: #BB85AB !important;
}


.categoryBanner-orange {
    background-color: #683431 !important;
    color: #FFFFFF;
}

tr.categoryBanner-orange th.sorting_asc {
    background-color: #E57200 !important;
}

tr.categoryBanner-orange th.sorting_desc {
    background-color: #E57200 !important;
}


.categoryBanner-gray {
    background-color: #9E9FA1 !important;
    color: #FFFFFF;
}

tr.categoryBanner-gray th.sorting_asc {
    background-color: #53565A !important;
}

tr.categoryBanner-gray th.sorting_desc {
    background-color: #53565A !important;
}


.categoryBanner-darkGreen {
    background-color: #005844 !important;
    color: #FFFFFF;
}

tr.categoryBanner-darkGreen th.sorting_asc {
    background-color: #005844 !important;
}

tr.categoryBanner-darkGreen th.sorting_desc {
    background-color: #005844 !important;
}



.categoryBanner-blueGray {
    background-color: #285780 !important;
    color: #FFFFFF;
}

tr.categoryBanner-blueGray th.sorting_asc {
    background-color: #89ABE3 !important;
}

tr.categoryBanner-blueGray th.sorting_desc {
    background-color: #89ABE3 !important;
}

.categoryBanner-blue {
    background-color: #003DA5 !important;
    color: #FFFFFF;
}

tr.categoryBanner-blue th.sorting_asc {
    background-color: #00A3E0 !important;
}

tr.categoryBanner-blue th.sorting_desc {
    background-color: #00A3E0 !important;
}

.categoryBanner-darkgray {
    background-color: #53565a !important;
    color: #fff;
}
    .categoryBanner-darkgray span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70px;
        display: block;
        margin: auto;
    }

tr.categoryBanner-darkgray th.sorting_asc {
    background-color: #9e9fa1 !important;
}

tr.categoryBanner-darkgray th.sorting_desc {
    background-color: #9e9fa1 !important;
}

/*.category-claim {
    background-color: #005844;
    color: #FFFFFF;
}

.category-geographic {
    background-color: #74531C;
    color: #FFFFFF;
}

.category-government {
    background-color: #72246C;
    color: #FFFFFF;
}

.category-industry {
    background-color: #683431;
    color: #FFFFFF;
}

.category-weather {
    background-color: #285780;
    color: #FFFFFF;
}

.category-sentry {
    background-color: #003DA5;
    color: #FFFFFF;
}*/

/*.dataset-list-download-link {
    color: #FFFFFF;
    background-color: #DDBB64;
    border: 0px hidden #003DA5;
    border-radius: 5px;
}*/

/*.dataset-list-download-link:hover {
    text-decoration: underline;
    cursor: pointer;
}*/

/* dataset-name-hover-popup -- when hovering over dataset name in the list */
.dataset-name-hover-popup {
    display: none;
    position: absolute;
    margin-left: 5px;
    border: 1px solid #003DA5;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #000000;
    z-index: 1000;
}
/* dataset-name-hover-popup:before -- gives the little pointer to the left of the hover popup */
/*
.dataset-name-hover-popup:before {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
*/
.dataset-list-dataset-name {
    font-size: larger;
    font-weight: bolder;
    color: #003DA5;
}

    .dataset-list-dataset-name:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.dataset-list-search-hits {
    font-size: smaller
}

/* Dataset Detail... */
.dataset-detail-content {
    width: 100%;
    vertical-align: top;
}

.listHeadGroup {
    display: inline-block;
    margin-bottom: 40px;
}

.datasetImg {
    width: 40px;
    margin-right: 5px;
}

.datasetHeader {
    margin: 0;
    padding-left: 5px;
}

.dataset-detail-content-row {
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    border-top-left-radius: 5px;
    vertical-align: top;
}

.backToList {
    display: inline-block;
    padding-top: 1em;
    height: 30px;
    margin-bottom: 5px;
}

.detailHeadGroup {
    height: 35px;
    margin-bottom: 1em;
}

.datasetDetailImg {
    width: 35px;
}

.detailHeader {
    padding-left: 8px;
}

.detailName {
    margin: 0;
    margin-top: 10px;
}

.detailNameSml {
    margin: 0;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.categoryBannerSml {
    font-size: 12px;
    font-weight: bold;
    font-family: Lato, Arial, sans-serif;
    width: auto;
    display: inline-block;
    margin-top: 1em;
    padding: 5px 8px;
}

.relative {
    position: relative;
}

.category-type-wrap-detail {
    display: inline-block;
    /*position: relative;*/
    overflow: hidden;
    height: 80px;
    width: 100%;
}

.no-overflow {
    position: absolute;
    width: 100%;
}

.category-type-detail {
    transform: rotate(-45deg);
    transform-origin: bottom;
    position: relative;
    height: 26px;
    width: 120px;
    line-height: 26px;
    text-align: center;
    top: 15px;
    right: 18px;
    font-size: 12px;
    font-weight: bold;
    font-family: Lato, Arial, sans-serif;
}

.lockIcon {
    font-size: 15px;
}

.lockIconSml {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 8px;
}

.iconExt {
    margin-top: 7px;
}

.detailExt {
    margin-left: 8px;
    margin-top: 12px;
    border: 1px solid black;
}

.detailExtSml {
    margin-left: 8px;
    border: 1px solid black;
}

.dataset-operation-button {
    font-size: 15px;
    margin-left: 10px;
}

.detailDesc {
    padding: 0.5em 1em;
}

.dataset-pushto-button {
    margin: 1em;
    height: 60px;
    width: 215px;
}

.detailTable {
    min-width: 50%;
    margin: 0.5em;
}

.colOneMeta {
    width: 200px;
}

.borderdk_gray {
    border: 1px solid gray;
}

.borderdk_blue {
    border: 1px solid #003DA5;
}

.borderdk_orange {
    border: 1px solid #683431;
}



.borderdk_gold {
    border: 1px solid #74531C;
}

.borderdk_blueGray {
    border: 1px solid #285780;
}

.borderMeta_gray {
    border-top: 1px solid gray !important;
    border-bottom: 1px solid gray !important;
}

.borderMeta_blue {
    border-top: 1px solid #003DA5 !important;
    border-bottom: 1px solid #003DA5 !important;
}

.borderMeta_orange {
    border-top: 1px solid #683431 !important;
    border-bottom: 1px solid #683431 !important;
}

.borderMeta_plum {
    border-top: 1px solid #72246C !important;
    border-bottom: 1px solid #72246C !important;
}

.borderMeta_green {
    border-top: 1px solid #005844 !important;
    border-bottom: 1px solid #005844 !important;
}

.borderMeta_gold {
    border-top: 1px solid #74531C !important;
    border-bottom: 1px solid #74531C !important;
}

.borderMeta_blueGray {
    border-top: 1px solid #285780 !important;
    border-bottom: 1px solid #285780 !important;
}

.htCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: inherit;
}

.detail-thumbnail-container {
    width: 208px;
    height: 180px;
    border: 1px;
    border-color: #DDDDDD;
    border-style: solid;
    box-shadow: 5px 5px 3px lightgrey;
}

.detail-thumbnail {
    padding: 5px;
    min-width: 204px;
    min-height: 178px;
    position: absolute;
    clip: rect(0, 201px, 174px, 0);
}

.detail-thumbnail-list {
    list-style-type: none;
    padding-left: 0px;
}

    .detail-thumbnail-list ul {
        list-style: none;
    }

/*Would be used for the side filter bar when screen is small*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 125px;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* Dataset Management Screen... */
/*.dataset-list {
    width: 100%;
}

.dataset-group {
    width: 100%;
}*/

/*#F8F5E1 = color of a manila folder*/
/*.dataset-folder-item {
    background-color: #F8F5E1;
    cursor: pointer;
    display: block;
    border-top-left-radius: 8px !important;
}*/

/*this is the first row in the dataset nested listing; it contains the search box*/
/*.fname {  
    border-top-left-radius: 0px !important;
    background-color: #c0c0c0;
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    height: 47px;
}

.dataset-file-group {
    background-color: rgb(137, 171, 227);
    padding: 2px 2px 2px 5px;
    display: block;
    border-bottom-left-radius: 8px !important;
}

.dataset-file-item {
    padding: 2px 2px 2px 5px;
    display: block;
}*/

/*  just fyi....

    sentry blue dark:  #003da5
    sentry blue light: #00a3e0

*/

.collapsibleListOpen:before {
    content: "\e252";
    font-family: "Glyphicons Halflings";
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -20px;
    color: #CCCCCC;
}

.collapsibleListClosed:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e250";
    font-family: "Glyphicons Halflings";
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -20px;
    color: #CCCCCC;
}

.dataset-file-item:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    /*content:"\2a";*/
    content: "\e022";
    font-family: "Glyphicons Halflings";
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -20px;
    color: #00a3e0;
}

/*.dataset-hover-popup {
  display: none;
  position: fixed;
  padding: 0px;
  border: 2px;
  border-color: #003DA5;
  border-radius: 0 0 2px 2px;
  background-color :#FFFFFF;
  z-index: 1000;
}*/
/*top:22px;
  left:10px;*/

.dataset-hover-popup {
    display: none;
    position: initial;
    color: #003DA5 !important;
    background-color: #FFFFFF;
    border: 2px solid #003DA5;
    border-radius: 6px;
    padding: 3px;
    /*font-size: small;*/
    font-family: Arial;
    /*transition: all 2s ease-in;*/
    z-index: 1000;
    cursor: auto;
}

/* Asset State image display... */
.AssetDisplay {
    width: 100%;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    vertical-align: middle;
    position: relative;
    border-style: solid;
    border-color: #003DA5;
    border-width: 1px;
    /*
  border-width: 1px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-collapse: collapse;
  background-color: lightblue;
  */
}

/*
.AssetDisplay + .AssetDisplay {
  margin-top: -1px;
  margin-left: -1px;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  outline: 1px solid;
}
  */

/*.AssetDisplay:nth-last-column(1) {
  border-bottom-width: 1px;
  border-right-width: 1px;
}*/

/*.AssetDisplay:first-child {
  border-bottom-width: 1px;
  border-right-width: 1px;
}*/

.AssetStateUp {
    background-image: url("../Images/status/simpleSpaz1.png");
    background-size: contain;
    /*
  background-image: url("../Images/status/beer1.png");
  background-image: url("../Images/status/battery1.png");
  background-image: url("../Images/status/circle1.png");
  background-image: url("../Images/status/circleBasic1.png");
  background-image: url("../Images/status/default1.png");
  background-image: url("../Images/status/funkyLight1.png");
  background-image: url("../Images/status/simpleSpaz1.png");
  */
}

.AssetStateDown {
    background-image: url("../Images/status/simpleSpaz2.png");
    /*
  background-image: url("../Images/status/beer2.png");
  background-image: url("../Images/status/battery2.png");
  background-image: url("../Images/status/circle2.png");
  background-image: url("../Images/status/circleBasic2.png");
  background-image: url("../Images/status/default2.png");
  background-image: url("../Images/status/funkyLight2.png");
  background-image: url("../Images/status/simpleSpaz2.png");
  */
}

.AssetStateWaiting {
    background-image: url("../Images/status/simpleSpaz3.png");
    /*
  background-image: url("../Images/status/beer3.png");
  background-image: url("../Images/status/battery3.png");
  background-image: url("../Images/status/circle3.png");
  background-image: url("../Images/status/circleBasic3.png");
  background-image: url("../Images/status/default3.png");
  background-image: url("../Images/status/funkyLight3.png");
  background-image: url("../Images/status/simpleSpaz3.png");
  */
}

.AssetStateUnknown {
    background-image: url("../Images/status/default4.png");
    /*
  background-image: url("../Images/status/beer4.png");
  background-image: url("../Images/status/circle4.png");
  background-image: url("../Images/status/default4.png");
  */
}

/*#DatasetListSearch { clear: both; }*/
.found {
    margin-top: 0;
}

.searchBoxDS {
    display: inline-block;
    width: 100% !important;
    margin-bottom: 3em;
    margin-top: 0.5em;
}

.searchTextDS {
    height: inherit;
    width: 100% !important;
    float: left;
}

.extension {
    color: white;
    display: inline-block;
    padding: 1px 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 0.5em;
}

.tags-block {
    color: white;
    background-color: #003DA5;
    display: inline-block;
    padding: 5px 5px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.contacts-block {
    background-color: #e4e4e4;
    display: inline-block;
    padding: 5px 5px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #aaa;
}

.contactinfo-remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}

.contactSearch {
    border: 1px solid #aaa;
    border-radius: 4px;
    min-height: 32px;
    padding-left: 8px;
    width: 200px;
}

.bg_gray {
    background-color: lightgray;
}

.txt {
    background-color: dodgerblue;
}

.csv {
    background-color: orange;
}

.xlsx, .xls {
    background-color: green;
}

.pdf {
    background-color: red;
}

.sas7bdat {
    background-color: #285780;
}

.prn {
    background-color: #72246C;
}

.json {
    background-color: #74531C;
}

.Excel {
    background-color: dodgerblue;
}

.Tableau {
    background-color: orange;
}
.BusinessObjects {
    background-color: green;
}
.ext_txt {
    background-color: dodgerblue;
}

.ext_csv {
    background-color: orange;
}

.ext_xlsx, .ext_xls {
    background-color: green;
}

.ext_pdf {
    background-color: red;
}

.ext_sas7bdat {
    background-color: #285780;
}

.ext_prn {
    background-color: #72246C;
}

.ext_json {
    background-color: #74531C;
}

.borderSide_gray {
    border: 1.5px solid lightgrey;
    border-left: 6px solid lightgrey;
}

.borderSide_darkGreen {
    border: 1.5px solid #005844;
    border-left: 6px solid #005844;
}

.borderSide_darkgray {
    border: 1.5px solid #53565a;
    border-left: 6px solid #53565a;
}

.borderSide_blue {
    border: 1.5px solid #00A3E0;
    border-left: 6px solid #00A3E0;
}

.borderSide_orange {
    border: 1.5px solid #E57200;
    border-left: 6px solid #E57200;
}

.borderSide_plum {
    border: 1.5px solid #BB85AB;
    border-left: 6px solid #BB85AB;
}

.borderSide_green {
    border: 1.5px solid #84BD00;
    border-left: 6px solid #84BD00;
}

.borderSide_gold {
    border: 1.5px solid #EAAA00;
    border-left: 6px solid #EAAA00;
}

.borderSide_clcDkBlue {
    border: 1.5px solid #003DA5;
    border-left: 6px solid #003DA5;
}

.borderSide_blueGray {
    border: 1.5px solid #89ABE3;
    border-left: 6px solid #89ABE3;
}

/**********************/
/* DataAsset Index page */
/**********************/

@media (max-width: 767px) /* xs */
{
    .text-xs-left {
        text-align: left;
    }

    .smlMarg {
        margin: 1em;
    }
}

@media (min-width: 768px) /* sm */
{
    .clcCard, .clcCardWide {
        width: 47%;
        margin-right: 1.5%;
        margin-left: 1.5%;
    }

    .text-sm-right {
        text-align: right;
    }
}

@media (min-width: 992px) /* md and up */
{
    .clcCard {
        width: 31.33%;
        margin-right: 1%;
        margin-left: 1%;
    }

    .text-md-right {
        text-align: right;
    }
}

.clcCard, .clcCardWide {
    margin-bottom: 20px;
    box-shadow: 2px 6px 10px #888888;
    padding: 1em;
    background-color: white;
}

.indexHeader {
    border-bottom: 2px solid #003DA5;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.indexName {
    position: relative;
    float: left;
    margin-left: 0.75em;
}

.daName {
    float: left;
    margin-right: 0.5em;
}

.assetImg {
    width: 40px;
    height: 40px;
    margin-left: 1em;
    margin-top: 1em;
}


.daArrow {
    padding-top: 0.5em;
}

.daDD {
    margin-top: 1em;
}

.daHamburger {
    margin-top: 0.5em;
    float: right;
    margin-right: 0.75em;
}

.daCollapse {
    text-align: right;
}

.desc {
    font-size: larger;
    text-align: center;
    padding: 0 3em 1em 3em;
}

.dummyRow {
    height: 50px;
}

.dummyBtn {
    height: 35px;
    margin-top: 1em;
}

.dummyTableHeader {
    height: 25px;
}

.clcName {
    margin-bottom: 1em;
    height: 32px;
}

.element {
    margin-left: 0.5em;
}

.clcTool {
    height: 0.5em;
    margin-left: 0.25em;
}

.tableHeader {
    margin: 0;
}

.tableRow {
    border-bottom: 1px solid lightgrey;
    margin: 0 1em;
    padding: 1em 0;
    height: 50px;
}

.parentRow {
    float: left;
    margin-right: 1em;
}

.indent {
    width: 92.5%;
    margin-left: 7.5%;
}

.viewMoreBtn {
    width: 100%;
    text-align: center;
    height: 35px;
    margin-top: 1em;
}

.boxShadow {
    box-shadow: 2px 6px 10px #888888;
}

.boxShadowSm {
    box-shadow: 2px 3px 5px #888888;
}

[class^="hidden_"], [class^="hiddenLayer_"], [id^="hidden_filterMore_"] {
    display: none;
}

/*[class^="row_"]:hover,*/ .rowLink:hover {
    background-color: #eff0f2;
}

.noHover:hover {
    text-decoration: none;
}

.row_blue {
    border-bottom: 2px solid #003DA5 !important;
}

.row_orange {
    border-bottom: 2px solid #683431 !important;
}

.row_plum {
    border-bottom: 2px solid #72246C !important;
}

.row_green {
    border-bottom: 2px solid #005844 !important;
}

.row_gold {
    border-bottom: 2px solid #74531C !important;
}

.row_ltBlue {
    border-bottom: 2px solid #00A3E0 !important;
}

.row_blueGray {
    border-bottom: 2px solid #285780 !important;
}

.darkgray { color: #53565a; }

.blue{ color: #003DA5; }

.white {
    color: white !important;
}


.darkGreen {
    color: #005844;
}

.gray {
    color: gray;
}
.darkgray {
    color: #53565a;
}

.blue {
    color: #003DA5;
}

.orange {
    color: #683431;
}

.plum {
    color: #72246C;
}

.green {
    color: #005844;
}

.gold {
    color: #74531C;
}

.blueGray {
    color: #285780;
}

.ltBlue {
    color: #00A3E0;
}

.lt_blue {
    color: #00A3E0;
}

.lt_orange {
    color: #E57200;
}

.lt_plum {
    color: #BB85AB;
}

.lt_green {
    color: #84BD00;
}

.lt_gold {
    color: #EAAA00;
}

.lt_blueGray {
    color: #89ABE3;
}

.BG_blue {
    background-color: #00A3E0;
}

.BG_orange {
    background-color: #E57200;
}

.BG_plum {
    background-color: #BB85AB;
}

.BG_green {
    background-color: #84BD00;
}

.BG_gold {
    background-color: #EAAA00 !important;
}

.BG_ltBlue {
    background-color: #00A3E0;
}

.BG_dkBlue {
    background-color: #003DA5;
}

.BG_blueGray {
    background-color: #89ABE3;
}

.border_blue {
    border: 1.5px solid #00A3E0;
    border-top: 6px solid #00A3E0;
}

.border_orange {
    border: 1.5px solid #E57200;
    border-top: 6px solid #E57200;
}

.border_plum {
    border: 1.5px solid #BB85AB;
    border-top: 6px solid #BB85AB;
}

.border_green {
    border: 1.5px solid #84BD00;
    border-top: 6px solid #84BD00;
}

.border_gold {
    border: 1.5px solid #EAAA00;
    border-top: 6px solid #EAAA00;
}

.border_blueGray {
    border: 1.5px solid #89ABE3;
    border-top: 6px solid #89ABE3;
}

.border_gray {
    border: 1.5px solid #888888;
    border-top: 6px solid #888888;
}

.border_darkGreen {
    border: 1.5px solid #005844;
    border-top: 6px solid #005844;
}

/* CSS for Data Asset with Status and Last Updated */

.indexUpdate {
    margin-top: 1.25em;
}
/*

.clcName
{
    padding-left: 1.5em;
}

.tableRow
{
    height: 1em;
    margin: 0 1em 0 1em;
    padding-bottom: 2.5em;
    border-bottom: 1px solid lightgrey;
}

.element, .layerArrow
{
    padding-top: 0.5em;
}

.progress-bar-vertical 
{
    width: 20px;
    min-height: 6.5em;
    display: flex;
    align-items: flex-end;
}

.progress-bar-vertical-index 
{
    width: 40px;
    min-height: 5em;
    display: flex;
    align-items: flex-end;
    float: left;
    margin-left: 1.5em;
    background-color: white;
    box-shadow: 0px 4px 10px #888888;
}

.progress-bar-vertical-element 
{
    width: 20px;
    min-height: 2em;
    display: flex;
    align-items: flex-end;
    margin: 0 1em 0 auto;
}

.progress-bar-vertical-index .progressBar, 
.progress-bar-vertical .progressBar, 
.progress-bar-vertical-element .progressBar
{
    width: 100%;
    height: 0;
}

@-webkit-keyframes statusUp
{
    0% { height: 0; }
    100% { height: 100%; }
}

@-moz-keyframes statusUp
{
    0% { height: 0; }
    100% { height: 100%; }
}

@keyframes statusUp
{
    0% { height: 0; }
    100% { height: 100%; }
}

.upBar
{
    -webkit-animation: statusUp 1s;
    -moz-animation: statusUp 1s;
    animation: statusUp 1s;
    height: 100% !important;
}

@-webkit-keyframes statusDown
{
    0% { height: 0; }
    100% { height: 20%; }
}

@-moz-keyframes statusDown
{
    0% { height: 0; }
    100% { height: 20%; }
}

@keyframes statusDown
{
    0% { height: 0; }
    100% { height: 20%; }
}

.downBar
{
    -webkit-animation: statusDown 0.5s;
    -moz-animation: statusDown 0.5s;
    animation: statusDown 0.5s;
    height: 20% !important;
}

@-webkit-keyframes statusWarning
{
    0% { height: 0; }
    100% { height: 50%; }
}

@-moz-keyframes statusWarning
{
    0% { height: 0; }
    100% { height: 50%; }
}

@keyframes statusWarning
{
    0% { height: 0; }
    100% { height: 50%; }
}

.warningBar
{
    -webkit-animation: statusWarning 0.75s;
    -moz-animation: statusWarning 0.75s;
    animation: statusWarning 0.75s;
    height: 50% !important;
}

*/

/**********************/
/* Home Page */
/**********************/

.dataHeader {
    padding-bottom: 5px;
    border-bottom: 2px solid #00A3E0;
}

.searchBox {
    height: 45px;
    box-shadow: 2px 6px 10px #888888;
    display: inline-block;
    width: 95%;
    margin-bottom: 10px;
    /*margin-top: 1em;*/
}

.searchText {
    height: inherit;
    width: 85%;
    float: left;
}

#search {
    height: inherit;
    width: 270px;
    float: left;
}

.searchBtn {
    width: 15%;
    height: inherit;
}

.outside {
    text-align: center;
    margin-top: 1em;
}

.inside {
    display: inline-block;
    vertical-align: top;
}

.gridArea {
    width: 680px;
    display: inline-block;
    vertical-align: top;
}

.all {
    margin: 10px;
    float: left;
    box-shadow: 2px 6px 10px #888888;
}

    .all:hover {
        box-shadow: 4px 12px 20px #888888;
    }

        .all:hover .btnTitle {
            font-size: 22px;
        }

    .all:active {
        box-shadow: 1px 4px 8px #888888;
    }

.unUsable {
    background-color: #8080806b !important;
}

/* remove extra space before the comma */
.comma:not(:first-child) {
    margin-left: -.3em;
}

/* no need to display empty elements */
.comma:empty {
    display: none;
}

.comma:not(:first-child):before {
    content: ", ";
}

.blueBox, .ltBlueBox {
    height: 320px;
    width: 150px;
}

.orangeBox, .goldBox {
    height: 150px;
    width: 150px;
}

.grayBox, .greenBox, .plumBox {
    height: 150px;
    width: 320px;
}

.ltBlueBox {
    float: right;
}

.gridArea-sm {
    width: 340px;
    display: inline-block;
    vertical-align: top;
}

.assetDD {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-left: 10px;
    box-shadow: 2px 6px 10px #888888;
}

.asset {
    margin-right: 3em;
    width: 155px;
    padding: 1em;
}

.feed {
    width: 20%;
    min-width: 235px;
    padding: 1em 0 1em 1em;
}

.feed, .asset {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    box-shadow: 2px 6px 10px #888888;
}

    .feed .nav-pills {
        margin-bottom: 15px;
    }

.feedBox {
    max-height: 430px;
    overflow-y: auto;
}

.assetBox .assetlastUpdtBox {
    height: 460px;
    overflow-y: auto;
}

.assetBox div:hover {
    background-color: #eff0f2;
}

.assetBox a:hover {
    text-decoration: none;
}

.assetHeader {
    margin: 0;
}

.assetlastUpdtBox div:hover {
    background-color: #eff0f2;
}

.assetlastUpdtBox a:hover {
    text-decoration: none;
}

.feedHeader {
    margin: 0;
    margin-right: 1em;
}

.topFeed {
    display: inherit;
    width: calc(100% - 1em);
}

.feedCheckbox label {
    display: block;
}

.feedCheckbox input {
    margin: 0;
    vertical-align: middle;
    margin-right: 5px;
    height: 17px;
    width: 17px;
}

.feedCheckbox label span {
    vertical-align: middle;
}

.assetItem, .feedItem {
    margin: 0;
    padding: 0.8em 0.5em;
    border-bottom: 1px solid lightgrey;
}

.feedItem {
    margin-right: 0.5em;
    word-wrap: break-word;
}

.feed-date {
    font-feature-settings: 'lnum';
    font-size: 12px;
    margin-top: 6px;
}

.feedImg {
    float: left;
    margin-right: 0.6em;
    filter: brightness(0.55) sepia(1) hue-rotate(34deg) saturate(5);
    width: 16px;
}

.feedName {
    font-size: larger;
}

.noFeedBox {
    margin-right: 1em;
}

.noFeedIcon {
    font-size: 50px;
    color: #EAAA00;
    text-align: center;
    margin-bottom: 10px;
}

.noFeedMessage {
    clear: both;
    text-align: center;
}

.feedCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: inherit;
}

.feedSpinner {
    margin: 0 auto;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: inherit;
}

.btnImg {
    display: block;
    margin: 1em auto;
    height: 50px;
    width: 50px;
}

.catImg {
    /*padding-bottom: 1em;*/
    height: 65%;
    width: 65%;
    margin: 0 auto;
    /*margin-bottom: 1em;*/
}

.catTitle {
    margin: 0;
    margin-bottom: 0.25em;
    /*position: absolute;
    bottom: 1.5em;*/
    width: 150px;
    text-align: center;
}

/*.catTitle
{
    position: absolute;
    bottom: 1em;
    width: 150px;
    text-align: center;
}*/

.btnTitle {
    margin: 0;
    text-align: center;
    padding-bottom: 5px;
}

.vertCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
}

.btnDesc {
    padding: 1em;
}

.vertCenterTall {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 320px;
}

.btnAssetList {
    padding: 0;
}

    .btnAssetList li {
        list-style-type: none;
        color: #005844;
    }

.menu {
    background-color: white;
}

.insideDataset {
    display: inline-block;
    width: 100%;
}

.gridArea a:hover, .gridArea-sm a:hover {
    text-decoration: none;
}

.gridArea a:focus, .gridArea-sm a:hover {
    text-decoration: none;
}

.leftFloat {
    float: left;
}

.rightFloat {
    float: right;
}

.clearFloat {
    clear: both;
}

.display-table {
    display: table;
}

.display-tablecell {
    display: table-cell;
}

.see {
    border: 1px solid black;
}

.inlineBlock {
    display: inline-block;
    vertical-align: top;
}

.textCenter {
    text-align: center;
}

.textBold {
    font-weight: bold;
}


@media (min-width: 768px) /* sm */
{
    .searchBox {
        width: 525px;
        padding: 0;
        margin-bottom: 1.5em;
    }

    #search {
        width: 610px;
    }

    .searchText {
        width: 475px !important;
    }

    .searchBtn {
        width: 50px;
    }

    .ownerDate {
        /*float: right;*/
        text-align: right;
    }

    .dataset-list {
        width: 650px;
    }

    .about {
        width: auto;
        margin-right: 0;
    }

    /*.partialSearch
    {
        width: 500px;
    }*/

    .insideDataset {
        width: 525px;
    }

    .browse-category-card {
        margin: 15px 0;
    }

        .browse-category-card:hover .catImg {
            margin-bottom: 2em;
            height: 67%;
            width: 67%;
        }

    .catImg {
        display: block;
        padding-bottom: 1em;
        margin-bottom: 1.5em;
    }

    .catTitle {
        position: absolute;
        bottom: 1.5em;
        /*width: 150px;
        text-align: center;*/
    }
}

@media (min-width: 992px) /* md */
{
    /*.searchBox 
    { 
        width: 850px; 
        margin-top: 2em;
        margin-bottom: 3em;
    }

    #search { width: 800px; }
    #SearchText { width: 800px; }*/

    .feed {
        width: 100%;
        margin-left: 0px;
        border: 1.5px solid #00a3e0;
        border-top: 6px solid #00a3e0;
        min-height: 680px;
    }

    .detailDesc {
        padding: 1em;
    }

    .backToList {
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) /* lg and up */
{
    .asset, .feed {
        margin-top: 2em;
    }

    .assetlastUpdt {
        margin-top: 2em;
    }
}

/* Sentry approved colors
    #003DA5 - dark blue
    #00A3E0 - blue
    #72246C - dark plum
    #BB85AB - plum
    #683431 - dark orange
    #E57200 - orange
    #005844 - dark green
    #84BD00 - green
    #74531C - dark gold
    #EAAA00 - gold
    #285780 - dark blue-gray
    #89ABE3 - blue-gray
*/

/********************
    Preview Datasets
******************/
.dataset_pre {
    height: auto;
    max-height: 400px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

.detailSection {
    margin-top: 40px;
}

.datasetversionmodal {
    width: 800px;
}

.detailSectionHeader {
    float: left;
    margin-right: 1em;
}

.assetcomsumption {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    /*background-color: white;*/
    /*box-shadow: 2px 6px 10px #888888;*/
    /*height: 530px;*/
    width: 50%;
    margin-top: 2em;
}

.assetlastUpdt {
    /*text-align: left;*/
    /*display: inline-block;*/
    vertical-align: top;
    background-color: white;
    box-shadow: 2px 6px 10px #888888;
    /*margin-right: 5em;*/
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
    /*width: auto;*/
    /*max-width: 50%;*/
    padding: 1em;
}


.assetlastUpdtHeader {
    margin: 0;
    margin-bottom: 1em;
}

.assethealthtable {
    width: 100%;
}

.assethealthrow {
    /*border-bottom: 1px solid lightgrey;*/
    /*width: 100%;*/
}

.assethealthitem {
    margin: 0;
    padding: 0.8em 0.5em;
    /*border-bottom: 1px solid lightgrey;*/
    /*width: 50%;*/
    font-size: larger;
}

.desc_container {
    margin: auto;
    width: 75%;
}

.assetAlerts {
    /*border-bottom: 2px solid #003DA5;*/
    padding-bottom: 1em;
    margin-bottom: 1em;
    width: 75%;
    margin: auto;
}

.assetAlertItem {
    display: block;
}

.alertHeading {
    font-size: 125%;
}

.ConfigFileDesc {
    width: 100%;
    max-width: 100%;
}

@keyframes blink {
    from, to {
        opacity: 1
    }

    50% {
        opacity: 0.25
    }
}

.numbers {
    font-size: 12px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    z-index: 2;
    border-radius: 3px;
    padding-bottom: 2px;
    position: absolute;
    left: 16px;
    top: -10px;
}

.has-feedback .form-control {
    padding-right: 34px;
}

    .has-feedback .form-control.input-sm,
    .has-feedback.form-group-sm .form-control {
        padding-right: 30px;
    }

    .has-feedback .form-control.input-lg,
    .has-feedback.form-group-lg .form-control {
        padding-right: 46px;
    }

.has-feedback-left .form-control {
    padding-right: 12px;
    padding-left: 34px;
}

    .has-feedback-left .form-control.input-sm,
    .has-feedback-left.form-group-sm .form-control {
        padding-left: 30px;
    }

    .has-feedback-left .form-control.input-lg,
    .has-feedback-left.form-group-lg .form-control {
        padding-left: 46px;
    }

.has-feedback-left .form-control-feedback {
    left: 0;
}

.form-control-feedback {
    line-height: 34px !important;
}

.input-sm + .form-control-feedback,
.form-horizontal .form-group-sm .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px !important;
}

.input-lg + .form-control-feedback,
.form-horizontal .form-group-lg .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px !important;
}

.has-feedback label.sr-only ~ .form-control-feedback,
.has-feedback label.sr-only ~ div .form-control-feedback {
    top: 0;
}

@media (min-width: 768px) {
    .form-inline .inline-feedback {
        position: relative;
        display: inline-block;
    }

    .form-inline .has-feedback .form-control-feedback {
        top: 0;
    }
}

.form-horizontal .has-feedback-left .form-control-feedback {
    left: 15px;
}

#assetMenu {
    position: fixed;
    left: 15px;
    top: 261px;
    width: 175px;
    margin-top: -2.5em;
}

.assetItem {
    background-color: white;
    padding-left: 15px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

@media only screen and (max-width: 1650px) {
    #assetMenu {
        left: 0;
    }
}

@media only screen and (max-width: 1500px) {
    #assetMenu {
        display: none;
    }
}

#primaryPanel {
    margin-top: -1px;
}

    #primaryPanel .query-builder {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 10px 10px 6px;
        border: 1px solid #aaa;
        background: white;
    }

        #primaryPanel .query-builder div {
        }

#datasetsContainer {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: white;
    border: 1px solid black;
    padding: 15px;
}

#datasetsHeader {
    background-color: #003da5;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    font-weight: 700;
}


    #datasetsHeader h4 {
        color: white;
        padding-left: 15px;
        display: inline-block;
    }

    #datasetsHeader .tracker-menu-icon {
        margin: 2px 10px 0 10px;
        color: white;
        display: inline-block;
    }

#bannerRow {
    width: 1166px;
}

#adminToolsButtons {
    float: right;
    margin-top: 18px;
    margin-right: -35px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    #bannerRow {
        width: 966px;
    }

    #adminToolsButtons {
        margin-top: -40px;
        margin-right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #bannerRow {
        width: 746px;
    }

    #adminToolsButtons {
        margin-top: -40px;
        margin-right: 0px;
    }
}

@media (max-width: 768px) {
    #bannerRow {
        width: 746px;
    }

    #adminToolsButtons {
        margin-top: -40px;
        margin-right: 0px;
    }
}


.optional {
    font-weight: 100;
}

.hero {
    height: 420px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media (min-width: 768px) {
    .hero {
        height: 420px;
    }
}

.hero-media {
    height: 488px;
    margin: 0 0 0;
    position: relative;
    overflow: inherit !important;
}

    .hero-media .picture {
        height: 488px;
        overflow: hidden !important;
        position: relative;
        z-index: 1;
    }

.hero .backgroundImage {
    height: auto;
    left: 50%;
    margin-left: -384px;
    position: absolute;
    top: 0;
    width: 768px;
    z-index: 1;
}

.hero .backgroundImage {
    border: 0;
    display: block;
    font-style: italic;
    height: auto;
    width: 100%;
    vertical-align: middle;
    left: 0;
    margin-left: 0 !important;
    position: relative;
    width: 100% !important;
}

.accessRequestModelText {
    text-align: center;
    color: #00A3E0;
    margin: 0px auto;
    font-size: 17px;
}
.accessRequestErrorBox {
    margin-bottom: 30px;
    border: 1px solid red;
    padding: 5px;
    color: red;
}

.tagFormErrorBox {
    margin-bottom: 30px;
    border: 1px solid red;
    padding: 5px;
    color: red;
}

.hero-media .container {
    display: block !important;
    height: 420px;
    left: 0;
    margin: 0 auto;
    position: relative;
    top: -420px;
    -moz-transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
    z-index: 5;
    background-color: transparent;
}

    .hero-media .container .bar, .hero-media .listing-grid .swiper-container .bar, .listing-grid .hero-media .swiper-container .bar,
    .hero-media .section-media-default .swiper-container .bar, .section-media-default .hero-media .swiper-container .bar {
        bottom: 0;
        left: 0;
        margin: 0;
        position: absolute;
        width: 100%;
        height: auto;
        top: auto;
    }

.textReadOnly {
    padding-top: 6px;
}

.text-box[type="number"] {
    border: 1px solid #ccc;
    padding: 5px 10px;
    height: 32px;
}



/*styles form forbidden pages*/
a.forbiddenHero:link {
    text-decoration:underline;
}


a.forbiddenHero:hover {
    color: #ff0000;
}

.adminContainer {
    border:2px solid red;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding:5px;
}

.display-none {
    display: none;
}

.multi-level-dropdown .dropdown-item a:active, .multi-level-dropdown .dropdown-item a:hover, .dropdown-submenu a:active, .dropdown-submenu a:hover {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #00A3E0 !important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.multi-level-dropdown .dropdown-item a, .multi-level-dropdown .dropdown-submenu a {
    width: 100% !important;
    font-size: .9rem !important;
    padding: 0.5rem !important;
}

.dropdown-submenu {
    display: block;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    float: left ;
}

.dropdown-submenu .dropdown-item, .multi-level-dropdown .dropdown-item {
    padding: 0 !important;
    background-color: transparent !important;
}

.multi-level-dropdown .dropdown-header {
    display: inline !important;
}

.modal-title {
    padding-top: 0px !important;
}

.dsc-blueGray-text {
    color: #285780;
}

.dsc-orange-text {
    color: #683431;
}

.dsc-gold-text {
    color: #74531c;
}

.dsc-green-text {
    color: #005844;
}

.dsc-plum-text {
    color: #72246c;
}

.dsc-blue-text {
    color: #003da5;
}

.dsc-gray-text {
    color: #9E9FA1;
}

.dsc-darkgray-text {
    color: #53565A;
}

.dsc-darkGreen-text {
    color: #005844;
}

div.dataTables_wrapper {
    width: 100% !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.md-form input:not([type]).valid, .dataTables_wrapper .filter-row input:not([type]).valid, .md-form input:not([type]):focus.valid, .dataTables_wrapper .filter-row input:not([type]):focus.valid, .md-form input[type="text"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="text"]:not(.browser-default).valid, .md-form input[type="text"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="text"]:not(.browser-default):focus.valid, .md-form input[type="password"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="password"]:not(.browser-default).valid, .md-form input[type="password"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="password"]:not(.browser-default):focus.valid, .md-form input[type="email"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="email"]:not(.browser-default).valid, .md-form input[type="email"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="email"]:not(.browser-default):focus.valid, .md-form input[type="url"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="url"]:not(.browser-default).valid, .md-form input[type="url"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="url"]:not(.browser-default):focus.valid, .md-form input[type="time"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="time"]:not(.browser-default).valid, .md-form input[type="time"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="time"]:not(.browser-default):focus.valid, .md-form input[type="date"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="date"]:not(.browser-default).valid, .md-form input[type="date"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="date"]:not(.browser-default):focus.valid, .md-form input[type="datetime"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="datetime"]:not(.browser-default).valid, .md-form input[type="datetime"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="datetime"]:not(.browser-default):focus.valid, .md-form input[type="datetime-local"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="datetime-local"]:not(.browser-default).valid, .md-form input[type="datetime-local"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="datetime-local"]:not(.browser-default):focus.valid, .md-form input[type="tel"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="tel"]:not(.browser-default).valid, .md-form input[type="tel"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="tel"]:not(.browser-default):focus.valid, .md-form input[type="number"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="number"]:not(.browser-default).valid, .md-form input[type="number"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="number"]:not(.browser-default):focus.valid, .md-form input[type="search"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="search"]:not(.browser-default).valid, .md-form input[type="search"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="search"]:not(.browser-default):focus.valid, .md-form input[type="phone"]:not(.browser-default).valid, .dataTables_wrapper .filter-row input[type="phone"]:not(.browser-default).valid, .md-form input[type="phone"]:not(.browser-default):focus.valid, .dataTables_wrapper .filter-row input[type="phone"]:not(.browser-default):focus.valid, .md-form input[type="search-md"].valid, .dataTables_wrapper .filter-row input[type="search-md"].valid, .md-form input[type="search-md"]:focus.valid, .dataTables_wrapper .filter-row input[type="search-md"]:focus.valid, .md-form textarea.md-textarea.valid, .dataTables_wrapper .filter-row textarea.md-textarea.valid, .md-form textarea.md-textarea:focus.valid, .dataTables_wrapper .filter-row textarea.md-textarea:focus.valid {
    border-bottom: 1px solid #ced4da !important;
    box-shadow: none !important;
}

.tableContent {
    display: grid !important;
}

.md-form label {
    padding-left: 0rem !important;
}

.dropdown-content label {
    padding-left: 38px !important; /* Restore left padding for dropdowns (specifically multiselect dropdowns) */
}

.dataTable {
    border-spacing: inherit;
}

.tt-suggestions table {
    background-color: white;
}

table.dsc-green-table th.sorting_asc, table.dsc-green-table th.sorting_desc {
    background-color: #84BD00 !important;
}

table.dsc-green-table th {
    background-color: #005844;
}

table.dsc-darkGreen-table th.sorting_asc, table.dsc-darkGreen-table th.sorting_desc {
    background-color: #84BD00 !important;
}

table.dsc-darkGreen-table th {
    background-color: #005844;
}

table.dsc-blueGray-table th.sorting_asc, table.dsc-blueGray-table th.sorting_desc {
    background-color: #89ABE3 !important;
}

table.dsc-blueGray-table th {
    background-color: #285780;
}

table.dsc-gray-table th.sorting_asc, table.dsc-gray-table th.sorting_desc {
    background-color: #9E9FA1 !important;
}

table.dsc-gray-table th {
    background-color: #53565A;
}

table.dsc-gold-table th.sorting_asc, table.dsc-gold-table th.sorting_desc {
    background-color: #EAAA00 !important;
}

table.dsc-gold-table th {
    background-color: #74531C;
}

table.dsc-plum-table th.sorting_asc, table.dsc-plum-table th.sorting_desc {
    background-color: #BB85AB !important;
}

table.dsc-plum-table th {
    background-color: #72246C;
}

table.dsc-orange-table th.sorting_asc, table.dsc-orange-table th.sorting_desc {
    background-color: #E57200 !important;
}

table.dsc-orange-table th {
    background-color: #683431;
}

table.dsc-blue-table th.sorting_asc, table.dsc-blue-table th.sorting_desc {
    background-color: #00A3E0 !important;
}

table.dsc-blue-table th {
    background-color: #003DA5;
}

.input-group .mdb-select {
    padding-top: 0.375rem;
}

.dsc-icon-button {
    font-size: 1.25rem;
}

.dataTables_processing {
    z-index: 999;
}

.buford-multi-select input.select-dropdown {
    font-size: inherit !important;
    color: #212529;
}

.dataset-disable-stuff {
    pointer-events: none;
}