.s-tag {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    min-width: 0;
    padding-left: 4px;
    padding-right: 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.84615385;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    border-color: transparent;
    background-color: #E1ECF4;
    color: #2c5777;
}

#TagSelector li {
    overflow: auto;
}