<log4net>
  <root>
    <level value="INFO" />
    <appender-ref ref="SELAppender" />
  </root>
  <!-- The Sentry.Common.Logging logger is used to bridge the gap during converstion to Sentry.EnterpriseLogging 
         This will capture all logging through the legacy Sentry.Commmon.Logging library. 
         This can be removed after we are completely converted to Sentry.EnterpriseLogging-->
  <logger name="Sentry.Common.Logging">
    <level value="DEBUG" />
  </logger>
  <logger name="NHibernate">
    <level value="WARN" />
  </logger>
  <logger name="NHibernate.SQL" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="trace" />
  </logger>
  <logger name="Microsoft">
    <level value="WARN" />
  </logger>
  <logger name="Sentry.Configuration">
    <level value="WARN" />
  </logger>
  <logger name="Sentry.Smarts">
    <level value="WARN" />
  </logger>
  <logger name="Sentry.Login">
    <level value="WARN" />
  </logger>
  <logger name="Sentry.Web">
    <level value="WARN" />
  </logger>
  <logger name="Sentry.data.Web">
    <level value="DEBUG" />
  </logger>
  <logger name="LaunchDarkly">
    <level value="INFO" />
    <appender-ref ref="RollingLogFileAppenderLocal" />
    <appender-ref ref="SELAppender" />
  </logger>
  <appender name="SELAppender" type="Sentry.EnterpriseLogging.LogAppenders.WebApplicationAppender, Sentry.EnterpriseLogging.Web">
    <file value="This is not used" />
    <logFileName value="DATA.log" />
    <logFolderFilePath type="log4net.Util.PatternString" value="C:\Temp\SEL_Logs" />
  </appender>
  <appender name="RollingLogFileAppenderLocal" type="log4net.Appender.RollingFileAppender">
    <file value="C:\\Temp\\DotNetLogs\\DATA.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="20MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-23date [%-5thread] %-5level %logger %property{log4net:HostName} %username - %aspnet-request{AUTH_USER} - (%location) - %message%newline" />
    </layout>
  </appender>
   <!--log4Net configuration for NHibernate--> 
  <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n%n" />
    </layout>
  </appender>
  
  <!-- <appender name="RollingLogFileAppenderLocal" type="log4net.Appender.RollingFileAppender">

    <file value="C:\\Temp\\DotNetLogs\\DATA.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="20MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-23date [%-5thread] %-5level %logger %property{log4net:HostName} %username - %aspnet-request{AUTH_USER} - (%location) - %message%newline" />
    </layout>
  </appender>
  <appender name="SELAppenderLocal" type="Sentry.Common.LogAppenders.WebApplicationAppender, Sentry.Common">
    <file value="This is not used" />
    <applicationName value="DATA" />
    <logFileName value="dataLogFile.log" />
    <logFolderFilePath value="C:\\Temp\\SEL_Logs" />
    --><!-- Use this environmentName value if you are using Sentry.Configuration and have the 2.1.6 version--><!--
    <environmentName value="Sentry.Configuration.EnvironmentName, Sentry.Configuration" />
  </appender>
  <appender name="SELAppenderServer" type="Sentry.Common.LogAppenders.WebApplicationAppender, Sentry.Common">
    <file value="This is not used" />
    <applicationName value="DATA" />
    <logFileName type="log4net.Util.PatternString" value="DATA_LogFile.log" />
    <logFolderFilePath value="${LOGPATH}" />
    --><!-- Use this environmentName value if you are using Sentry.Configuration and have the 2.1.6 version--><!--
    <environmentName value="Sentry.Configuration.EnvironmentName, Sentry.Configuration" />
  </appender>
  <appender name="Sentry.Web.RollingLogFileAppenderLocal" type="log4net.Appender.RollingFileAppender">
    --><!--<file value="Log\\data-Sentry.Web.log" />--><!--
    <file value="C:\\Temp\\DotNetLogs\\DATA-Sentry.Web.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="20MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-23date [%-5thread] %-5level %logger %property{log4net:HostName} %username - %aspnet-request{AUTH_USER} - (%location) - %message%newline" />
    </layout>
  </appender>
  <appender name="Sentry.Web.SELAppenderServer" type="Sentry.Common.LogAppenders.WebApplicationAppender, Sentry.Common">
    <file value="This is not used" />
    <applicationName value="DATA_Web" />
    <logFileName value="DATA_WebLogFile.log" />
    <logFolderFilePath value="${LOGPATH}" />
    --><!-- Use this environmentName value if you are using Sentry.Configuration and have the 2.1.6 version--><!--
    <environmentName value="Sentry.Configuration.EnvironmentName, Sentry.Configuration" />
  </appender>
  <appender name="Sentry.Smarts.RollingLogFileAppenderLocal" type="log4net.Appender.RollingFileAppender">
    --><!--<file value="Log\\data-Sentry.Smarts.log" />--><!--
    <file value="C:\\Temp\\DotNetLogs\\DATA-Sentry.Smarts.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="20MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-23date [%-5thread] %-5level %logger %property{log4net:HostName} %username - (%location) - %message%newline" />
    </layout>
  </appender>
  <appender name="Sentry.Smarts.SELAppenderServer" type="Sentry.Common.LogAppenders.WebApplicationAppender, Sentry.Common">
    <file value="This is not used" />
    <applicationName value="DATA_Smarts" />
    <logFileName value="DATA_SmartsLogFile.log" />
    <logFolderFilePath value="${LOGPATH}" />
    --><!-- Use this environmentName value if you are using Sentry.Configuration and have the 2.1.6 version--><!--
    <environmentName value="Sentry.Configuration.EnvironmentName, Sentry.Configuration" />
  </appender>-->
  

</log4net>