<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="sentrySettings">
      <section name="SentryPrincipal" type="Sentry.Web.Security.SentryPrincipalSectionHandler,Sentry.Web" />
      <section name="EnvironmentSettings" type="Sentry.Configuration.EnvironmentSettingsSectionHandler,Sentry.Configuration" />
      <section name="SmartsSettings" type="Sentry.Smarts.Configuration.SmartsConfiguration,Sentry.Smarts" />
      <section name="SentryLoginSettings" type="Sentry.Web.Security.SentryLoginConfigurationSection,Sentry.Web" />
    </sectionGroup>
    <section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler, NHibernate.Caches.SysCache" requirePermission="false" />
    <section name="doddleReport" type="DoddleReport.Configuration.DoddleReportSection, DoddleReport" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net threshold="ALL">
    <logger name="Sentry.LoggerDEV">
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppenderLocal" />
      <!--Include SEL appender for testing it is working, 
      you will still want to use the file appender for local development-->
      <appender-ref ref="SELAppenderLocal" />
    </logger>
    <logger name="Sentry.LoggerTEST">
      <level value="DEBUG" />
      <appender-ref ref="SELAppenderServer" />
    </logger>
    <logger name="Sentry.LoggerNRTEST">
      <level value="DEBUG" />
      <appender-ref ref="SELAppenderServer" />
    </logger>
    <logger name="Sentry.LoggerQUAL">
      <level value="DEBUG" />
      <appender-ref ref="SELAppenderServer" />
    </logger>
    <logger name="Sentry.LoggerPROD">
      <level value="INFO" />
      <appender-ref ref="SELAppenderServer" />
    </logger>
    <logger name="Sentry.Web.LoggerDEV">
      <level value="INFO" />
      <appender-ref ref="Sentry.Web.RollingLogFileAppenderLocal" />
    </logger>
    <logger name="Sentry.Web.LoggerTEST">
      <level value="INFO" />
      <appender-ref ref="Sentry.Web.SELAppenderServer" />
    </logger>
    <logger name="Sentry.Web.LoggerNRTEST">
      <level value="INFO" />
      <appender-ref ref="Sentry.Web.SELAppenderServer" />
    </logger>
    <logger name="Sentry.Web.LoggerQUAL">
      <level value="INFO" />
      <appender-ref ref="Sentry.Web.SELAppenderServer" />
    </logger>
    <logger name="Sentry.Web.LoggerPROD">
      <level value="INFO" />
      <appender-ref ref="Sentry.Web.SELAppenderServer" />
    </logger>
    <logger name="Sentry.Smarts.LoggerDEV">
      <level value="INFO" />
      <appender-ref ref="Sentry.Smarts.RollingLogFileAppenderLocal" />
    </logger>
    <logger name="Sentry.Smarts.LoggerTEST">
      <level value="INFO" />
      <appender-ref ref="Sentry.Smarts.SELAppenderServer" />
    </logger>
    <logger name="Sentry.Smarts.LoggerNRTEST">
      <level value="INFO" />
      <appender-ref ref="Sentry.Smarts.SELAppenderServer" />
    </logger>
    <logger name="Sentry.Smarts.LoggerQUAL">
      <level value="INFO" />
      <appender-ref ref="Sentry.Smarts.SELAppenderServer" />
    </logger>
    <logger name="Sentry.Smarts.LoggerPROD">
      <level value="WARN" />
      <appender-ref ref="Sentry.Smarts.SELAppenderServer" />
    </logger>
    <logger name="LaunchDarkly">
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppenderLocal" />
      <appender-ref ref="SELAppenderServer" />
    </logger>
    <root>
      <level value="OFF" />
    </root>
    <appender name="RollingLogFileAppenderLocal" type="log4net.Appender.RollingFileAppender">
      <!--<file value="Log\\data.log" />-->
      <file value="C:\\Temp\\DotNetLogs\\DATA.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-23date [%-5thread] %-5level %logger %property{log4net:HostName} %username - %aspnet-request{AUTH_USER} - (%location) - %message%newline" />
      </layout>
    </appender>
    <appender name="SELAppenderLocal" type="Sentry.Common.LogAppenders.WebApplicationAppender, Sentry.Common">
      <file value="This is not used" />
      <applicationName value="DATA" />
      <logFileName value="dataLogFile.log" />
      <logFolderFilePath value="C:\\Temp\\SEL_Logs" />
      <!-- Use this environmentName value if you are using Sentry.Configuration and have the 2.1.6 version-->
      <environmentName value="Sentry.Configuration.EnvironmentName, Sentry.Configuration" />
    </appender>
    <appender name="SELAppenderServer" type="Sentry.Common.LogAppenders.WebApplicationAppender, Sentry.Common">
      <file value="This is not used" />
      <applicationName value="DATA" />
      <logFileName type="log4net.Util.PatternString" value="DATA_LogFile.log" />
      <logFolderFilePath value="${LOGPATH}" />
      <!-- Use this environmentName value if you are using Sentry.Configuration and have the 2.1.6 version-->
      <environmentName value="Sentry.Configuration.EnvironmentName, Sentry.Configuration" />
    </appender>
    <appender name="Sentry.Web.RollingLogFileAppenderLocal" type="log4net.Appender.RollingFileAppender">
      <!--<file value="Log\\data-Sentry.Web.log" />-->
      <file value="C:\\Temp\\DotNetLogs\\DATA-Sentry.Web.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-23date [%-5thread] %-5level %logger %property{log4net:HostName} %username - %aspnet-request{AUTH_USER} - (%location) - %message%newline" />
      </layout>
    </appender>
    <appender name="Sentry.Web.SELAppenderServer" type="Sentry.Common.LogAppenders.WebApplicationAppender, Sentry.Common">
      <file value="This is not used" />
      <applicationName value="DATA_Web" />
      <logFileName value="DATA_WebLogFile.log" />
      <logFolderFilePath value="${LOGPATH}" />
      <!-- Use this environmentName value if you are using Sentry.Configuration and have the 2.1.6 version-->
      <environmentName value="Sentry.Configuration.EnvironmentName, Sentry.Configuration" />
    </appender>
    <appender name="Sentry.Smarts.RollingLogFileAppenderLocal" type="log4net.Appender.RollingFileAppender">
      <!--<file value="Log\\data-Sentry.Smarts.log" />-->
      <file value="C:\\Temp\\DotNetLogs\\DATA-Sentry.Smarts.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-23date [%-5thread] %-5level %logger %property{log4net:HostName} %username - (%location) - %message%newline" />
      </layout>
    </appender>
    <appender name="Sentry.Smarts.SELAppenderServer" type="Sentry.Common.LogAppenders.WebApplicationAppender, Sentry.Common">
      <file value="This is not used" />
      <applicationName value="DATA_Smarts" />
      <logFileName value="DATA_SmartsLogFile.log" />
      <logFolderFilePath value="${LOGPATH}" />
      <!-- Use this environmentName value if you are using Sentry.Configuration and have the 2.1.6 version-->
      <environmentName value="Sentry.Configuration.EnvironmentName, Sentry.Configuration" />
    </appender>
    <!-- log4Net configuration for NHibernate -->
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n%n" />
      </layout>
    </appender>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="trace" />
    </logger>
  </log4net>
  <sentrySettings>
    <EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
      <importSettings path="defaultSettings.config" />
    </EnvironmentSettings>
    <SentryPrincipal ApplicationName="DatasetManagement" AdSecUrlKey="AdSecUrl" LogicalDomains="Intranet,ServiceAccounts" />
    <!--
    RegistrationURL is an option to have the user register.
            LoginUrlKey="LoginURL" - Create a cookie, that will be the single sign on token
            AuthenticationServiceUrlKey="authServiceUrl" - called to validate the token.
            AuthenticationServiceProfileKey="authServiceProfile" - Way to determine what kind of authentication you want to use, default, extranet, intranet - more to come.
            SupressLoginRedirectsForAjaxCalls="True" - Doesn't have an associated key in default settings. Heavy AJAX, want this to be true. JSON would be the html of the redirect page if false.                              
            ProfileUrlKey="profileUrl" - Used for getting information about people in the login service. Name contact info.
            ProfileCredentialsUserNameKey="ServiceAccountID" - ID and Password, in secured file.
            ProfileCredentialsPasswordKey="ServiceAccountPassword"
            RequestingApplicationKey="RequestingApplication" - Used for tracking what application is calling the login service. - Talk to Mike Heier when we get to user management.
            SSOCookieDomain=".sentry.com"  - For future use.     
    -->
    <SentryLoginSettings LoginUrlKey="LoginURL" AuthenticationServiceUrlKey="authServiceUrl" AuthenticationServiceProfile="Internal" SupressLoginRedirectsForAjaxCalls="True" SSOCookieDomain=".sentry.com" />
    <SmartsSettings serviceName="data" xmlns="urn:Sentry.Smarts.Configuration">
      <!-- TODO: Change these SmartsSettings to suit your needs.  Refer to the documentation for a complete list of options. -->
      <databases>
        <add name="SentryDatasets" refreshInterval="20" connectionStringKey="DatabaseConnectionString" slaImpact="FullOutage" slaCustomerImpactDetail="Site would not display any datasets for download." slaDescription="Stores listing of all datasets" />
      </databases>
      <smartsServices>
        <add name="Obsidian" urlKey="ObsidianAdServiceUrl" refreshInterval="20" smartsPage="/_status/smarts.aspx" slaImpact="FullOutage" slaCustomerImpactDetail="The application would become unusable." slaDescription="This is related to validating user security to the application through Obsidian." />
        <add name="Sentry Login" refreshInterval="600" urlKey="authServiceUrl" smartsPage="/smarts" slaImpact="InformationalOnly" slaCustomerImpactDetail="Sentry Login not being available will cause a full outage. It is not being monitored because many application use this." slaDescription="Sentry Login is used for pass through authentication or entry of user information when not a Sentry associate." />
        <add name="HRMS" urlKey="HrServiceUrl" refreshInterval="20" smartsPage="/_status/smarts.aspx" slaImpact="PartialOutage" slaCustomerImpactDetail="Areas of the application where user names are displayed, for instance the roles tab, would become unusable." slaDescription="This is related to display of HRMS information and validation of status of associates." />
      </smartsServices>
      <customResources>
        <add name="HangfireServer" targetType="Sentry.data.Web.SmartsResources.CustomSmartsResources, Sentry.data.Web" slaImpact="PartialOutage" slaCustomerImpactDetail="Users will not be able to upload datasets or receive notifications." slaDescription="Hangfire is the job processor for Goldeneye" tags="hangfire" />
        <add name="HangfireFailedJobs" targetType="Sentry.data.Web.SmartsResources.HangfireFailedJobsResource, Sentry.data.Web" slaImpact="PartialOutage" slaCustomerImpactDetail="Some asynchronous processing of datasets or notifications may be in a failed state." slaDescription="Hangfire is the job processor for Goldeneye; if any asynchronous processing jobs have failed, it requires intervention." tags="hangfire" />
      </customResources>
    </SmartsSettings>
  </sentrySettings>
  <!-- These are settings for the NHibernate second-level cache.  Time is in seconds -->
  <syscache>
    <!-- 8 hours -->
    <cache region="LongTerm" expiration="28800" priority="5" />
    <!-- 1 hour -->
    <cache region="MediumTerm" expiration="3600" priority="4" />
    <!-- 5 minutes -->
    <cache region="ShortTerm" expiration="300" priority="3" />
    <!-- 1 minute -->
    <cache region="VeryShortTerm" expiration="60" priority="2" />
  </syscache>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral,  PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" delayNotificationTimeout="60" maxRequestLength="102400" maxQueryStringLength="10000" />
    <authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>
    <httpCookies httpOnlyCookies="true" />
    <!-- set mode="On" to see friendly errors on your local -->
    <!-- set mode="Off" to see errors on remote server -->
    <!-- set mode="RemoteOnly" to see friendly errors on remote server -->
    <!-- <customErrors mode="Off"/> -->
    <customErrors mode="RemoteOnly" defaultRedirect="/ServerError">
      <error statusCode="404" redirect="/NotFound" />
      <error statusCode="403" redirect="/Forbidden" />
    </customErrors>
    <sessionState cookieless="false" mode="InProc" timeout="240" />
    <!-- machineKey node is necessary to ensure encryption/decryption and validation are controlled per application, not per machine. (needed for antiforgery)
         see http://msdn.microsoft.com/en-us/library/ff649308.aspx for details, see http://aspnetresources.com/tools/machineKey for a generator -->
    <machineKey validationKey="53317475CE059301F8933D6A200788A1ACF08AB7FACAA39641B865C8DE2E0CEA64C22ACA47425C866A2710B626FE5597E649A5DEE6720A42FCEA01E3A88BC1BC" decryptionKey="FF22616612A62D869C3E0E9F40EA594E4918FDA8B5BC0CA9" validation="SHA1" decryption="AES" />
    <healthMonitoring>
      <rules>
        <add name="Application Events" eventName="Application Lifetime Events" provider="EventLogProvider" profile="Default" />
      </rules>
    </healthMonitoring>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 100MB max content length for file upload -->
        <requestLimits maxAllowedContentLength="104857600" maxQueryString="10000" />
      </requestFiltering>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <basicAuthentication enabled="false" realm="sentry.com" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CustomBasicAuthenticationModule" type="Sentry.Web.Security.CustomBasicAuthenticationModule" />
      <add name="SentryLoginModule" type="Sentry.Web.Security.SentryLoginModule" />
    </modules>
    <!-- Set errorMode="Custom" to see friendly errors on your local-->
    <httpErrors existingResponse="Auto" errorMode="DetailedLocalOnly">
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" path="/Forbidden" responseMode="ExecuteURL" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/NotFound" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="/ServerError" responseMode="ExecuteURL" />
    </httpErrors>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="24:00:00" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.S3" publicKeyToken="885C28607F98E604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.Core" publicKeyToken="885C28607F98E604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.96.0.0" newVersion="0.96.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5022.0" newVersion="2.0.5022.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.26.0.0" newVersion="6.26.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.26.0.0" newVersion="6.26.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.Logging" publicKeyToken="d9182e4b0afd33e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.CommonSdk" publicKeyToken="45ef1738a929a7df" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.ServerSdk" publicKeyToken="f86add69004e6885" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.2.0" newVersion="6.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.EventSource" publicKeyToken="18e8c36453e3060f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.1.0" newVersion="5.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.JsonStream" publicKeyToken="baa039a572ce18d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.0" newVersion="2.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.57.0.0" newVersion="1.57.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Cloud.Storage.V1" publicKeyToken="185c282632e132a0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Storage.Blobs" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.13.1.0" newVersion="12.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.25.0.0" newVersion="1.25.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Rest" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Namotion.Reflection" publicKeyToken="c2f9c3bdfae56102" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Hashing" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.10.0.0" newVersion="4.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.10.0.0" newVersion="4.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Dynamic.Core" publicKeyToken="0f07ec44de6ac832" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.24.0" newVersion="1.2.24.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="dist">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <doddleReport defaultWriter="Html" dataRowStyle="DataRowStyle" headerRowStyle="HeaderRowStyle" footerRowStyle="FooterRowStyle">
    <styles>
      <style name="DataRowStyle" />
      <style name="HeaderRowStyle" bold="true" underline="true" />
      <style name="FooterRowStyle" bold="true" />
      <style name="Footer" italic="true" />
      <style name="Title" fontSize="16" />
    </styles>
    <writers>
      <clear />
      <add format="Html" type="DoddleReport.Writers.HtmlReportWriter, DoddleReport" contentType="text/html;charset=UTF-8" fileExtension=".html" />
      <add format="Text" type="DoddleReport.Writers.DelimitedTextReportWriter, DoddleReport" contentType="text/plain;charset=UTF-8" fileExtension=".txt" offerDownload="true" />
      <add format="Excel" type="DoddleReport.Writers.ExcelReportWriter, DoddleReport" contentType="application/vnd.ms-excel" offerDownload="true" fileExtension=".xls" />
      <add format="ExcelOpenXml" type="DoddleReport.OpenXml.ExcelReportWriter, DoddleReport.OpenXml" contentType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" offerDownload="true" fileExtension=".xlsx" />
    </writers>
  </doddleReport>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ChangeManagement">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dix-q-smrapp-01.sentry.com:15098/SM/7/ws" binding="basicHttpBinding" bindingConfiguration="ChangeManagement" contract="HPMSChangeManagement.ChangeManagement" name="ChangeManagement" />
    </client>
  </system.serviceModel>
  <!--SNOWFLAKE CODE:  
      Tell snowflake connection to use PROXY
  -->
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <module type="Sentry.data.Web.SentryProxy, Sentry.data.Web" />
    </defaultProxy>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>