@model List<FavoriteItemModel>

@{
    ViewBag.Title = "Favorites";
}

<h2>Edit Favorites</h2>

@* simple hidden input used to store the Id of the Favorite chosen to be deleted;
    needed so we have the Id when user clicks the Yes button in the confirmation modal *@
<input id="hidDeleteFavoriteId" type="hidden" />

<div id="favorites-wrapper">
    <p>Drag and drop to reorder favorites</p>

    @{Html.RenderPartial("_FavoritesList", Model);}
</div>
<div id="spinner-wrapper" class="hidden"><span class="sentry-spinner"></span></div>

<div id="fav-delete-confirmation" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you wish to delete this favorite?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button id="btnDeleteFav" type="button" class="btn btn-primary">Yes, delete Favorite</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        data.Favorites.Init();

    </script>

}