<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="sentrySettings">
      <section name="EnvironmentSettings" type="Sentry.Configuration.EnvironmentSettingsSectionHandler,Sentry.Configuration" />
    </sectionGroup>
  </configSections>
  <!-- log4net settings -->
  <log4net threshold="ALL">
    <logger name="Sentry.LoggerDev">
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppenderLocal" />
      <appender-ref ref="SELAppenderLocal" />
    </logger>
    <logger name="Sentry.LoggerTest">
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppenderServer" />
      <appender-ref ref="SELAppenderServer" />
    </logger>
    <logger name="Sentry.LoggerQual">
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppenderServer" />
      <appender-ref ref="SELAppenderServer" />
    </logger>
    <logger name="Sentry.LoggerProd">
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppenderServer" />
      <appender-ref ref="SELAppenderServer" />
    </logger>
    <root>
      <level value="OFF" />
    </root>
    <appender name="RollingLogFileAppenderLocal" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="C:\\Temp\\Applogs\\Sentry.data.Bundler.WindowsService.log" />
      </file>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-23date [%-5thread] %-5level %message%newline" />
      </layout>
    </appender>
    <appender name="SELAppenderLocal" type="Sentry.Common.LogAppenders.NonWebApplicationAppender, Sentry.Common">
      <file value="This is not used" />
      <applicationName value="DatasetBundler" />
      <logFileName type="log4net.Util.PatternString" value="DatasetBundler.log" />
      <logFolderFilePath value="C:\\Temp\\AppLogs\\DatasetBundler\\" />
      <!-- Use this environmentName value if you are using Sentry.Configuration and have the 2.1.6 version-->
      <environmentName value="Sentry.Configuration.EnvironmentName, Sentry.Configuration" />
    </appender>
    <appender name="RollingLogFileAppenderServer" type="log4net.Appender.RollingFileAppender">
      <file value="${LOGPATH}\BundleService.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-23date [%-5thread] %-5level %message%newline" />
      </layout>
    </appender>
    <appender name="SELAppenderServer" type="Sentry.Common.LogAppenders.NonWebApplicationAppender, Sentry.Common">
      <file value="This is not used" />
      <applicationName value="DatasetBundler" />
      <logFileName type="log4net.Util.PatternString" value="DatasetBundler.log" />
      <logFolderFilePath value="${LOGPATH}" />
      <!-- Use this environmentName value if you are using Sentry.Configuration and have the 2.1.6 version-->
      <environmentName value="Sentry.Configuration.EnvironmentName, Sentry.Configuration" />
    </appender>
  </log4net>
  <!-- Sentry.Configuration settings -->
  <sentrySettings>
    <EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
      <!-- If you have a shared "defaultSettings" config file, import it here -->
      <!-- <importSettings path="defaultSettings.config" /> -->
      <defaultEnvironmentList>
        <env name="DEV">
          <machine executablePathRegex=".*(Mainline([^-]|-DCM)|ReportingPortal).*" nameRegex="(sho|dix|mad|ste)(is|it).*" />
        </env>
        <env name="NRDEV">
          <machine executablePathRegex=".*(Mainline-NR|DSC).*" nameRegex="(sho|dix|mad|ste)(is|it).*" />
        </env>
        <env name="TEST">
          <machine nameRegex="(sho|dix)-t-.*" />
        </env>
        <env name="QUAL">
          <machine nameRegex="(sho|dix)-q-.*" />
        </env>
        <env name="PROD">
          <machine nameRegex="(sho|dix)-p-.*" />
        </env>
      </defaultEnvironmentList>
      <config key="AppLogger">
        <settingList>
          <setting name="DEV,NRDEV" value="Sentry.LoggerDev" />
          <setting name="TEST,NRTEST" value="Sentry.LoggerTest" />
          <setting name="QUAL" value="Sentry.LoggerQual" />
          <setting name="PROD" value="Sentry.LoggerProd" />
        </settingList>
      </config>
      <config key="BundleRequestDir">
        <settingList>
          <setting name="DEV,NRDEV" value="C:\tmp\DatasetBundle\request\" />
          <setting name="TEST" value="\\sentry.com\appfs_nonprod\DatasetBundle_Test\request\" />
          <setting name="NRTEST" value="\\sentry.com\appfs_nonprod\DatasetBundle_NRTest\request\" />
          <setting name="QUAL" value="\\sentry.com\appfs_nonprod\DatasetBundle_Qual\request\" />
          <setting name="PROD" value="\\sentry.com\appfs\DatasetBundle\request\" />
        </settingList>
      </config>
      <config key="BundleBaseWorkDirectory">
        <settingList>
          <setting name="DEV,NRDEV" value="C:\tmp\DatasetBundle\work\" />
          <setting name="TEST,NRTEST,QUAL,PROD" value="%WORKINGSTORAGE%\work\" />
        </settingList>
      </config>
      <config key="WebProxyUrl">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="http://serverproxyqual.sentry.com:8080" />
          <setting name="PROD" value="http://serverproxyprod.sentry.com:8080" />
        </settingList>
      </config>
      <config key="AWSRootBucket">
        <settingList>
          <setting name="NRDEV,NRTEST" value="sentry-dataset-management-np-nr" />
          <setting name="DEV,TEST,QUAL" value="sentry-dataset-management-np" />
          <setting name="PROD" value="sentry-dataset-management" />
        </settingList>
      </config>
      <config key="S3DataPrefix">
        <settingList>
          <setting name="DEV,NRDEV" value="data-dev/" />
          <setting name="TEST,NRTEST" value="data-test/" />
          <setting name="QUAL,PROD" value="data/" />
        </settingList>
      </config>
      <config key="AWSAccessKey">
        <settingList>
          <setting name="DEV,NRDEV" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml" />
          <setting name="NRTEST,TEST,QUAL,PROD" externalValueFile="%SecretFile%" />
        </settingList>
      </config>
      <config key="AWSSecretKey">
        <settingList>
          <setting name="DEV,NRDEV" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml" />
          <setting name="NRTEST,TEST,QUAL,PROD" externalValueFile="%SecretFile%" />
        </settingList>
      </config>
      <config key="DatabaseConnectionString">
        <settingList>
          <setting name="DEV" value="Data Source=(localdb)\mssqllocaldb;Initial Catalog=SentryDatasets;Integrated Security=SSPI;" />
          <setting name="NRDEV" value="Data Source=DATA-NRDEV-SentryDatasets_NR.db.sentry.local;Initial Catalog=SentryDatasets_NR;Integrated Security=SSPI;" />
          <setting name="NRTEST" value="Data Source=DATA-NRTEST-SentryDatasets_NR.db.sentry.local;Initial Catalog=SentryDatasets_NR;Integrated Security=SSPI;" />
          <setting name="TEST" value="Data Source=DATA-TEST-SentryDatasets.db.sentry.local;Initial Catalog=SentryDatasets;Integrated Security=SSPI;" />
          <setting name="QUAL" value="Data Source=DATA-QUAL-SentryDatasets.dbal.sentry.local;multisubnetfailover=true;ApplicationIntent=ReadWrite;Initial Catalog=SentryDatasets;Integrated Security=SSPI;" />
          <setting name="PROD" value="Data Source=DATA-PROD-SentryDatasets.dbal.sentry.local;multisubnetfailover=true;ApplicationIntent=ReadWrite;Initial Catalog=SentryDatasets;Integrated Security=SSPI;" />
        </settingList>
      </config>
      <config key="ObsidianUserCacheTimeoutMinutes">
        <settingList>
          <setting name="DEV,NRDEV,NRTEST,TEST,QUAL" value="1" />
          <setting name="PROD" value="10" />
        </settingList>
      </config>
      <config key="WebApiUrl">
        <settingList>
          <setting name="DEV" value="http://localhost:2457" />
          <setting name="NRDEV" value="http://localhost:2463" />
          <setting name="NRTEST" value="https://datatestnr.sentry.com" />
          <setting name="TEST" value="https://datatest.sentry.com" />
          <setting name="QUAL" value="https://dataqual.sentry.com" />
          <setting name="PROD" value="https://data.sentry.com" />
        </settingList>
      </config>
      <config key="LoaderRequestPath">
        <settingList>
          <setting name="DEV,NRDEV" value="C:\tmp\DatasetLoaderRequest\incoming_request\" />
          <setting name="TEST" value="\\sentry.com\appfs_nonprod\DatasetLoaderRequest_Test\incoming_request\" />
          <setting name="NRTEST" value="\\sentry.com\appfs_nonprod\DatasetLoaderRequest_NRTest\incoming_request\" />
          <setting name="QUAL" value="\\sentry.com\appfs_nonprod\DatasetLoaderRequest_Qual\incoming_request\" />
          <setting name="PROD" value="\\sentry.com\appfs\DatasetLoaderRequest\incoming_request\" />
        </settingList>
      </config>
      <config key="FileShare">
        <settingList>
          <setting name="DEV,NRDEV" value="c:\tmp\" />
          <setting name="NRTEST,TEST,QUAL" value="\\sentry.com\appfs_nonprod\" />
          <setting name="PROD" value="\\sentry.com\appfs\" />
        </settingList>
      </config>
      <config key="DSCEventTopic">
        <settingList>
          <setting name="DEV,NRDEV" value="GOLDENEYE-A072984" />
          <setting name="NRTEST,TEST,QUAL" value="GOLDENEYE-000000A" />
          <setting name="PROD" value="GOLDENEYE-000000" />
        </settingList>
      </config>
      <config key="KafkaDebugLogging">
        <settingList>
          <setting name="DEV,NRDEV,NRTEST,TEST,QUAL,PROD" value="false" />
        </settingList>
      </config>
    </EnvironmentSettings>
  </sentrySettings>
  <appSettings>
    <add key="AWSRegion" value="us-east-1" />
    <add key="ApplicationName" value="DatasetBundler" />
    <add key="SAIDKey" value="DATA" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.Logging" publicKeyToken="d9182e4b0afd33e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.CommonSdk" publicKeyToken="45ef1738a929a7df" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.ServerSdk" publicKeyToken="f86add69004e6885" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.2.0" newVersion="6.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.EventSource" publicKeyToken="18e8c36453e3060f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.1.0" newVersion="5.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.JsonStream" publicKeyToken="baa039a572ce18d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Namotion.Reflection" publicKeyToken="c2f9c3bdfae56102" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.10.0.0" newVersion="4.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.10.0.0" newVersion="4.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
