<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="SELAppender" />
  </root>
  <!-- The Sentry.Common.Logging logger is used to bridge the gap during converstion to Sentry.EnterpriseLogging 
         This will capture all logging through the legacy Sentry.Commmon.Logging library. 
         This can be removed after we are completely converted to Sentry.EnterpriseLogging-->
  <logger name="NHibernate">
    <level value="WARN" />
  </logger>
  <logger name="NHibernate.SQL" additivity="false">
    <level value="INFO" />
    <appender-ref ref="trace" />
  </logger>
  <logger name="Microsoft">
    <level value="WARN" />
  </logger>
  <logger name="Sentry.Configuration">
    <level value="WARN" />
  </logger>
  <logger name="Sentry.Login">
    <level value="WARN" />
  </logger>
  <logger name="LaunchDarkly">
    <level value="INFO" />
  </logger>
  <appender name="SELAppender" type="Sentry.EnterpriseLogging.LogAppenders.NonWebApplicationAppender, Sentry.EnterpriseLogging">
    <file value="This is not used" />
    <applicationName value="Goldeneye" />
    <logFileName type="log4net.Util.PatternString" value="Sentry.data.GOLDENEYE.log" />
    <logFolderFilePath value="${LOGPATH}" />
  </appender>
   <!--log4Net configuration for NHibernate--> 
  <appender name="trace" type="Sentry.EnterpriseLogging.LogAppenders.TraceAppender, Sentry.EnterpriseLogging">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1} - %m - %property{selCustomFields} %exception%n" />
    </layout>
  </appender>
  </log4net>