@{
    ViewData["Title"] = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*This Forbidden page is triggered by MVC AuthorizeByPermission attribute security around controllers*@
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8 col-sm-12">
            <h1 class="error-icon">Oops!</h1>
            <h4 class="pt-1">Error 401: Unauthorized</h4>
            <p>
                You are not authorized to view this page.<br>
                Please view our <a href="https://confluence.sentry.com/display/CLA/Access+Guide">access guide</a> or contact <a href="mailto:DSCSupport@sentry.com?Subject=Access Help">DSC Support.</a>
            </p>
        </div>
    </div>
</div>