
@{
    ViewData["Title"] = "ErrorTester";
    //Layout = "~/Views/Shared/GenericLayout.cshtml";
}

<h2>Error Tester</h2>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>
                <span class="fas fa-info-circle"></span>
                To see the "friendly" error pages when running locally, you'll need to make
                <a data-toggle="collapse" data-parent="#accordion" href="#webconfig">
                    a few changes to your web.config.
                </a>
            </p>
        </div>
        <div id="webconfig" class="panel-collapse collapse">
            <div class="panel-body">
<pre>
&lt;system.web&gt;
    &lt;customerrors <mark>mode="On"</mark> defaultredirect="/ServerError"&gt;
        &lt;error statuscode="401" redirect="/Unauthorized" /&gt;
        &lt;error statuscode="404" redirect="/NotFound" /&gt;
        &lt;error statuscode="403" redirect="/Forbidden" /&gt;
    &lt;/customerrors&gt;
&lt;/system.web&gt;
</pre>
<pre>
&lt;system.webserver&gt;
    &lt;httperrors existingresponse="Auto" <mark>errormode="Custom"</mark>&gt;
        &lt;remove statuscode="401" substatuscode="-1" /&gt;
        &lt;error statuscode="401" path="/Unauthorized" responsemode="ExecuteURL" /&gt;
        &lt;remove statuscode="403" substatuscode="-1" /&gt;
        &lt;error statuscode="403" path="/Forbidden" responsemode="ExecuteURL" /&gt;
        &lt;remove statuscode="404" substatuscode="-1" /&gt;
        &lt;error statuscode="404" path="/NotFound" responsemode="ExecuteURL" /&gt;
        &lt;remove statuscode="500" substatuscode="-1" /&gt;
        &lt;error statuscode="500" path="/ServerError" responsemode="ExecuteURL" /&gt;
    &lt;/httperrors&gt;        
&lt;/system.webserver&gt;
</pre>
            </div>
        </div>
    </div>
</div>

<p>@Html.ActionLink("401 Unauthorized", "Index", "Error", new {errorNumber = "401"}, new Object())</p>
<p>@Html.ActionLink("403 Unauthorized", "Index", "Error", new {errorNumber = "403"}, new Object())</p>
<p><a href="Test404">404 Not Found (route)</a></p>
<p><a href="Test404.gif">404 Not Found (static resource)</a></p>
<p>@Html.ActionLink("500 Server Error", "Index", "Error", new {errorNumber = "500"}, new Object())</p>


