@{
    ViewData["Title"] = "Server Error";
    Layout = "~/Views/Shared/_GenericLayout.cshtml";
}

<div class="sentry-error-container">
    <br /><br />
    <em class="fa fa-exclamation-triangle fa-3x text-danger"></em><br />
    <span class="sentry-error-code">ERROR 500</span>
    <br /><br />
    <span class="sentry-error-title">Oops!</span><br />
    <span class="sentry-error-title-descr">(server error)</span>
    <br /><br /><br />
    Something went terribly wrong!<br />
    We apologize for the inconvenience.<br />
    If you need assistance,
    please contact the <a href="mailto:DSCSupport@sentry.com">Data.Sentry.com Administrators</a>.
</div>
