<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="sentrySettings">
      <section name="EnvironmentSettings" type="Sentry.Configuration.EnvironmentSettingsSectionHandler,Sentry.Configuration" />
    </sectionGroup>
  </configSections>
  <!-- log4net settings -->

  <!-- Sentry.Configuration settings -->
  <sentrySettings>
    <EnvironmentSettings defaultDomain="sentry.com">
      <defaultEnvironmentList>
        <env name="TESTING">
          <machine executablePathRegex="." nameRegex="." />
        </env>
      </defaultEnvironmentList>  
      <config key="FileShare">
        <settingList>
          <setting name="TESTING" value="c:\\tmp\" />
        </settingList>
      </config>
      <config key="AWSRootBucket">
        <settingList>
          <setting name="TESTING" value="sentry-dataset-management-np-nr" />
        </settingList>
      </config>
      <config key="S3DataPrefix">
        <settingList>
          <setting name="TESTING" value="C:\\testing\" />
        </settingList>
      </config>
      <config key="SentryDataBaseUrl">
        <settingList>
          <setting name="TESTING" value="http://localhost.sentry.com:0000" />
        </settingList>
      </config>
    </EnvironmentSettings>
  </sentrySettings>
  <appSettings>
    <add key="S3PreviewPrefix" value="Previews/" />
    <add key="S3BundlePrefix" value="bundles/" />
    <add key="ApplicationName" value="DataLoaderConsoleApp" />
    <!-- ###  BEGIN Sentry.Data  A### - Code below is Sentry.Data-specific -->
    <add key="AuctionCompleterSleepMinutes" value="5" />
    <add key="AWSRegion" value="us-east-1" />
    <add key="SentryWebProxyPort" value="80" />
    <add key="SentryS3ProxyPort" value="80" />
    <!-- ###  END Sentry.Data  ### - Code above is Sentry.Data-specific -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.76.0.0" newVersion="0.76.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
