@model List<SchemaMapDetailModel>
<ul class="schemaMappingList">
    @foreach (SchemaMapDetailModel map in Model)
    {
        <li class="row">
            <div class="col">
                Dataset: <a href="@map.DatasetDetailUrl"><span>@map.DatasetName</span></a>
            </div> 
            <div class="col">
                Schema: <span>@map.SchemaName</span>
            </div>
        </li>            
    }
</ul>
