@model Sentry.data.Web.ManageNotificationViewModel
@{
    ViewBag.Title = "Manage Notifications";
}

<h1>Notifications</h1>
<hr />



<div class="form-group">
    @if (Model.CanModifyNotifications)
    {
        <span>
            <a href="~/Notification/ModifyNotification" class="btn btn-primary">Create New Notification</a>
        </span>
    }
    <span>
        <input id="RequestAccessButton" type="button" value="Request Access" class="btn btn-primary"
               data-toggle="tooltip" data-placement="top" title="Request access to create notifications" style="margin-left:40px" />
    </span>
</div>
<hr />



<div>
    <div id="hide_detailSectionHeader_AssetNotification">
        <table class="table table-striped table-bordered " id="notificationTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Edit</th>
                    <th>Active</th>
                    <th>Notified Area</th>
                    <th>Title</th>
                    <th>Created By</th>
                    <th>Effective Time</th>
                    <th>Expiration Time</th>
                    <th>Message Severity</th>
                    <th>Expire</th>


                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<br />


@section Scripts{
    <script src="@Html.GetContent("datatables.*.js")"></script>
    @Styles.Render("~/bundles/css/dataTables")
    <script>
        $(function () {
            data.Notification.Init();
        });
    </script>
}