@model bool

<div class="switch text-center">
    <div class="searchColumnsLabel text-muted">Search Columns</div>
    <label class="searchColumnsSwitch">
        <input type="checkbox" id="ShouldSearchColumns" checked="@Model">
        <span class="lever"></span>
    </label>
</div>