@model Sentry.data.Web.Models.Migration.DatasetMigrationResponseModel

<div class="ResponseContainer">
    <div class="row">
        <table class="table dsc-blud-table table-boardered table-hover nowrap" id="migrationResponseTable">
            <thead>
                <tr class="table-header">
                    <th scope="col">Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>