<?xml version="1.0"?>
<configuration>
  <sentrySettings>
    <EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
      <defaultEnvironmentList>
        <env name="Dev">
          <!--<webHost name="."/>-->
          <machine executablePathRegex=".*Mainline[^-].*" nameRegex="(sho|dix|mad|ste)(is|it).*"/>
        </env>
        <env name="NR_D">
          <!--<webHost name="localhost" />-->
          <machine executablePathRegex=".*Mainline-NR.*" nameRegex="(sho|dix|mad|ste)(is|it).*" />
        </env>
        <env name="NR_T">
          <webHost nameRegex="datatestnr.?(\.sentry\.com)?$"/>
          <machine nameRegex="(sho|dix)-t-.*"/>
        </env>
        <!--<env name="Test">
          <webHost nameRegex="datatest[^n][^r].?(\.sentry\.com)?$"/>
          --><!--<machine nameRegex="(sho|dix)-t-.*"/>--><!--
        </env>-->
        <env name="Qual">
          <webHost nameRegex="dataqual.?(\.sentry\.com)?$"/>
          <machine nameRegex="(sho|dix)-q-.*"/>
        </env>
        <env name="Prod">
          <webHost nameRegex="data.?(\.sentry\.com)?$"/>
          <machine nameRegex="(sho|dix)-p-.*"/>
        </env>
      </defaultEnvironmentList>
      <config key="AppLogger">
        <settingList>
          <setting name="Dev,NR_D" value="Sentry.LoggerDev"/>
          <setting name="Test" value="Sentry.LoggerTest"/>
          <setting name="NR_T" value="Sentry.LoggerTestNR"/>          
          <setting name="Qual" value="Sentry.LoggerQual"/>
          <setting name="Prod" value="Sentry.LoggerProd"/>
        </settingList>
      </config>
      <config key="SentryWebLogger">
        <settingList>
          <setting name="Dev,NR_D" value="Sentry.Web.LoggerDev"/>
          <setting name="Test" value="Sentry.Web.LoggerTest"/>
          <setting name="NR_T" value="Sentry.Web.LoggerTestNR"/>
          <setting name="Qual" value="Sentry.Web.LoggerQual"/>
          <setting name="Prod" value="Sentry.Web.LoggerProd"/>
        </settingList>
      </config>
      <config key="SmartsLogger">
        <settingList>
          <setting name="Dev,NR_D" value="Sentry.SmartsLoggerDev"/>
          <setting name="Test" value="Sentry.SmartsLoggerTest"/>
          <setting name="NR_T" value="Sentry.SmartsLoggerTest-NR"/>
          <setting name="Qual" value="Sentry.SmartsLoggerQual"/>
          <setting name="Prod" value="Sentry.SmartsLoggerProd"/>
        </settingList>
      </config>
      <config key="AdSecUrl">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T" value="https://AdSecServiceTest.sentry.com/AdSecService.svc"/>
          <setting name="Qual" value="https://AdSecServiceQual.sentry.com/AdSecService.svc"/>
          <setting name="Prod" value="https://AdSecService.sentry.com/AdSecService.svc"/>
        </settingList>
      </config>
      <config key="HrServiceUrl">
        <settingList>
          <setting name="Test,NR_T" value="https://hrempsecuretest.sentry.com/SecureHREmpService.asmx"/>
          <!--<setting name="Qual" value="https://hrempsecurequal.sentry.com/SecureHREmpService.asmx"/>-->
          <setting name="Dev,NR_D,Qual,Prod" value="https://hrempsecure.sentry.com/SecureHREmpService.asmx"/>
        </settingList>
      </config>
      <config key="HrApiUrl">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T" value="https://hrempsecuretest.sentry.com/api/associates"/>
          <setting name="Qual" value="https://hrmpsecurequal.sentry.com/api/associates"/>
          <setting name="Prod" value="https://hrmpsecure.sentry.com/api/associates"/>
        </settingList>
      </config>
      <config key="ShowUserChoice">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T,Qual" value="true"/>
          <setting name="Prod" value="false"/>
        </settingList>
      </config>
      <config key="UseNHibernateSQLLogging">
        <settingList>
          <setting name="Dev,NR_D" value="true"/>
          <setting name="Test,NR_T,Qual,Prod" value="false"/>
        </settingList>
      </config>
      <config key="LoginURL">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T,Qual,Prod" value="http://emploginredirect.sentry.com/Login"/>
        </settingList>
      </config>
      <config key="authServiceUrl">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T,Qual" value="https://loginqual.sentry.com/AuthenticationWebService/authentication/v20150226"/>
          <setting name="Prod" value="https://login.sentry.com/AuthenticationWebService/authentication/v20150226"/>
        </settingList>
      </config>
      <config key="BundleServiceName">
        <settingList>
          <setting name="Dev,NR_D" value="\\LocalHost.sentry.com\"/>
          <setting name="Test,NR_T" value="DotNetSvc-DATA-TEST-BundleService"/>
          <setting name="Qual" value="DotNetSvc-DATA-QUAL-BundleService"/>
          <setting name="Prod" value="DotNetSvc-DATA-PROD-BundleService"/>
        </settingList>
      </config>
      <config key="BundleServiceServer">
        <settingList>
          <setting name="Dev,NR_D" value="\\LocalHost.sentry.com\"/>
          <setting name="Test,NR_T" value="awe-n-datasv-00.sentry.com"/>
          <setting name="Qual" value="awe-n-datasv-05.sentry.com"/>
          <setting name="Prod" value="awe-p-datasv-00.sentry.com"/>
        </settingList>
      </config>
      <config key="DataModelPath">
        <settingList>
          <!--<setting name="Dev" value="N:\S_Collaborate\082116\ERStudio\"/>-->
          <setting name="Dev,NR_D" value="\\Sentry.com\Share\S_ERStudio\Reports\"/>
          <setting name="Test,NR_T,Qual,Prod" value="\\Sentry.com\Share\S_ERStudio\Reports\"/>
        </settingList>
      </config>
      <!--<config key="S3Profile">
        <settingList>
          <setting name="Dev" value="sentry-dataset-allaccess-poc"/>
          <setting name="Test" value="sentry-dataset-allaccess-poc"/>
          <setting name="Qual" value="sentry-dataset-allaccess-poc"/>
          <setting name="Prod" value="sentry-dataset-sensitive-poc"/>
        </settingList>
      </config>
      <config key="S3Key">
        <settingList>
          <setting name="Dev" value="AKIAII2Q54VN4REVNNCQ"/>
          <setting name="Test" value="AKIAII2Q54VN4REVNNCQ"/>
          <setting name="Qual" value="AKIAII2Q54VN4REVNNCQ"/>
          <setting name="Prod" value=""/>
        </settingList>
      </config>
      <config key="S3PWD">
        <settingList>
          <setting name="Dev" value="z+cf8NCg9BW/2+q8lGYUq9gq5sUKGXrYHD+yUA/I"/>
          <setting name="Test" value="z+cf8NCg9BW/2+q8lGYUq9gq5sUKGXrYHD+yUA/I"/>
          <setting name="Qual" value="z+cf8NCg9BW/2+q8lGYUq9gq5sUKGXrYHD+yUA/I"/>
          <setting name="Prod" value=""/>
        </settingList>
      </config>-->
      <!--<config key="DatabaseConnectionString_Datasets">
        <settingList>
          <setting name="Local" value="Data Source=(LocalDB)\v11.0;Initial Catalog=Dataset;Integrated Security=True;Pooling=False;"/>
          <setting name="Dev" value="Data Source=dix-d-shddbs-04;Initial Catalog=Dataset;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=_test_db_server_;Initial Catalog=Dataset;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=_qual_db_server_;Initial Catalog=Dataset;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=_prod_db_server_;Initial Catalog=Dataset;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <config key="DatabaseConnectionString">
        <settingList>
          <!--<setting name="Dev" value="Data Source=(LocalDB)\v11.0;Initial Catalog=data;Integrated Security=True;Pooling=False;"/>-->
          <setting name="Dev" value="Data Source=DATA-DEV-SentryDatasets.db.sentry.local;Initial Catalog=SentryDatasets;Integrated Security=SSPI;MultipleActiveResultSets=true;" />
          <setting name="NR_D" value="Data Source=DIX-D-SHDDBS-02.sentry.com;Initial Catalog=SentryDatasets_NR;Integrated Security=SSPI;"/>
          <setting name="Test" value="Data Source=DIX-T-SHDDBS-02.sentry.com;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>
          <setting name="NR_T" value="Data Source=DIX-T-SHDDBS-02.sentry.com;Initial Catalog=SentryDatasets_NR;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=DIX-Q-SHDDBS-02;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SHO-P-SHDDBS-02;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>
        </settingList>
      </config>
      <config key="MetadataRepository_ConnectionString">
        <settingList>
          <!--<setting name="Dev" value="Data Source=(LocalDB)\v11.0;Initial Catalog=data;Integrated Security=True;Pooling=False;"/>-->
          <setting name="Dev,NR_D,Test,NR_T,Qual" value="Data Source=DIX-D-SHDDBS-04.sentry.com;Initial Catalog=MetadataRepository;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SHO-P-SHDDBS-04.sentry.com;Initial Catalog=MetadataRepository;Integrated Security=SSPI;"/>
          <!--<setting name="Qual" value="Data Source=DIX-Q-SHDDBS-02;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>-->
          <!--<setting name="Prod" value="Data Source=SHO-P-SHDDBS-02;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>-->
        </settingList>
      </config>
      <!--<config key="CL_ODS_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_BPO;Initial Catalog=BP_Policy_ODS;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_BPO;Initial Catalog=BP_Policy_ODS;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_BPO;Initial Catalog=BP_Policy_ODS;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_BPO;Initial Catalog=BP_Policy_ODS;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="PL_ODS_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_CPO;Initial Catalog=CP_Policy_ODS;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_CPO;Initial Catalog=CP_Policy_ODS;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_CPO;Initial Catalog=CP_Policy_ODS;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_CPO;Initial Catalog=CP_Policy_ODS;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="Claim_ODS_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_COD;Initial Catalog=ODS;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_COD;Initial Catalog=ODS;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_COD;Initial Catalog=ODS;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_COD;Initial Catalog=ODS;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="SERA_CL_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SERABP_QUAL_DB;Initial Catalog=SERA_BP;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SERABP_QUAL_DB;Initial Catalog=SERA_BP;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SERABP_QUAL_DB;Initial Catalog=SERA_BP;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SERABP_PROD_DB;Initial Catalog=SERA_BP;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="SERA_PL_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SERA_PROD_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="SERA_ENT_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SERA_PROD_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="PCR_CL_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_PCRATLAS;Initial Catalog=PRDB;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_PCRATLAS;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_PCRATLAS;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_PCRATLAS;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="PCR_PL_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_PCR;Initial Catalog=PRDB;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_PCR;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_PCR;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_PCR;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="LASER_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=LASER_QUAL_DB;Initial Catalog=LASER;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=LASER_QUAL_DB;Initial Catalog=LASER;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=LASER_QUAL_DB;Initial Catalog=LASER;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=LASER_PROD_DB;Initial Catalog=LASER;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="TDM_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_TDM;Initial Catalog=TDM_Metadata;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_TDM;Initial Catalog=TDM_Metadata;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_TDM;Initial Catalog=TDM_Metadata;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_TDM;Initial Catalog=TDM_Metadata;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <config key="ValidURL">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T" value="" />
          <setting name="Qual,Prod" value=".sentry.com" />
        </settingList>
      </config>
      <config key="ObsidianUserCacheTimeoutMinutes">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T,Qual" value="1"/>
          <setting name="Prod" value="10"/>
        </settingList>
      </config>
      <config key="ObsidianAdServiceUrl">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T" value="https://ObsidianAdServiceTest.sentry.com/ObsidianAdService.asmx"/>
          <setting name="Qual" value="https://ObsidianAdServiceQual.sentry.com/ObsidianAdService.asmx"/>
          <setting name="Prod" value="https://ObsidianAdService.sentry.com/ObsidianAdService.asmx"/>
        </settingList>
      </config>
      <config key="EnvironmentName">
        <settingList>
          <setting name="Dev" value="Dev"/>
          <setting name="NR_D" value="NR_Dvl"/>
          <setting name="Test" value="Test"/>
          <setting name="NR_T" value="NR_T"/>
          <setting name="Qual" value="Qual"/>
          <setting name="Prod" value="Prod"/>
        </settingList>
      </config>
      <config key="PushToSASTargetPath">
        <settingList>
          <setting name="Dev,NR_D" value="C:\Temp\DatasetManagement\"/>
          <setting name="Test,NR_T,Qual,Prod" value="\\sentry.com\appfs_nonprod\SAS_Repository\DatasetManagement\"/>
        </settingList>
      </config>
      <config key="DatasetBundleBaseLocation">
        <settingList>
          <setting name="Dev,NR_D" value="C:\tmp\DatasetBundle\" />
          <setting name="Test" value="\\sentry.com\appfs_nonprod\DatasetBundle_Test\" />
          <setting name="NR_T" value="\\sentry.com\appfs_nonprod\DatasetBundle_NRTest\" />
          <setting name="Qual" value="\\sentry.com\appfs_nonprod\DatasetBundle_Qual\" />
          <setting name="Prod" value="\\sentry.com\appfs\DatasetBundle\" />
        </settingList>
      </config>
      <config key="DatasetLoaderBaseLocation">
        <settingList>
          <setting name="Dev,NR_D" value="C:\tmp\DatasetLoader\"/>
          <setting name="Test" value="\\sentry.com\appfs_nonprod\DatasetLoader\Test\"/>
          <setting name="NR_T" value="\\sentry.com\appfs_nonprod\DatasetLoader_NRTest\"/>
          <setting name="Qual" value="\\sentry.com\appfs_nonprod\DatasetLoader\"/>
          <setting name="Prod" value="\\sentry.com\appfs\DatasetLoader\"/>
        </settingList>
      </config>
      <config key="LoaderRequestPath">
        <settingList>
          <setting name="Dev,NR_D" value="C:\tmp\DatasetLoaderRequest\incoming_request\" />
          <setting name="Test" value="\\sentry.com\appfs_nonprod\DatasetLoaderRequest_Test\incoming_request\" />
          <setting name="NR_T" value="\\sentry.com\appfs_nonprod\DatasetLoaderRequest_NRTest\incoming_request\" />
          <setting name="Qual" value="\\sentry.com\appfs_nonprod\DatasetLoaderRequest_Qual\incoming_request\" />
          <setting name="Prod" value="\\sentry.com\appfs\DatasetLoaderRequest\incoming_request\" />
        </settingList>
      </config>
      <config key="PushToSASUser">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T" value="RA072984" />
          <!--<setting name="Test" value="Web_Data_T" />-->
          <setting name="Qual" value="RA072984" />
          <setting name="Prod" value="RA072984" />
        </settingList>
      </config>
      <config key="PushToSASUrl">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T,Qual,Prod" value="https://executionsasmidtierqual.sentry.com/SASStoredProcess/do?" />
        </settingList>
      </config>
      <config key="SASCsvStpFolder">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T,Qual,Prod" value="%2FUser+Folders%2FJered+Gosse%2FMy+Folder%2F" />
        </settingList>
      </config>
      <config key="SASCsvStpName">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T,Qual,Prod" value="STP_PushToSAS_CSV_Final" />
        </settingList>
      </config>
      <config key="SentryS3ProxyHost">
        <settingList>
          <setting name="Dev,NR_D" value="awe-n-s3proxy.sentry.com"/>
          <setting name="Test,NR_T" value="awe-n-s3proxy.sentry.com"/>
          <setting name="Qual" value="awe-n-s3proxy.sentry.com"/>
          <setting name="Prod" value="awe-p-s3proxy.sentry.com"/>
        </settingList>
      </config>
      <config key="SentryWebProxyHost">
        <settingList>
          <setting name="Dev,NR_D" value="webproxy.sentry.com"/>
          <setting name="Test,NR_T" value="serverproxyqual.sentry.com"/>
          <setting name="Qual" value="serverproxyqual.sentry.com"/>
          <setting name="Prod" value="serverproxyprod.sentry.com"/>
        </settingList>
      </config>
      <config key="AWSAccessKey">
        <settingList>
          <setting name="Dev,NR_D" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
          <setting name="Test,NR_T" externalValueFile="D:\IIS_SECURED\Data\Test_Settings.xml"/>
          <setting name="Qual" externalValueFile="D:\IIS_SECURED\Data\Qual_Settings.xml"/>
          <setting name="Prod" externalValueFile="D:\IIS_SECURED\Data\Prod_Settings.xml"/>
        </settingList>
      </config>
      <config key="AWSSecretKey">
        <settingList>
          <setting name="Dev,NR_D" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
          <setting name="Test,NR_T" externalValueFile="D:\IIS_SECURED\Data\Test_Settings.xml"/>
          <setting name="Qual" externalValueFile="D:\IIS_SECURED\Data\Qual_Settings.xml"/>
          <setting name="Prod" externalValueFile="D:\IIS_SECURED\Data\Prod_Settings.xml"/>
        </settingList>
      </config>
      <config key="ServiceAccountID">
        <settingList>
          <setting name="Dev,NR_D" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
          <setting name="Test,NR_T" externalValueFile="D:\IIS_SECURED\Data\Test_Settings.xml"/>
          <setting name="Qual" externalValueFile="D:\IIS_SECURED\Data\Qual_Settings.xml"/>
          <setting name="Prod" externalValueFile="D:\IIS_SECURED\Data\Prod_Settings.xml"/>
        </settingList>
      </config>
      <config key="ServiceAccountPass">
        <settingList>
          <setting name="Dev,NR_D" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
          <setting name="Test,NR_T" externalValueFile="D:\IIS_SECURED\Data\Test_Settings.xml"/>
          <setting name="Qual" externalValueFile="D:\IIS_SECURED\Data\Qual_Settings.xml"/>
          <setting name="Prod" externalValueFile="D:\IIS_SECURED\Data\Prod_Settings.xml"/>
        </settingList>
      </config>
      <config key="JiraApiUser">
        <settingList>
          <setting name="Dev,NR_D" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
          <setting name="Test,NR_T" externalValueFile="D:\IIS_SECURED\Data\Test_Settings.xml"/>
          <setting name="Qual" externalValueFile="D:\IIS_SECURED\Data\Qual_Settings.xml"/>
          <setting name="Prod" externalValueFile="D:\IIS_SECURED\Data\Prod_Settings.xml"/>
        </settingList>
      </config>
      <config key="JiraApiPass">
        <settingList>
          <setting name="Dev,NR_D" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
          <setting name="Test,NR_T" externalValueFile="D:\IIS_SECURED\Data\Test_Settings.xml"/>
          <setting name="Qual" externalValueFile="D:\IIS_SECURED\Data\Qual_Settings.xml"/>
          <setting name="Prod" externalValueFile="D:\IIS_SECURED\Data\Prod_Settings.xml"/>
        </settingList>
      </config>
      <config key="JiraApiUrl">
        <settingList>
          <setting name="Dev,NR_D" value="http://jira.sentry.com/" />
          <setting name="Test" value="http://jira.sentry.com/" />
          <setting name="NR_T" value="http://jira.sentry.com/" />
          <setting name="Qual" value="http://jira.sentry.com/" />
          <setting name="Prod" value="http://jira.sentry.com/" />
        </settingList>
      </config>      
      <config key="AWSRootBucket">
        <settingList>
          <setting name="NR_D,NR_T" value="sentry-dataset-management-np-nr"/>
          <setting name="Dev,Test,Qual" value="sentry-dataset-management-np"/>
          <setting name="Prod" value="sentry-dataset-management"/>
        </settingList>
      </config>
      <config key="S3DataPrefix">
        <settingList>
          <setting name="Dev,NR_D" value="data-dev/"/>
          <setting name="Test,NR_T" value="data-test/"/>
          <setting name="Qual,Prod" value="data/"/>
        </settingList>
      </config>
      <config key="WebApiUrl">
        <settingList>
          <setting name="Dev,NR_D" value="http://localhost:2460" />
          <setting name="Test" value="http://datatest.sentry.com" />
          <setting name="NR_T" value="http://datatestnr.sentry.com" />
          <setting name="Qual" value="http://dataqual.sentry.com" />
          <setting name="Prod" value="http://data.sentry.com" />
        </settingList>
      </config>
      <config key="ProcessedFilePrefix">
        <settingList>
          <setting name="Dev,NR_D,Test,NR_T,Qual,Prod" value="!!" />
        </settingList>
      </config>
      <config key="BundleRequestDir">
        <settingList>
          <setting name="Dev" value="C:\tmp\DatasetBundle\request\"/>
          <setting name="Test" value="\\sentry.com\appfs_nonprod\DatasetBundle_Test\request\"/>
          <setting name="NR" value="\\sentry.com\appfs_nonprod\DatasetBundle_NR\request\"/>
          <setting name="Qual" value="\\sentry.com\appfs_nonprod\DatasetBundle_Qual\request\"/>
          <setting name="Prod" value="\\sentry.com\appfs\DatasetBundle\request\"/>
        </settingList>
      </config>
      <config key="ApacheSparkMaster">
        <settingList>
          <setting name="Dev,NR_D" value="spark://awe-n-datasv-01.sentry.com:7077"/>
          <setting name="Test,NR_T" value="spark://awe-n-datasv-01.sentry.com:7077"/>
          <setting name="Qual" value="spark://awe-n-datasv-01.sentry.com:7077"/>
          <setting name="Prod" value="spark://awe-n-datasv-01.sentry.com:7077"/>
        </settingList>
      </config>
      <config key="ApacheLivy">
        <settingList>
          <setting name="Dev,NR_D" value="http://awe-n-datasv-01.sentry.com:8998"/>
          <setting name="Test,NR_T" value="http://awe-n-datasv-01.sentry.com:8998"/>
          <setting name="Qual" value="http://awe-n-datasv-01.sentry.com:8998"/>
          <setting name="Prod" value="http://awe-n-datasv-01.sentry.com:8998"/>
        </settingList>
      </config>
      
    </EnvironmentSettings>
  </sentrySettings>
  <appSettings>
    <add key="S3PreviewPrefix" value="Previews/"/>
    <add key="S3BundlePrefix" value="bundles/"/>
    <add key="ApplicationName" value="DatasetManagement"/>
    <!-- ###  BEGIN Sentry.Data  A### - Code below is Sentry.Data-specific -->
    <add key="AuctionCompleterSleepMinutes" value="5"/>
    <add key="AWSRegion" value="us-east-1" />
    <!--<add key="SentryWebProxyHost" value="webproxy.sentry.com"/>-->
    <add key="SentryWebProxyPort" value="80"/>
    <add key="SentryS3ProxyPort" value="80"/>
    <!-- ###  END Sentry.Data  ### - Code above is Sentry.Data-specific -->
  </appSettings>
  <startup>
    <!-- ### supportedRuntime is specifed here based on examples supporting AWS S3 -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
