<?xml version="1.0"?>
<configuration>
  <sentrySettings>
    <EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
      <defaultEnvironmentList>
        <env name="Dev">
          <webHost nameRegex="."/>
          <machine nameRegex="."/>
        </env>
        <env name="Test">
          <webHost nameRegex="datatest.?(\.sentry\.com)?$"/>
          <machine nameRegex="(sho|dix)-t-.*"/>
        </env>
        <env name="Qual">
          <webHost nameRegex="dataqual.?(\.sentry\.com)?$"/>
          <machine nameRegex="(sho|dix)-q-.*"/>
        </env>
        <env name="Prod">
          <webHost nameRegex="data.?(\.sentry\.com)?$"/>
          <machine nameRegex="(sho|dix)-p-.*"/>
        </env>
      </defaultEnvironmentList>
      <config key="AppLogger">
        <settingList>
          <setting name="Dev" value="Sentry.LoggerDev"/>
          <setting name="Test" value="Sentry.LoggerTest"/>
          <setting name="Qual" value="Sentry.LoggerQual"/>
          <setting name="Prod" value="Sentry.LoggerProd"/>
        </settingList>
      </config>
      <config key="SentryWebLogger">
        <settingList>
          <setting name="Dev" value="Sentry.Web.LoggerDev"/>
          <setting name="Test" value="Sentry.Web.LoggerTest"/>
          <setting name="Qual" value="Sentry.Web.LoggerQual"/>
          <setting name="Prod" value="Sentry.Web.LoggerProd"/>
        </settingList>
      </config>
      <config key="SmartsLogger">
        <settingList>
          <setting name="Dev" value="Sentry.SmartsLogger"/>
          <setting name="Test,Qual,Prod" value="Sentry.SmartsLoggerProd"/>
        </settingList>
      </config>
      <config key="AdSecUrl">
        <settingList>
          <setting name="Dev,Test" value="https://AdSecServiceTest.sentry.com/AdSecService.svc"/>
          <setting name="Qual" value="https://AdSecServiceQual.sentry.com/AdSecService.svc"/>
          <setting name="Prod" value="https://AdSecService.sentry.com/AdSecService.svc"/>
        </settingList>
      </config>
      <config key="HrServiceUrl">
        <settingList>
          <setting name="Dev,Test" value="https://hrempsecuretest.sentry.com/SecureHREmpService.asmx"/>
          <setting name="Qual" value="https://hrempsecurequal.sentry.com/SecureHREmpService.asmx"/>
          <setting name="Prod" value="https://hrempsecure.sentry.com/SecureHREmpService.asmx"/>
        </settingList>
      </config>
      <config key="ShowUserChoice">
        <settingList>
          <setting name="Dev,Test,Qual" value="true"/>
          <setting name="Prod" value="false"/>
        </settingList>
      </config>
      <config key="UseNHibernateSQLLogging">
        <settingList>
          <setting name="Dev" value="true"/>
          <setting name="Test,Qual,Prod" value="false"/>
        </settingList>
      </config>
      <!--<config key="S3Profile">
        <settingList>
          <setting name="Dev" value="sentry-dataset-allaccess-poc"/>
          <setting name="Test" value="sentry-dataset-allaccess-poc"/>
          <setting name="Qual" value="sentry-dataset-allaccess-poc"/>
          <setting name="Prod" value="sentry-dataset-sensitive-poc"/>
        </settingList>
      </config>
      <config key="S3Key">
        <settingList>
          <setting name="Dev" value="AKIAII2Q54VN4REVNNCQ"/>
          <setting name="Test" value="AKIAII2Q54VN4REVNNCQ"/>
          <setting name="Qual" value="AKIAII2Q54VN4REVNNCQ"/>
          <setting name="Prod" value=""/>
        </settingList>
      </config>
      <config key="S3PWD">
        <settingList>
          <setting name="Dev" value="z+cf8NCg9BW/2+q8lGYUq9gq5sUKGXrYHD+yUA/I"/>
          <setting name="Test" value="z+cf8NCg9BW/2+q8lGYUq9gq5sUKGXrYHD+yUA/I"/>
          <setting name="Qual" value="z+cf8NCg9BW/2+q8lGYUq9gq5sUKGXrYHD+yUA/I"/>
          <setting name="Prod" value=""/>
        </settingList>
      </config>-->
      <!--<config key="DatabaseConnectionString_Datasets">
        <settingList>
          <setting name="Local" value="Data Source=(LocalDB)\v11.0;Initial Catalog=Dataset;Integrated Security=True;Pooling=False;"/>
          <setting name="Dev" value="Data Source=dix-d-shddbs-04;Initial Catalog=Dataset;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=_test_db_server_;Initial Catalog=Dataset;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=_qual_db_server_;Initial Catalog=Dataset;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=_prod_db_server_;Initial Catalog=Dataset;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <config key="DatabaseConnectionString">
        <settingList>
          <!--<setting name="Dev" value="Data Source=(LocalDB)\v11.0;Initial Catalog=data;Integrated Security=True;Pooling=False;"/>-->
          <setting name="Dev" value="Data Source=DIX-D-SHDDBS-04;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>
          <setting name="Test" value="Data Source=SHO-T-SHDDBS-04;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=DIX-Q-SHDDBS-04;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SHO-P-SHDDBS-04;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>
        </settingList>
      </config>
      <!--<config key="CL_ODS_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_BPO;Initial Catalog=BP_Policy_ODS;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_BPO;Initial Catalog=BP_Policy_ODS;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_BPO;Initial Catalog=BP_Policy_ODS;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_BPO;Initial Catalog=BP_Policy_ODS;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="PL_ODS_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_CPO;Initial Catalog=CP_Policy_ODS;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_CPO;Initial Catalog=CP_Policy_ODS;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_CPO;Initial Catalog=CP_Policy_ODS;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_CPO;Initial Catalog=CP_Policy_ODS;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="Claim_ODS_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_COD;Initial Catalog=ODS;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_COD;Initial Catalog=ODS;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_COD;Initial Catalog=ODS;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_COD;Initial Catalog=ODS;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="SERA_CL_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SERABP_QUAL_DB;Initial Catalog=SERA_BP;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SERABP_QUAL_DB;Initial Catalog=SERA_BP;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SERABP_QUAL_DB;Initial Catalog=SERA_BP;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SERABP_PROD_DB;Initial Catalog=SERA_BP;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="SERA_PL_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SERA_PROD_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="SERA_ENT_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SERA_QUAL_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SERA_PROD_DB;Initial Catalog=SERA;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="PCR_CL_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_PCRATLAS;Initial Catalog=PRDB;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_PCRATLAS;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_PCRATLAS;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_PCRATLAS;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="PCR_PL_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_PCR;Initial Catalog=PRDB;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_PCR;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_PCR;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_PCR;Initial Catalog=PRDB;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="LASER_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=LASER_QUAL_DB;Initial Catalog=LASER;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=LASER_QUAL_DB;Initial Catalog=LASER;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=LASER_QUAL_DB;Initial Catalog=LASER;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=LASER_PROD_DB;Initial Catalog=LASER;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <!--<config key="TDM_ConnectionString">
        <settingList>
          <setting name="Dev" value="Data Source=SQL_Q_TDM;Initial Catalog=TDM_Metadata;Integrated Security=True;Pooling=False;"/>
          <setting name="Test" value="Data Source=SQL_Q_TDM;Initial Catalog=TDM_Metadata;Integrated Security=SSPI;"/>
          <setting name="Qual" value="Data Source=SQL_Q_TDM;Initial Catalog=TDM_Metadata;Integrated Security=SSPI;"/>
          <setting name="Prod" value="Data Source=SQL_P_TDM;Initial Catalog=TDM_Metadata;Integrated Security=SSPI;"/>
        </settingList>
      </config>-->
      <config key="ValidURL">
        <settingList>
          <setting name="Dev,Test" value="" />
          <setting name="Qual,Prod" value=".sentry.com" />
        </settingList>
      </config>
      <config key="ObsidianUserCacheTimeoutMinutes">
        <settingList>
          <setting name="Dev,Test,Qual" value="1"/>
          <setting name="Prod" value="10"/>
        </settingList>
      </config>
      <config key="EnvironmentName">
        <settingList>
          <setting name="Dev" value="Dev"/>
          <setting name="Test" value="Test"/>
          <setting name="Qual" value="Qual"/>
          <setting name="Prod" value="Prod"/>
        </settingList>
      </config>
    </EnvironmentSettings>
  </sentrySettings>
  <appSettings>
    <add key="ApplicationName" value="App_Sample"/>
    <!-- ###  BEGIN Sentry.Data  A### - Code below is Sentry.Data-specific -->
    <add key="AuctionCompleterSleepMinutes" value="5"/>
    <add key="AWSAccessKey" value="AKIAII2Q54VN4REVNNCQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSRegion" value="us-east-1" />
    <add key="AWSRootBucket" value="sentry-dataset-allaccess-poc"/>
    <add key="SentryWebProxyHost" value="webproxy.sentry.com"/>
    <add key="SentryWebProxyPort" value="80"/>
    <!-- ###  END Sentry.Data  ### - Code above is Sentry.Data-specific -->
  </appSettings>
  <startup>
    <!-- ### supportedRuntime is specifed here based on examples supporting AWS S3 -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
