<?xml version="1.0"?>
<configuration>
  <sentrySettings>
    <EnvironmentSettings defaultDomain="sentry.com" xmlns="urn:Sentry.Configuration">
      <importSettings path="AWSSettings.config" />
      <importSettings path="FeatureFlagSettings.config" />
      <importSettings path="KafkaSettings.config" />
      <importSettings path="HiveOdbc.config" />
      <defaultEnvironmentList>
        <env name="DEV">
          <machine nameRegex=".*" />
        </env>
      </defaultEnvironmentList>
      <config key="AppLogger">
        <settingList>
          <setting name="DEV,NRDEV" value="Sentry.LoggerDEV"/>
          <setting name="TEST" value="Sentry.LoggerTEST"/>
          <setting name="NRTEST" value="Sentry.LoggerNRTEST"/>
          <setting name="QUAL" value="Sentry.LoggerQUAL"/>
          <setting name="PROD" value="Sentry.LoggerPROD"/>
        </settingList>
      </config>
      <config key="SentryWebLogger">
        <settingList>
          <setting name="DEV,NRDEV" value="Sentry.Web.LoggerDEV"/>
          <setting name="TEST" value="Sentry.Web.LoggerTEST"/>
          <setting name="NRTEST" value="Sentry.Web.LoggerNRTEST"/>
          <setting name="QUAL" value="Sentry.Web.LoggerQUAL"/>
          <setting name="PROD" value="Sentry.Web.LoggerPROD"/>
        </settingList>
      </config>
      <config key="SmartsLogger">
        <settingList>
          <setting name="DEV,NRDEV" value="Sentry.Smarts.LoggerDEV"/>
          <setting name="TEST" value="Sentry.Smarts.LoggerTEST"/>
          <setting name="NRTEST" value="Sentry.Smarts.LoggerNRTEST"/>
          <setting name="QUAL" value="Sentry.Smarts.LoggerQUAL"/>
          <setting name="PROD" value="Sentry.Smarts.LoggerPROD"/>
        </settingList>
      </config>
      <config key="AdSecUrl">
        <settingList>
          <setting name="DEV,TEST,NRTEST,NRDEV" value="https://AdSecServiceTest.sentry.com/AdSecService.svc"/>
          <setting name="QUAL" value="https://AdSecServiceQual.sentry.com/AdSecService.svc"/>
          <setting name="PROD" value="https://AdSecService.sentry.com/AdSecService.svc"/>
        </settingList>
      </config>
      <config key="HrServiceUrl">
        <settingList>
          <setting name="TEST,NRTEST,DEV,NRDEV" value="https://hrempsecuretest.sentry.com/SecureHREmpService.asmx"/>
          <setting name="QUAL" value="https://hrempsecurequal.sentry.com/SecureHREmpService.asmx"/>
          <setting name="PROD" value="https://hrempsecure.sentry.com/SecureHREmpService.asmx"/>
        </settingList>
      </config>
      <config key="HrApiUrl">
        <settingList>
          <setting name="DEV,TEST,NRTEST,NRDEV" value="https://hrempsecuretest.sentry.com/api/associates"/>
          <setting name="QUAL" value="https://hrempsecurequal.sentry.com/api/associates"/>
          <setting name="PROD" value="https://hrempsecure.sentry.com/api/associates"/>
        </settingList>
      </config>
      <config key="HrApiEnvironment">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST" value="Test"/>
          <setting name="QUAL" value="Qual"/>
          <setting name="PROD" value="Prod"/>
        </settingList>
      </config>
      <config key="ShowUserChoice">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="true"/>
          <setting name="PROD" value="false"/>
        </settingList>
      </config>
      <config key="UseNHibernateSQLLogging">
        <settingList>
          <setting name="DEV,NRDEV" value="true"/>
          <setting name="TEST,NRTEST,QUAL,PROD" value="false"/>
        </settingList>
      </config>
      <config key="LoginURL">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="http://emploginredirect.sentry.com/Login"/>
        </settingList>
      </config>
      <config key="authServiceUrl">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="https://loginqual.sentry.com/AuthenticationWebService/authentication/v20150226"/>
          <setting name="PROD" value="https://login.sentry.com/AuthenticationWebService/authentication/v20150226"/>
        </settingList>
      </config>
      <config key="BundleServiceServer">
        <settingList>
          <setting name="DEV,NRDEV" value=""/>
          <setting name="NRTEST" value="awe-n-datasv-06.sentry.com"/>
          <setting name="TEST" value="awe-n-datasv-00.sentry.com"/>
          <setting name="QUAL" value="awe-n-datasv-05.sentry.com"/>
          <setting name="PROD" value="awe-p-datasv-00.sentry.com"/>
        </settingList>
      </config>
      <config key="BundleServiceName">
        <settingList>
          <setting name="DEV,NRDEV" value="BundleService"/>
          <setting name="NRTEST" value="DotNetSvc-DATA-NRTEST-BundleService"/>
          <setting name="TEST" value="DotNetSvc-DATA-TEST-BundleService"/>
          <setting name="QUAL" value="DotNetSvc-DATA-QUAL-BundleService"/>
          <setting name="PROD" value="DotNetSvc-DATA-PROD-BundleService"/>
        </settingList>
      </config>
      <config key="GoldenEyeServiceServer">
        <settingList>
          <setting name="DEV,NRDEV" value=""/>
          <setting name="NRTEST" value="awe-n-datasv-06.sentry.com"/>
          <setting name="TEST" value="awe-n-datasv-00.sentry.com"/>
          <setting name="QUAL" value="awe-n-datasv-05.sentry.com"/>
          <setting name="PROD" value="awe-p-datasv-00.sentry.com"/>
        </settingList>
      </config>
      <config key="GoldenEyeServiceName">
        <settingList>
          <setting name="DEV,NRDEV" value="GoldenEye"/>
          <setting name="NRTEST" value="DotNetSvc-DATA-NRTEST-GOLDENEYE"/>
          <setting name="TEST" value="DotNetSvc-DATA-TEST-GOLDENEYE"/>
          <setting name="QUAL" value="DotNetSvc-DATA-QUAL-GOLDENEYE"/>
          <setting name="PROD" value="DotNetSvc-DATA-PROD-GOLDENEYE"/>
        </settingList>
      </config>
      <config key="DataModelPath">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="\\sentry.com\appfs_nonprod\MetadataRepository\ERStudio\"/>
          <setting name="PROD" value="\\sentry.com\appfs\MetadataRepository\ERStudio\"/>
        </settingList>
      </config>
      <config key="DatabaseConnectionString">
        <settingList>
          <setting name="DEV" value="Data Source=(localdb)\mssqllocaldb;Initial Catalog=SentryDatasets;Integrated Security=SSPI;MultipleActiveResultSets=true;" />
          <setting name="NRDEV" value="Data Source=DATA-NRDEV-SentryDatasets_NR.db.sentry.local;Initial Catalog=SentryDatasets_NR;Integrated Security=SSPI;MultipleActiveResultSets=true;" />
          <setting name="TEST" value="Data Source=DATA-TEST-SentryDatasets.db.sentry.local;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>
          <setting name="NRTEST" value="Data Source=DATA-NRTEST-SentryDatasets_NR.db.sentry.local;Initial Catalog=SentryDatasets_NR;Integrated Security=SSPI;"/>
          <setting name="QUAL" value="Data Source=DATA-QUAL-SentryDatasets.dbal.sentry.local;multisubnetfailover=true;ApplicationIntent=ReadWrite;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>
          <setting name="PROD" value="Data Source=DATA-PROD-SentryDatasets.dbal.sentry.local;multisubnetfailover=true;ApplicationIntent=ReadWrite;Initial Catalog=SentryDatasets;Integrated Security=SSPI;"/>
        </settingList>
      </config>
      <config key="DataInventoryConnectionString">
        <settingList>
          <setting name="DEV,NRDEV" value="Data Source=DATA-QUAL-DataInventory.dbal.SENTRY.LOCAL;Initial Catalog=DataInventory;Integrated Security=SSPI;MultipleActiveResultSets=true;" />
          <setting name="TEST" value="Data Source=DATA-QUAL-DataInventory.dbal.SENTRY.LOCAL;Initial Catalog=DataInventory;Integrated Security=SSPI;"/>
          <setting name="NRTEST" value="Data Source=DATA-QUAL-DataInventory.dbal.SENTRY.LOCAL;Initial Catalog=DataInventory;Integrated Security=SSPI;"/>
          <setting name="QUAL" value="Data Source=DATA-QUAL-DataInventory.dbal.SENTRY.LOCAL;multisubnetfailover=true;ApplicationIntent=ReadWrite;Initial Catalog=DataInventory;Integrated Security=SSPI;"/>
          <setting name="PROD" value="Data Source=DATA-PROD-DataInventory.dbal.SENTRY.LOCAL;multisubnetfailover=true;ApplicationIntent=ReadWrite;Initial Catalog=DataInventory;Integrated Security=SSPI;"/>
        </settingList>
      </config>
      <config key="SnowConnectionString">
        <settingList>
          <setting name="DEV,NRDEV"         value="account=sentry.us-east-2.aws;HOST=sentry.us-east-2.aws.snowflakecomputing.com;authenticator=snowflake;user=~~!SnowFlakeAccountID!~~;db=DATA_QUAL; insecuremode=true;" externalValueFile="H:\Secured\SecureSettings.xml"/>
          <setting name="TEST,NRTEST,QUAL"  value="account=sentry.us-east-2.aws;HOST=sentry.us-east-2.aws.snowflakecomputing.com;authenticator=snowflake;user=~~!SnowFlakeAccountID!~~;db=DATA_QUAL; insecuremode=true;" externalValueFile="${SECRETFILE}"/>
          <setting name="PROD"              value="account=sentry.us-east-2.aws;HOST=sentry.us-east-2.aws.snowflakecomputing.com;authenticator=snowflake;user=~~!SnowFlakeAccountID!~~;db=DATA_PROD; insecuremode=true;" externalValueFile="${SECRETFILE}"/>
        </settingList>
      </config>
      <config key="SnowAccount">
        <settingList>
            <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="sentry.us-east-2.aws" />
        </settingList>
      </config>
      <config key="SnowPassword">
        <settingList>
          <setting name="DEV,NRDEV"               value="~~!SnowFlakeAccountPassword!~~" externalValueFile="H:\Secured\SecureSettings.xml"/>
          <setting name="TEST,NRTEST,QUAL,PROD"   value="~~!SnowFlakeAccountPassword!~~" externalValueFile="${SECRETFILE}"/>
        </settingList>
      </config>
      <config key="SnowDatabaseOverride">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST"   value="DATA_QUAL"/>
          <setting name="QUAL,PROD"               value=""/>
        </settingList>
      </config>

      <!--PROXY SETTINGS
          THIS SECTION IS CALLED BY SentryProxy to communicate with SnowFlake
          NOTE on next three settings:
            -EITHER set WebProxyConfigFile OR WebProxyUrl, but not both.  (Leave the other blank)
            -WebProxyUseList: put comma seperated urls here that should USE the SentryProxy to date only snowflake should use proxy
          THE WEBPROXYURL is also used by other services that need to use the server proxy
      -->
      <config key="WebProxyConfigFile">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="" />
        </settingList>
      </config>
      <config key="WebProxyUrl">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="http://serverproxyqual.sentry.com:8080" />
          <setting name="PROD" value="http://serverproxyprod.sentry.com:8080" />
        </settingList>
      </config>
      <config key="EdgeWebProxyUrl">
        <settingList>
          <setting name="DEV,NRDEV" value="" />
          <setting name="TEST,NRTEST,QUAL" value="http://app-proxy-nonprod.sentry.com:8080" />
          <setting name="PROD" value="http://app-proxy-prod.sentry.com:8080" />
        </settingList>
      </config>
      <config key="UseProxy" >
        <settingList>
          <setting name="DEV" value="False" />
          <setting name="NRDEV,TEST,NRTEST,QUAL,PROD" value="True" />
        </settingList>
      </config>
      <config key="WebProxyUseList">
        <settingList>
          <!--comma seperated list of urls that should use SentryProxy-->
          <setting name="DEV,NRDEV" value="" />
          <setting name="TEST,NRTEST,QUAL,PROD" value=".aws.snowflakecomputing.com" />
        </settingList>
      </config>

      <config key="MinWorkerThreads">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="75" />
        </settingList>
      </config>
      <config key="MinIOThreads">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="75" />
        </settingList>
      </config>
      <config key="MaxWorkerThreads">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="125" />
        </settingList>
      </config>
      <config key="MaxIOThreads">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="125" />
        </settingList>
      </config>
      

      <config key="ValidURL">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST" value="" />
          <setting name="QUAL,PROD" value=".sentry.com" />
        </settingList>
      </config>
      <config key="ObsidianUserCacheTimeoutMinutes">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="1"/>
          <setting name="PROD" value="10"/>
        </settingList>
      </config>
      <config key="ObsidianAdServiceUrl">
        <settingList>
          <!--<setting name="" value="https://ObsidianAdServiceQual.sentry.com/ObsidianAdService.asmx"/>-->
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="https://ObsidianAdService.sentry.com/ObsidianAdService.asmx"/>
        </settingList>
      </config>
      <config key="HpsmServiceUrl">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="http://dix-q-smrapp-01.sentry.com:15098/SM/7/ChangeManagement.wsdl"/>
          <setting name="PROD" value="http://sho-p-smrapp-01.sentry.com:15098/SM/7/ChangeManagement.wsdl"/>
        </settingList>
      </config>
      <config key="HpsmServiceId">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="DSC_Q"/>
          <setting name="PROD" value="DSC_P"/>
        </settingList>
      </config>
      <config key="HpsmServicePassword">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="dscpassword"/>
          <setting name="PROD" value="dscpassword"/>
        </settingList>
      </config>
      <config key="RequireApprovalHPSMTickets">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="true"/>
          <setting name="PROD" value="true"/>
        </settingList>
      </config>
      <config key="EnvironmentName">
        <settingList>
          <setting name="DEV" value="DEV"/>
          <setting name="NRDEV" value="NRDEV"/>
          <setting name="TEST" value="TEST"/>
          <setting name="NRTEST" value="NRTEST"/>
          <setting name="QUAL" value="QUAL"/>
          <setting name="PROD" value="PROD"/>
        </settingList>
      </config>
      <config key="PushToSASTargetPath">
        <settingList>
          <setting name="DEV,NRDEV" value="C:\Temp\DatasetManagement\" />
          <setting name="TEST,NRTEST,QUAL,PROD" value="\\sentry.com\appfs_nonprod\SASRepository\Datasets\DatasetManagement\"/>
        </settingList>
      </config>
      <config key="DatasetBundleBaseLocation">
        <settingList>
          <setting name="DEV,NRDEV" value="C:\tmp\DatasetBundle\" />
          <setting name="TEST" value="\\sentry.com\appfs_nonprod\DatasetBundle_Test\" />
          <setting name="NRTEST" value="\\sentry.com\appfs_nonprod\DatasetBundle_NRTest\" />
          <setting name="QUAL" value="\\sentry.com\appfs_nonprod\DatasetBundle_Qual\" />
          <setting name="PROD" value="\\sentry.com\appfs\DatasetBundle\" />
        </settingList>
      </config>
      <config key="DatasetLoaderBaseLocation">
        <settingList>
          <setting name="DEV,NRDEV" value="C:\tmp\DatasetLoader\"/>
          <setting name="TEST" value="\\sentry.com\appfs_nonprod\DatasetLoader\Test\"/>
          <setting name="NRTEST" value="\\sentry.com\appfs_nonprod\DatasetLoader_NRTest\"/>
          <setting name="QUAL" value="\\sentry.com\appfs_nonprod\DatasetLoader\"/>
          <setting name="PROD" value="\\sentry.com\appfs\DatasetLoader\"/>
        </settingList>
      </config>
      <config key="LoaderRequestPath">
        <settingList>
          <setting name="DEV,NRDEV" value="C:\tmp\DatasetLoaderRequest\incoming_request\" />
          <setting name="TEST" value="\\sentry.com\appfs_nonprod\DatasetLoaderRequest_Test\incoming_request\" />
          <setting name="NRTEST" value="\\sentry.com\appfs_nonprod\DatasetLoaderRequest_NRTest\incoming_request\" />
          <setting name="QUAL" value="\\sentry.com\appfs_nonprod\DatasetLoaderRequest_Qual\incoming_request\" />
          <setting name="PROD" value="\\sentry.com\appfs\DatasetLoaderRequest\incoming_request\" />
        </settingList>
      </config>
      <config key="PushToSASUser">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST" value="RA072984" />
          <setting name="QUAL" value="RA072984" />
          <setting name="PROD" value="RA072984" />
        </settingList>
      </config>
      <config key="PushToSASUrl">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="https://executionsasmidtierqual.sentry.com/SASStoredProcess/do?" />
        </settingList>
      </config>
      <config key="SASCsvStpFolder">
        <settingList>
          <setting name="DEV,NRDEV" value="%2FTeam%2FIT%2FData+Services%2FDSC%2F" />
          <setting name="NRTEST,TEST" value="%2FDeployedProjects%2FDev%2FDSC%2F" />
          <setting name="QUAL" value="%2FDeployedProjects%2FTest%2FDSC%2F" />
          <setting name="PROD" value="%2FDeployedProjects%2FQual%2FDSC%2F" />
        </settingList>
      </config>
      <config key="SASCsvStpName">
        <settingList>
          <setting name="DEV,NRDEV,NRTEST,TEST,QUAL,PROD" value="STP_PushToSAS_CSV" />
        </settingList>
	  </config>
	  <config key="ServiceAccountID">
		  <settingList>
			  <setting name="DEV,NRDEV" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
			  <setting name="TEST,NRTEST,QUAL,PROD" externalValueFile="%SecretFile%"/>
		  </settingList>
	  </config>
	  <config key="ServiceAccountPassword">
		  <settingList>
			  <setting name="DEV,NRDEV" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
			  <setting name="TEST,NRTEST,QUAL,PROD" externalValueFile="%SecretFile%"/>
		  </settingList>
	  </config>
      <config key="JiraApiUser">
        <settingList>
          <setting name="DEV,NRDEV" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
          <setting name="TEST,NRTEST,QUAL,PROD" externalValueFile="%SecretFile%"/>
        </settingList>
      </config>
      <config key="JiraApiPass">
        <settingList>
          <setting name="DEV,NRDEV" externalValueFile="C:\Temp\IIS_SECURED\Data\Dev_Settings.xml"/>
          <setting name="TEST,NRTEST,QUAL,PROD" externalValueFile="%SecretFile%"/>
        </settingList>
      </config>
      <config key="JiraApiUrl">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="http://jira.sentry.com/" />
        </settingList>
      </config>
      <config key="WebApiUrl">
        <settingList>
          <setting name="DEV,NRDEV" value="http://localhost.sentry.com:44321" />
          <setting name="TEST" value="http://datatest.sentry.com" />
          <setting name="NRTEST" value="http://datatestnr.sentry.com" />
          <setting name="QUAL" value="http://dataqual.sentry.com" />
          <setting name="PROD" value="http://data.sentry.com" />
        </settingList>
      </config>
      <config key="SentryDataBaseUrl">
        <settingList>
          <setting name="DEV,NRDEV" value="https://localhost.sentry.com:44321" />
          <setting name="TEST" value="https://datatest.sentry.com" />
          <setting name="NRTEST" value="https://datatestnr.sentry.com" />
          <setting name="QUAL" value="https://dataqual.sentry.com" />
          <setting name="PROD" value="https://data.sentry.com" />
        </settingList>
      </config>
      <config key="ProcessedFilePrefix">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="!!" />
        </settingList>
      </config>
      <config key="BundleRequestDir">
        <settingList>
          <setting name="DEV" value="C:\tmp\DatasetBundle\request\"/>
          <setting name="TEST" value="\\sentry.com\appfs_nonprod\DatasetBundle_Test\request\"/>
          <setting name="NRTEST" value="\\sentry.com\appfs_nonprod\DatasetBundle_NR\request\"/>
          <setting name="QUAL" value="\\sentry.com\appfs_nonprod\DatasetBundle_Qual\request\"/>
          <setting name="PROD" value="\\sentry.com\appfs\DatasetBundle\request\"/>
        </settingList>
      </config>
      <config key="ApacheLivy">
        <settingList>
          <setting name="DEV" value="http://awe-t-apspml-01:8999"/>
          <setting name="TEST" value="https://datalaketest01.emr.sentry.com:8999"/>
          <setting name="NRDEV,NRTEST,QUAL" value="https://datalakequal01.emr.sentry.com:8999"/>
          <setting name="PROD" value="https://datalakeprod01.emr.sentry.com:8999"/>
        </settingList>
      </config>
      <config key="SparkS3AKeyLocation">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="jceks://hdfs/hdp/keys/dsc_s3.jceks"/>
        </settingList>
      </config>
      <config key="FileShare">
        <settingList>
          <setting name="DEV,NRDEV" value="c:\tmp\" />
          <setting name="NRTEST,TEST,QUAL" value="\\sentry.com\appfs_nonprod\" />
          <setting name="PROD" value="\\sentry.com\appfs\" />
        </settingList>
      </config>
      <config key="RTJob_AnonAuth_UserName">
        <settingList>
          <setting name="DEV,NRDEV,NRTEST,TEST,QUAL,PROD" value="anonymous" />
          <!--<setting name="NRTEST,TEST,QUAL,PROD" externalValueFile="%SecretFile%" />-->
        </settingList>
      </config>
      <config key="RTJob_AnonAuth_Password">
        <settingList>
          <setting name="DEV,NRDEV,NRTEST,TEST,QUAL,PROD" value="janeDoe@Sentry.com" />
          <!--<setting name="NRTEST,TEST,QUAL,PROD" externalValueFile="%SecretFile%" />-->
        </settingList>
      </config>
      <config key="EncryptionServiceKey">
        <settingList>
          <setting name="DEV,NRDEV" externalValueFile="C:\Temp\IIS_SECURED\GoldenEye\DEV_Settings.xml" />
          <setting name="NRTEST,TEST,QUAL,PROD" externalValueFile="%SecretFile%" />
        </settingList>
      </config>
      <config key="CherwellApiUrl">
        <settingList>
          <!--<setting name="" value="https://cherwelldev.sentry.com/cherwellapi/" />-->
          <setting name="NRDEV,DEV,NRTEST,TEST,QUAL" value="https://cherwellqual.sentry.com/cherwellapi/" />
          <setting name="PROD" value="https://cherwell.sentry.com/cherwellapi/" />
        </settingList>
      </config>
      <config key="CherwellClientId">
        <settingList>
          <setting name="NRDEV,DEV,NRTEST" value="d4067db7-9ae6-4b8d-8532-01e4a4822439" />
          <setting name="TEST" value="a6d5f5da-602d-409f-97cf-da293dfb339d" />
          <setting name="QUAL" value="ae10dde1-8703-4947-9070-756e3d87435a" />
          <setting name="PROD" value="d87b5ede-629c-429c-999b-6399921524d7" />
        </settingList>
      </config>
      <config key="CherwellTokenInterval">
        <settingList>
          <setting name="DEV,NRDEV,NRTEST,TEST,QUAL,PROD" value="3600" />
        </settingList>
      </config>
      <config key="SASAdministrationEmail">
        <settingList>
          <setting name="DEV,NRDEV" value="Jered.Gosse@Sentry.com" />
          <setting name="TEST, NRTEST, QUAL" value="testemail@Sentry.com" />
          <setting name="PROD" value="SASAdmin@Sentry.com" />
        </settingList>
      </config>
      <config key="SendIncludeInSasEmail">
        <settingList>
          <setting name="DEV,NRDEV,TEST, NRTEST" value="true" />
          <setting name="QUAL, PROD" value="true" />
        </settingList>
      </config>
      <config key="EmailDSCSupportAsCC">
        <settingList>
          <setting name="DEV,NRDEV,TEST, NRTEST" value="false" />
          <setting name="QUAL, PROD" value="true" />
        </settingList>
      </config>
      <config key="EnableRawQueryStorageInQueryTool">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL" value="true" />
          <setting name="PROD" value="false" />
        </settingList>
      </config>
      <config key="SaidAssetBaseUrl">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="https://saservicerest.sentry.com/" />
        </settingList>
      </config>
      <config key="QuartermasterServiceBaseUrl">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="https://quartermasterservice.sentry.com/" />
        </settingList>
      </config>
      <!-- When creating a dataflow, users must choose to associate it with a named environment. 
           Use this config setting to lock down which named environments are allowed.
           Leave the setting blank to allow any named environment.-->
      <config key="QuartermasterNamedEnvironmentTypeFilter">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST" value="" />
          <setting name="QUAL" value="NonProd" />
          <setting name="PROD" value="Prod" />
        </settingList>
      </config>
      <config key="SaidCacheExpiration">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST,QUAL,PROD" value="6,0,0" />
        </settingList>
      </config>
      <config key="LaunchDarklyUseFileDataSource">
        <settingList>
          <setting name="DEV" value="true" />
          <setting name="NRDEV,TEST,NRTEST,QUAL,PROD" value="false" />
        </settingList>
      </config>
      <config key="LaunchDarklyEnvironmentKey">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST" value="sdk-ed5ba68e-57e9-425f-b902-41734886628d" />
          <setting name="QUAL" value="sdk-6dea26fc-9169-4c86-a89f-78b93691a711" />
          <setting name="PROD" value="sdk-2c8a53e0-46a8-4b37-9753-418de81db1a2" />
        </settingList>
      </config>
      <config key="ElasticUrl">
        <settingList>
          <setting name="DEV" value="http://localhost:9200" />
          <setting name="NRDEV,TEST,NRTEST,QUAL" value="https://es-elas-qual.sentry.com:9200" />
          <setting name="PROD" value="https://es-elas-prod.sentry.com:9200" />
        </settingList>
      </config>
      <config key="ElasticIndexSchemaSearch">
        <settingList>
          <setting name="DEV,NRDEV,TEST,NRTEST" value="data-schema-column-metadata-test" />
          <setting name="QUAL,PROD" value="data-schema-column-metadata" />
		</settingList>
     </config>
		<config key="ElasticIndexFlowMetricSearch">
			<settingList>
				<setting name="DEV,NRDEV,TEST,NRTEST" value="data-flow-metrics-test"/>
				<setting name="QUAL,PROD" value="data-flow-metrics"/>
			</settingList>
		</config>
     <config key="InfrastructureEventingServiceBaseUrl">
       <settingList>
         <setting name="DEV,NRDEV" value="https://inevdev.sentry.com/" />
         <setting name="TEST,NRTEST,QUAL" value="https://inevqual.sentry.com/" />
         <setting name="PROD" value="https://inev.sentry.com/" />
       </settingList>
     </config>
    </EnvironmentSettings>
  </sentrySettings>
  <appSettings>
    <add key="ApplicationName" value="DatasetManagement"/>
    <add key="SAIDKey" value="DATA"/>
  </appSettings>
  <startup>
    <!-- ### supportedRuntime is specifed here based on examples supporting AWS S3 -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
