@model DelroyQueryModel

@* @Html.AntiForgeryToken() *@

    

    <textarea id="delroyQueryTextArea">   @Model.SnowQuery     </textarea>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnDelroyQuery" data-id="0" style="display:none">Thank You</button>
    </div>

