
@model Sentry.data.Web.DelroyQueryModel

<div class="delroyQueryView">


    @*@Html.AntiForgeryToken()*@
    
    @*this is the actual query, the white-space style here allows for the formatting*@
    <div id="delroyQueryMania" style="max-height:600px; white-space: pre-line; overflow-y: auto;  overflow-x: auto;">
        @Model.Query
    </div>
    
    @*NOTE! I had MAJOR hassle setting up an onClick event in the actual JS for this since it sits inside the Sentry javascript library for modals
    and somewhere the event is getting stolen and my onClick in the JS wouldn't fire
    my quick solution was too wire up the Onclick directly on the HTML element here which works*@
    <div class="modal-footer">
        <input id="delroyCopyClipboard" type="button" class="btn btn-warning" value="Copy to Clipboard" onclick="data.Dataset.delroyCopyClipboard()" />
    </div>

</div>