@model Sentry.data.Web.PreviewDataModel

   @{
       ViewData["Title"] = "Success";
}

        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-lg-12">
            @Html.Raw("Copy to Clipboard will copy all text unless a selection of text is made.  In this case, only the selection will be copied.")
        </div>        
        @*@Html.Display("Copy to Clipboard will copy all text unless a selection of text is made.  In this case, only the selection will be copied.")*@
        <div class="col-lg-12" id="PreviewText">
            @{
                <pre class="dataset_pre">@Model.PreviewData</pre>
            }
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="CopyToClipboard">Copy to Clipboard</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>

<script>
    $(function () {
        data.Dataset.PreviewInit();
    });
</script>
