@model DatasetModel

<h2>@ViewData["Title"]</h2>
<div></div>

<div id="DatasetFormContainer">    
     @Html.Partial("_DatasetCreateEdit", Model)
</div>

@section Scripts {
    <script>
        $(function () {
            var pageSubmit = data.Dataset.FormSubmitInit;
            var pageCancel = data.Dataset.FormCancelInit;

            data.Dataset.FormInit('@(Model.HrempServiceUrl)' , '@(Model.HrempServiceEnv)', pageSubmit, pageCancel);
        });
    </script>
}