@model HomeModel
@{ViewBag.Title = "Datasets at Sentry";}

<div id="ds-page-wrapper" class="text-center">
    <h2 id="ds-welcome-text">Welcome to the Sentry Dataset Portal. Please type below to search or choose a category.</h2>
    @{
        var category = Model.Categories.ToList();
        int c = category.Count();
        string[] colors = new string[] { "blueGray", "orange", "gold", "green", "plum", "blue", "gray" };
    }
    <div class="container">
        <div id="ds-search-wrapper" class="ds-grid col-md-12">
            <div class="row">
                @{
                    using (Html.BeginForm(@"Datasets", "Search", FormMethod.Get, new { @class = "navbar-form navbar-center", @id = "DatasetSearch" }))
                    {
                    <div id="ds-search-input-wrapper" class="input-group">
                        <span class="input-group-addon clickable ds-search-icon" onclick="$(function() {$('#SearchText').focus();});"><i class="glyphicon glyphicon-search"></i></span>

                        <input type="text" id="SearchText" name="searchPhrase" class="form-control ds-search-textbox" placeholder="Search from @Model.DatasetCount Datasets ..." />
                    </div>
                    }
                }
            </div>
        </div>
        <div id="ds-tile-wrapper" class="ds-grid col-md-12">
            @for (int i = 0; i < category.Count(); i++)
            {
                if (i % 3 == 0)
                {
                    @:<div class="row text-center">
                }
                var color = category[i].Name.ToLower() + "Tile";

                <div class="col-md-3 tile border_@colors[i] @color ">
                    <a class="" href="~/Search/Datasets/Index?category=@category[i].Name">

                        @if (String.IsNullOrWhiteSpace(category[i].AbbreviatedName))
                        {
                            <img src = "/Images/Category/@{@category[i].Name}.svg" class="ds-tile-image">
                        }
                        else
                        {
                            <img src="/Images/Category/@{@category[i].AbbreviatedName}.svg" class="ds-tile-image">
                        }
                        <div class="ds-tile-header">@category[i].Name</div>
                        <div class="ds-tile-description"></div>

                    </a>
                </div>
                if (i % 3 == 2 || i + 1 == c)
                        {
                    @:</div>
                }
            }

            <div class="row text-center">
                <div class="ds-upload-row">
                    @if (Model.CanEditDataset)
                    {
                        if (Model.DisplayDataflowMetadata)
                        {
                            <button type="button" class="btn btn-primary btn-lg ds-operation-button" id="CreateDataflow">Send Data to DSC</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-default btn-lg ds-operation-button" id="CreateDataset">
                                <span class="glyphicon glyphicon-plus text-primary"></span> Create Dataset
                            </button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
    

@section Scripts {
    <script type="text/javascript">
        $(function () {
            data.Dataset.IndexInit();
        });
    </script>
}