@model HomeModel

@{
    ViewBag.Title = "Datasets at Sentry";
}



<center>
    <h2 style="color: white; margin: 80px; text-shadow: -.1px 0 black, 0 .1px black, .1px 0 black, 0 -.1px black;">Welcome to the Sentry Dataset Portal.  Please type below to search or choose a category.</h2>
    
    @{
        var category = Model.Categories.ToList();
        int c = category.Count();
        string[] colors = new string[] { "blue", "green", "gold", "plum", "orange", "blueGray" };
    }
    <div class="container">
        <div class="ds-grid col-md-12" style="margin-bottom: 40px;">
            <div class="row">
                @{
                    var htmlAttrsObj = new { @class = "navbar-form navbar-center", @id = "DatasetSearch" };
                    var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(htmlAttrsObj);
                    using (Html.BeginForm(@"List\SearchPhrase", "Dataset", FormMethod.Get, htmlAttributes))
                    {
                        <div class="input-group dataset-search">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" id="SearchText" name="searchPhrase" class="form-control" placeholder="Search from @Model.DatasetCount datasets ..." />
                        </div>
                    }
                }
            </div>
        </div>
        <div class="ds-grid col-md-12">
            @for (int i = 0; i < c; i++)
            {
                if (i % 3 == 0)
                {
                    @:<div class="row text-center">
                }

                <div class="col-md-3 tile border_@colors[i]">
                    <a class="" href="~/Dataset/List/Index?category=@category[i]">
                        <img src="/Images/Category/@{@category[i]}.svg" class="tile-image">
                        <div class="tile-header" style="color: rgb(0, 0, 0);">@category[i]</div>
                        <div class="tile-description" style="color: rgb(0, 0, 0); max-height: 4.5em; -webkit-line-clamp: 3;">
                           
                        </div>
                    </a>
                </div>


                if (i % 3 == 2 || i + 1 == c)
                {
                    @:</div>
                }
            }

        <div class="row text-center">
            <div class="upload-row">

                @if (Model.CanEditDataset)
                {
                    <button type="button" class="btn btn-default btn-lg dataset-operation-button" id="CreateDataset">
                        <span class="glyphicon glyphicon-plus text-primary"></span> Create Dataset
                    </button>
                }

                @if (Model.CanUpload)
                {
                    <button type="button" class="btn btn-default btn-lg dataset-operation-button" id="UploadDatafile">
                        <span class="glyphicon glyphicon-cloud-upload text-primary"></span> Upload Datafile
                    </button>
                }

            </div>
        </div>
    </div>
    </div>
    <div class="imageFooter"></div>
</center>









<style>
    html {
        overflow: scroll;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0px; /* remove scrollbar space */
        background: transparent; /* optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }

    .sentry-app-version{
        display: none;
    }

    .col-md-3{
        padding: 0;
    }
    
    .dataset-operation-button {
        font-size: 20px;
    }

    .row.text-center > div {
        display: inline-block;
        float: none;
    }

    body {
        margin-top: -6px;
        background: url(../../Images/SHO_Aerial_10-4-17.png) no-repeat center center fixed;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }


    .imageFooter {
        height: 127px;
    }

    .tile{
        background: white;
        margin: 30px;
        opacity: 0.80;
    }

    .tile:hover
    {
        opacity: 0.95;
    }

        .tile a {
            height: 100%;
            width: 100%;
            display: block;
            text-decoration: none !important;

        }

    .tile-image {
        width: 100px;
        padding: 10px;
        filter: invert(100%);
        height: 115px;
    }

    .tile-header{
        font-size: 1.5em;
    }

    .tile-description{
        font-size: .8em;
        max-height: 4.5em;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;

    }

    .input-group-addon {
        cursor: pointer;
    }
</style>


@section Scripts {
    <script>
        $(function () {
            data.Dataset.IndexInit();

            $('.tile').click(function (e) {
                var storedNames = JSON.parse(localStorage.getItem("filteredIds"));

                if (storedNames != null) {
                    for (i = 0; i < storedNames.length; i++) {
                        $('#' + storedNames[i]).prop('checked', false);
                    }

                    localStorage.removeItem("filteredIds");
                }

                localStorage.removeItem("searchText");
            });

            $('#DatasetSearch').submit(function (e) {
                localStorage.removeItem("filteredIds");

                localStorage.removeItem("searchText");

                localStorage.setItem("searchText", $('#SearchText')[0].value);
            });

            $('.input-group-addon').click(function (e) {
                $('#DatasetSearch').submit();
            });
        });
    </script>
}
