@model HomeModel
@{ViewBag.Title = "Datasets at Sentry";}

<div id="ds-page-wrapper" class="text-center">
    <h4 id="ds-welcome-text">Welcome to the Sentry Dataset Portal. Please type below to search or choose a category.</h4>
    @{
        var category = Model.Categories.ToList();
    }
    <div class="container">
        <div id="ds-search-wrapper" class="ds-grid col-md-12">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    @{
                        using (Html.BeginForm(@"Datasets", "Search", FormMethod.Get, new { @class = "md-form input-group w-100", @id = "DatasetSearch" }))
                        {
                            <span class="input-group-prepend sentry-blue white-text clickable" id="SearchIconAddon" onclick="$(function() {$('#SearchText').submit();});"><em class="icon-search"></em></span>
                            <input type="text" id="SearchText" class="form-control ds-search-textbox" placeholder="Search from @Model.DatasetCount Datasets ...">
                        }
                    }
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <div id="ds-tile-wrapper" class="ds-grid col-md-12">
            @for (int i = 0; i < category.Count(); i++)
            {
                if (i % 3 == 0)
                {
                    @:<div class="row text-center d-block">
                }
                var tileName = category[i].Name.ToLower() + "Tile";
                var color = category[i].Color;

                <div class="col-md-3 tile border_@color @tileName ">
                    <a class="" href="~/Search/Datasets/Index?category=@category[i].Name">

                        @if (String.IsNullOrWhiteSpace(category[i].AbbreviatedName))
                        {
                            <img src = "/Images/Category/@{@category[i].Name}.svg" class="ds-tile-image">
                        }
                        else
                        {
                            <img src="/Images/Category/@{@category[i].AbbreviatedName}.svg" class="ds-tile-image">
                        }
                        <div class="ds-tile-header">@category[i].Name</div>
                        <div class="ds-tile-description"></div>

                    </a>
                </div>

                if (i % 3 == 2 || i + 1 == category.Count())
                {
                    @:</div>
                }
            }

            <div class="row text-center d-inline-block">
                <div class="ds-upload-row">
                    @if (Model.CanEditDataset)
                    {
                        if (Model.DisplayDataflowMetadata)
                        {
                            <button type="button" class="btn btn-primary btn-lg ds-operation-button" id="CreateDataflow">Send Data to DSC</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-default btn-lg ds-operation-button" id="CreateDataset">
                                <span class="fas fa-plus text-primary"></span> Create Dataset
                            </button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
    

@section Scripts {
    <script type="text/javascript">
        $(function () {
            data.Dataset.IndexInit();
        });
    </script>
}