@model BusinessIntelligenceHomeModel

@{
    ViewBag.Title = "Business Intelligence at Sentry";
}

<div id="bi-page-wrapper" class="text-center">
    <h4 id="bi-welcome-text">Welcome to the Sentry Business Intelligence Portal. Please type below to search or choose a category.</h4>
    
    @{
        var category = Model.Categories.ToList();
        int c = category.Count();
        string[] colors = new string[] { "blue", "green", "gold", "plum", "orange", "blueGray" };
    }

<div class="container">

    <div id="bi-search-wrapper" class="ds-grid col-md-12 ">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                @{
                    using (Html.BeginForm(@"BusinessIntelligence", "Search", FormMethod.Get, new { @class = "md-form input-group w-100", @id = "DatasetSearch" }))
                    {
                        <span class="input-group-prepend sentry-blue white-text clickable" id="SearchIconAddon" onclick="$(function() {$('#SearchText').focus();});"><em class="icon-search"></em></span>
                        <input type="text" id="SearchText" class="form-control bi-search-textbox" placeholder="Search from @Model.DatasetCount Exhibits and Dashboards ...">
                    }
                }
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div id="bi-tile-wrapper" class="ds-grid col-md-12">
        @for (int i = 0; i < c; i++)
        {
            if (i % 3 == 0)
            {
                @:<div class="row text-center d-block">
                }

                var color = "";
                //html classes should not start with numbers so prefix with underscore (_).
                long number1 = 0;
                if (long.TryParse(category[i].Name.Substring(0, 1), out number1))
                {
                    color = "_" + category[i].Name.ToLower().Replace(" ", "_") + "Tile";
                }
                else
                {
                    color = category[i].Name.ToLower().Replace(" ", "_") + "Tile";
                }

                <div class="col-md-3 tile border_@category[i].Color @color ">
                    <a class="" href="~/Search/BusinessIntelligence/Index?category=@category[i].Name">
                        <img src="/Images/Category/BusinessIntelligence/@{@category[i].Name}.svg" class="bi-tile-image">
                        <div class="bi-tile-header">@category[i].Name</div>
                        <div class="bi-tile-description"></div>
                    </a>
                </div>
                if (i % 3 == 2 || i + 1 == c)
                {
                @:</div>
            }
        }

        <div class="row text-center d-inline-block">
            <div class="bi-upload-row">
                @if (Model.CanManageReports)
                {
                    <button type="button" class="btn btn-default btn-lg bi-operation-button" id="CreateExhibit">
                        <em class="fas fa-plus pr-3 text-primary"></em> Create Exhibit
                    </button>
                }
            </div>
        </div>
    </div>
</div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            data.Report.IndexInit();
        });
    </script>
}