@model ConnectorInfoModel

<p>Connector Class: <span class="text-muted">@Model.ConnectorClass</span></p>
<p>Value Converter: <span class="text-muted">@Model.ValueConverter</span></p>
<p>Path Format: <span class="text-primary">@Model.PathFormat</span></p>
<p>Type: <span class="text-primary">@Model.Type</span></p>

