
@model Sentry.data.Web.Models.AdminPage.DataReprocessingModel
@{
    ViewBag.Title = "_AdminTest";
}
<h1>Reprocess Data Files</h1>
<!-- Data Set Dropdown Menu-->
<h3>Datasets</h3>
@Html.DropDownListFor(m => m.AllDatasets,
                      new SelectList(Model.AllDatasets, "Value", "Text"),
                      "Please select Dataset",
                      new { @class = "admin-reprocess-dropdown",
                            @style = "display: none"            })


<!-- Schema Dropdown Menu-->
<h3>Schema</h3>
<select class="mbd-select admin-reprocess-dropdown" id="schemaDropdown" style="display: none">
    <!--populated asyncronously via ajax-->
</select>

<!-- Flow Steps Dropdown Menu-->
<h3>Flow Steps</h3>
<select class="mbd-select admin-reprocess-dropdown" id="flowStepsDropdown", style="display:none">
    <option value="-1">Select a flowstep</option>
    <option value="1">Example flowstep</option>
</select>

<br />
<br />
<br />

<!--Table-->
<table id="results" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>File ID</th>
            <th>File Name</th>
            <th>Upload User Name</th>
            <th>Initial Upload Date</th>
            <th>Modified Date</th>
            <th>File Location</th>
            <!-- Replace last th with below and uncomment #selectAll event handler in admin.js to activate select all functionality-->
            <!--<input type="checkbox" id="selectAll" class="form-check-input"><label for="selectAll" class="form-check-label">Select Files</label>-->
            <th>Select Files</th>
        </tr>
    </thead>
</table>
<!--Reprocess button-->
<button type="button" class="btn btn-primary waves-effect waves-light" id="reprocessButton" disabled>Reprocess Selected</button>

<script>
    var filesToReprocess = [];
    
    $(function () {
        data.Admin.ReprocessInit();
    });


    
</script>

