<script type="text/javascript">

    $(document).ready(function () {
        data.Admin.ReprocessDeadJobs();
    });
</script>

<table id="deadJobs" aria-label="table of all dead jobs" class="table table-bordered table-hover table-striped nowrap">
    <thead>
        <tr class="table-header">
            <th>Details</th>
            <th>Actions</th>
            <th>Submission Time</th>
            <th>Dataset Name</th>
            <th>Reprocessing Required</th>
            <th>Schema Name</th>
            <th>Source Key</th>
            <th>Flow Execution Guid</th>
        </tr>
        <tr class="filter-row">
            <th></th>
            <th class="dead-job-select-all">
                <fieldset class="form-group">
                    <input type="checkbox" id="data-file-select-all" class="form-check-input">
                    <label for="data-file-select-all" class="form-check-label p-0"></label>
                </fieldset>
            </th>
            <th></th>
            <th></th>
            <th id="reprocess-filter-th">
                <select class="mdb-select" name="deadJob-reprocessing-filter" id="deadJob-reprocessing-filter">
                    <option value="">All</option>
                    <option class="text-danger" value="True">True</option>
                    <option class="text-success" value="False">False</option>
                </select>
                <label class="mdb-main-label">Reprocess Status</label>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!--Reprocess button-->
<button type="button" class="btn btn-primary waves-effect waves-light" id="reprocessButton">Reprocess Selected</button>

