@model BaseAuditModel

<script type="text/javascript">

    $(document).ready(function () {
        data.Admin.AuditTableInit();
        data.Admin.AuditReprocessButton();
    });
</script>


<table id="AuditTable" aria-label="table of all audited files" data-schema-group=1 class="display table nowrap table-striped table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th scope="col">ETL File Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AuditDataFileModel file in Model.DatafileModels)
        {
        <tr>
            <td>@file.DatasetFileName</td>
        </tr>
        }
    </tbody>
</table>