@model AuditSelectionModel
@{
    ViewBag.Title = "_AdminTest";
}
<div>
    <h1>General Rawquery/Parquet Audit</h1>
</div>


<div class="row">
    <div class="d-inline-block col-lg">
        <!-- Data Set Dropdown Menu-->
        <h3>Audit Type</h3>
        @Html.DropDownListFor(m => m.AllAuditTypes,
                              new SelectList(Model.AllAuditTypes, "Value", "Text"),
                              "Please select audit type",
                              new
                              {
                                  @class = "admin-audit-dropdown",
                                  @style = "display: none",
                                  @searchable = "Search Available Audit Types"
                              })
    </div>

    <div class="d-inline-block col">
        <!-- Data Set Dropdown Menu-->
        <h3>Search Types</h3>
        @Html.DropDownListFor(m => m.AllAuditSearchTypes,
                              new SelectList(Model.AllAuditSearchTypes, "Value", "Text"),
                              "Please select audit search type",
                              new
                              {
                                  @class = "admin-audit-dropdown",
                                  @style = "display: none",
                                  @searchable = "Search Available Search Types"
                              })
    </div>

    <div class="d-inline-block col">
        <h3>Datasets</h3>
        @Html.DropDownListFor(m => m.AllDatasets,
                              new SelectList(Model.AllDatasets, "Value", "Text"),
                              "Please select Dataset",
                              new
                              {
                                  @class = "admin-audit-dropdown",
                                  @style = "display: none",
                                  @searchable = "Search Available Datasets"
                              })

    </div>
    <!-- Schema Dropdown Menu-->
    <div class="d-inline-block col">
        <h3>Schema</h3>
        <select class="mbd-select admin-audit-dropdown" id="schemaDropdown" style="display: none">
            <option value="-1">Please Select a Schema</option>
            <!--populated asyncronously via ajax-->
        </select>
    </div>

    <div class="d-inline-block col">

    </div>
</div>

<button type="button" class="btn btn-primary waves-effect waves-light" id="auditSearchButton">Search</button>

<br />
<br />
<br />

<!--Table-->
@*<table id="auditResults" aria-label="table of all audited files" class="display table nowrap table-striped table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                <th scope="col">ETL File Name</th>
            </tr>
        </thead>
    </table>*@

<div id="AuditResultTable"></div>

<!--Reprocess button-->
<button type="button" class="btn btn-primary waves-effect waves-light" id="auditReprocessButton" disabled>Reprocess Selected</button>

<script>
    $(function () {
        data.Admin.AuditInit();
    });
</script>

