
@model List<DeadSparkJobModel>
@{
    ViewBag.Title = "_AdminTest";
}

<script>

    $(document).ready(function () {

        $("#timeCheck").click(function () {

            var time = $("#jobCreationCheck").val();

            $.ajax({
                type: "POST",
                url: "Admin/GetDeadJobs",
                data: '{timeCheck: "' + time + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (msg) {
                    $("#deadJobTable").html(msg);
                },
                error: function (req, status, error) {
                    alert("Error try again");
                }
            });
        });
    });
</script>

<!--Page Header-->
<div class="d-inline-block">
    <h1>Reprocess Dead Spark Jobs</h1>
    <input type="checkbox">
    <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="jobCreationCheck" class="sr-only">Hours in past to check</label>
            <input type="number" min="0" class="form-control" id="jobCreationCheck" placeholder="Hours in past to check">
        </div>
        <button id="timeCheck" class="btn btn-primary mb-2">Check for Dead Jobs</button>
    </div>
</div>

<br />
<br />
<br />

<!--Table-->

<div id="deadJobTable"></div>


