@model BaseAuditModel

<script type="text/javascript">

    $(document).ready(function () {
        data.Admin.RowCountCompareTableInit();
    });
</script>

<br>

<table id="AuditTable" aria-label="table of all audited files" class="display table nowrap table-striped table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">Rawquery Row Count</th>
            <th scope="col">Parquet Row Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AuditDataFileModel file in Model.DatafileModels)
        {
            <tr data-record-difference=@file.HasCountDifference class=@(file.HasCountDifference ? "text-danger": "")>
                <td>@file.DatasetFileName</td>
                <td>@file.RawqueryRowCount</td>
                <td>@file.ParquetRowCount</td>
            </tr>
        }
    </tbody>
</table>