@model BaseAuditModel

<script type="text/javascript">

    $(document).ready(function () {
        data.Admin.RowCountCompareTableInit();
    });
</script>

<div class="row">
    <div id="audit-filter-buttons" class="d-flex col justify-content-end">
        <button id="resetFilters" data-bg-class="dark" type="button" class="btn btn-outline-dark waves-effect waves-light"><i class="fas fa-redo"></i> Reset</button>
        <button id="showEqualCountResults" data-bg-class="success" type="button" class="btn btn-outline-success waves-effect waves-light"><i class="fas fa-equals"></i> Same</button>
        <button id="showNonEqualCountResults" data-bg-class="warning" type="button" class="btn btn-outline-warning waves-effect waves-light"><i class="fas fa-not-equal"></i> Diffs</button>
    </div>
</div>

<br>

<table id="AuditTable" aria-label="table of all audited files" class="display table nowrap table-striped table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">Rawquery Row Count</th>
            <th scope="col">Parquet Row Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AuditDataFileModel file in Model.DatafileModels)
        {
            <tr data-record-difference=@file.HasCountDifference data-row-count-difference=@file.HasCountDifference class=@(file.HasCountDifference ? "text-danger": "")>
                <td>@file.DatasetFileName</td>
                <td>@file.RawqueryRowCount</td>
                <td>@file.ParquetRowCount</td>
            </tr>
        }
    </tbody>
</table>