@model Sentry.data.Web.BaseEntityModel

<div>

    @Html.HiddenFor(model => model.TagIds)

    <div class="md-form">
        <span class="control-label">Tags</span>
        <select id="TagSelector" style="width: 100%"></select>
    </div>

    <div class="md-form fieldDescription row">
        <span class="text-muted col">
            <em>We recommend that you limit the amount of Tags to five.</em>
        </span>
        <button id="addNewTagBtn" onclick="return false;" type="button" style="float: right;" class="btn-success btn"><span class="fas fa-plus"></span> Add New Tag</button>

    </div>


</div>
