@* Keep in mind that ALL errors encountered bubble up into here!  This includes any "normal" page's error as well as an ajax
    call (used by modal dialogs).  When ajax calls get into here, the exception is logged, and then the ajax's error method
    is called, and typically shows the user a simply JS alert saying there was an error. *@

@{
    ViewData["Title"] = "Error";
    Response.TrySkipIisCustomErrors =true;

@*Log the exception*@
    LoggerHelper.LogWebException(ViewData.Model.Exception, System.Web.HttpContext.Current);
}

<div class="sentry-error-container">
    <br /><br />
    <em class="fa fa-exclamation-triangle fa-3x text-danger"></em><br />
    <span class="sentry-error-code">ERROR 500</span>

    <br /><br />
    <span class="sentry-error-title">Danger! Danger!</span><br />
    <span class="sentry-error-title-descr">(Server Error)</span>
    <br /><br /><br />
    Something went terribly wrong!<br />
    We apologize for the inconvenience.<br />
    If you need assistance,
    please contact the <a href="mailto:supportcenter@sentry.com">Support Center</a>.
</div>
