@{
    ViewData["Title"] = "Forbidden";
}

@*This Forbidden page is triggered by explicit permissions checks coded into controllers*@
<div class="sentry-error-container">
    <br /><br />
    <em class="fa fa-exclamation-triangle fa-3x text-danger"></em><br />
    <span class="sentry-error-code">data.sentry.com permission needed</span>
    <br /><br />
    <span class="sentry-error-title">Oops!</span><br />
    <span class="sentry-error-title-descr">(permission)</span>
    <br /><br /><br />
    Unfortunately you are not allowed to view this page.<br />
    Please <a class="forbiddenHero" target="_blank" href="http://sharepoint.sentry.com/it/DataArch/Shared%20Documents/Data.Sentry.com/099.%20DSC%20Site%20Documents/SiteAccess.docx?Web=1">click here</a> or go to our help menu above to find out how to get access through <a class="forbiddenHero" target="_blank" href="https://myaccess.sentry.com">My Access</a>.
</div>

