
@{
    ViewData["Title"] = "Page Not Found";
    HttpContext.Current.Response.StatusCode = 404;
}

<div class="sentry-error-container">
    <br /><br />
    <em class="fa fa-exclamation-triangle fa-3x text-danger"></em><br />
    <span class="sentry-error-code">ERROR 404</span>
    <br /><br />
    <span class="sentry-error-title">Oops!</span><br />
    <span class="sentry-error-title-descr">(missing page)</span>
    <br /><br /><br />
    The page you&rsquo;re looking for could not be found.
    If you believe something is incorrect,<br />
    please contact the <a href="mailto:DSCSupport@sentry.com">Data.Sentry.com Administrators</a>.
</div>
