@model Sentry.data.Web.NotificationAccessRequestModel
@{
    ViewBag.Title = "Request Dataset Access";
}

@using (Html.BeginForm("SubmitAccessRequest", "Notification", FormMethod.Post, new { @id = "AccessRequestForm" }))
{
    @Html.AntiForgeryToken()

    <div class="accessRequestModelText" style="width:auto">
        <p>A short delay in permission implementation can be expected as Sentry service management system (external to DSC) is used for approvals.</p>
    </div>
    <br />

    <div class="accessRequestErrorBox" id="AccessRequesrErrorBox" style="display:none">

    </div>

    <div class="form-horizontal">

        <div class="md-form">
            <label class="mdb-main-label" for="SecurableObjectId">Notification Area</label>
            @Html.DropDownListFor((model) => model.SecurableObjectId, Model.AllSecurableObjects, new { @class = "mdb-select" })
        </div>


        @Html.Partial("_AccessRequest",Model)

    </div>
}