@model Sentry.data.Web.NotificationAccessRequestModel
@{
    ViewBag.Title = "Request Dataset Access";
}

@using (Html.BeginForm("SubmitAccessRequest", "Notification", FormMethod.Post, new { @id = "AccessRequestForm" }))
{
    @Html.AntiForgeryToken()

    <div class="accessRequestModelText" style="width:auto">
        <p>Data Asset permission requests will utilize HPSM for approval.  Due to this process, a short delay in permission implementation can be expected.</p>
    </div>
    <br />

    <div class="accessRequestErrorBox" id="AccessRequesrErrorBox" style="display:none">

    </div>


        <div class="form-group">
            <label class="col-md-2 control-label">Notification Area</label>
            <div class="col-md-10">
                @Html.DropDownListFor((model) => model.SecurableObjectId, Model.AllDataAssets, new { @class = "form-control edit-dataset-row" })
            </div>
        </div>


    @Html.RenderPartial(Model);
}