@using Sentry.data.Web;
@model DaleSearchModel

@{
    ViewBag.Title = "Data Inventory";
    ViewBag.Fluid = true;
}

<!-- Top Search Row -->
<div class="row di-horizontal-center">
    <div class="di-search-head">
        <div class="di-head-item"><img src="~/Images/Dale/DataInventoryIcon.png" class="di-img leftFloat" /></div>
        <div class="di-head-item"><h1 class="htCenter datasetHeader">Data Inventory</h1></div>

        <div id="di-search-box" class="has-feedback has-feedback-left">
            <input class="form-control searchTextDS text-box single-line" type="text" id="inventorySearchText" placeholder="Search Data Inventory" value="@Model.Criteria" />
            <i class="form-control-feedback glyphicon glyphicon-search clickable" data-bind="click: {}"></i>
            <i class="form-control-feedback fa fa-circle-o-notch fa-spin hidden"></i>
        </div>
    </div>
</div>

<!-- Body Row -->
<div class="row di-body">
    <!-- Left Pane - Filters -->
    <div class="hidden-xs hidden-sm col-md-3" id="search-pg-filters">
        <div id="filterColumn">
            <!-- ko foreach: AllFilters -->
            @* category header *@
            <div class="panel panel-default dataset-list-filters">
                <div class="panel-heading filterHead" data-bind="attr: { id: HeadId }">
                    <span class="filterCategoryName" data-bind="text : Name"></span>
                    <span class="glyphicon glyphicon-chevron-down rightFloat filterViewIcon" data-bind="attr: { id: HeadIcon }"></span>
                </div>

                @* foreach of the category filters *@
                <div class="dataset-list-filter-category panel-body" data-bind="attr: {id : HeadHide }" style="display: none;">
                    <!-- ko if: (OrderedFilters().length > 0) -->
                    <ul class="list-unstyled ul-filter-list">
                        <!-- ko if: !ShowMore -->
                        <!-- ko foreach: OrderedFilters() -->
                        <li class="list-unstyled li-filter-disabled filterList" data-bind="css: { notAllowed: Count() == 0 }">
                            <label data-bind="attr: { id: id }">
                                <input type="checkbox" class="filterChbx" data-bind="value: id, checked: window.vm.SelectedFilters, attr: { id: id, disabled: Count() == 0 }" />
                                <strong data-bind="text : Title"></strong>
                                <span class="filter-tile-count">(<!--ko text: Count()--><!--/ko-->)</span>
                            </label>
                        </li>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: ShowMore -->
                        <!-- ko foreach: OrderedFilters() -->
                        <li class="list-unstyled li-filter-disabled filterList" data-bind="visible: $index() < 6, css: { notAllowed: Count() == 0 }">
                            <label data-bind="attr: { id: id }">
                                <input type="checkbox" class="filterChbx" data-bind="value: id, checked: window.vm.SelectedFilters, attr: { id: id, disabled: Count() == 0 }" />
                                <strong data-bind="text : Title"></strong>
                                <span class="filter-tile-count">(<!--ko text: Count()--><!--/ko-->)</span>
                            </label>
                        </li>
                        <!-- /ko -->

                        <li data-bind="attr: {id : HiddenMore}">
                            <!-- ko foreach: OrderedFilters() -->
                            <ul class="notNested">
                                <li class="list-unstyled li-filter-disabled filterList" data-bind="visible: $index() >= 6, css: { notAllowed: Count() == 0 }">
                                    <label data-bind="attr: { id: id }">
                                        <input type="checkbox" class="filterChbx" data-bind="value: id, checked: window.vm.SelectedFilters, attr: { id: id, disabled: Count() == 0 }" />
                                        <strong data-bind="text : Title"></strong>
                                        <span class="filter-tile-count">(<!--ko text: Count()--><!--/ko-->)</span>
                                    </label>
                                </li>
                            </ul>
                            <!-- /ko -->
                        </li>
                        <!-- /ko -->

                    </ul>
                    <!-- /ko -->
                    <!-- ko if: (OrderedFilters().length > 6 && ShowMore) -->
                    <a href="#" class="filterMore" data-bind="attr: { id:  HiddenId}">
                        <div class="glyphicon glyphicon-plus-sign inlineBlock moreIcon leftFloat" data-bind="attr : {id : IconMore}"></div>
                        <div class="leftFloat txt_filterMore" data-bind="attr: {id: TxtMore}">Show More</div>
                    </a>
                    <!-- /ko -->

                </div>
            </div>

            <!-- /ko -->
        </div>
    </div>

    <!-- Body - Active Filters & Results -->
    <div class="col-xs-12 col-md-9">
        <div class="sentry-spinner-container vertCenter">
            <span class="sentry-spinner"></span>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">

        $(function () { data.DataInventory.init(); });

    </script>
}