/// <reference path="../variables.scss" />

// Buttons
.btn {
    &:not(.dropdown-toggle-split) {
        padding-left: 40px;
        padding-right: 40px;
    }

    font-size: 17px;
    font-weight: bold;
    border-radius: 0 !important;

    &:disabled, &:disabled:hover {
        background-color: $sentry-gray-tint-10 !important;
        color: #848484 !important;
    }

    & + .dropdown-toggle-split {
        padding-right: 0.5625rem;
        padding-left: 0.5625rem;
    }
}

.btn-icon {
    padding-left: 30px;
    padding-right: 30px;
}

.btn.btn-lg {
    font-size: 17px;
}

.btn i {
    margin-right: 5px;
}

.file-field {
    .btn {
        line-height: 1rem;
        font-size: 1rem;
    }
}

.btn-primary {
    &:hover,
    &:focus,
    &:active {
        background-color: lighten( $primary, 5%) !important;
    }

    &.active {
        background-color: darken( $primary, 20%) !important;
        @extend .z-depth-1-half;
    }
}

.btn-default {
    background-color: transparent !important;
    color: $secondary !important;

    &:hover,
    &:focus,
    &:active {
        background-color: $secondary !important;
        color: $sentry-white !important;
    }

    &.active {
        background-color: $secondary !important;
        color: $sentry-white !important;
        @extend .z-depth-1-half;
    }
}

.btn-success {
    &:hover,
    &:focus,
    &:active {
        background-color: lighten( $success, 2%) !important;
    }

    &.active {
        background-color: darken( $success, 20%) !important;
        @extend .z-depth-1-half;
    }
}

.btn-info {
    &:hover,
    &:focus {
        background-color: lighten( $info, 5%) !important;
    }

    &.active {
        background-color: darken( $info, 20%) !important;
        @extend .z-depth-1-half;
    }
}

.btn-warning {
    &:hover,
    &:focus {
        background-color: lighten( $warning, 6%) !important;
    }

    &.active {
        background-color: darken( $warning, 20%) !important;
        @extend .z-depth-1-half;
    }
}

.btn-danger {
    &:hover,
    &:focus {
        background-color: lighten( $danger, 3%) !important;
    }

    &.active {
        background-color: darken( $danger, 15%) !important;
        @extend .z-depth-1-half;
    }
}
