/// <reference path="variables.scss" />

.card {
    &.form-wrapper {
        background-color: $sentry-blue-tint-5;
        border-top: 4px solid $sentry-blue;
        border-radius: 0;

        .md-form, .mdb-select {
            .form-control,
            .form-control:focus,
            .select-wrapper,
            .md-textarea,
            .form-group [type="radio"]:not(:checked) + label:before,
            .form-group [type="radio"]:not(:checked) + label:after {
                background-color: white;
            }
        }
    }

    &.panel {
        box-shadow: 0 0 0 0;
        border-top: 4px solid $sentry-blue;
        border-bottom: 2px solid $sentry-gray-tint-10;
    }
}
