.picker__box .picker__header {
    .picker__nav--prev:before, .picker__nav--next:before {
        content: " ";
        border-top: .5em solid transparent;
        border-bottom: .5em solid transparent;
        border-right: 0.75em solid #676767;
        width: 0;
        height: 0;
        display: block;
        margin: 0 auto;
    }

    .picker__nav--prev:before {
        padding-right: 0.3em;
    }

    .picker__nav--next:before {
        border-right: 0;
        border-left: 0.75em solid #676767;
    }
}
