@import "../variables.scss";

.sentry-header.navbar {
    $header-min-height: 65px;
    $header-padding-y: 0.5rem;

    border-bottom: 4px solid $sentry-dark-blue;
    min-height: $header-min-height;
    padding-top: $header-padding-y;
    padding-bottom: $header-padding-y;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0;

    &.navbar-light {
        background-color: $sentry-white;
    }

    &.navbar-dark {
        background-color: $sentry-dark-blue;
    }

    @media (max-width: 500px) {
        padding-left: 10px;
        padding-right: 10px;
    }


    .navbar-brand {
        align-self: auto;

        @media (max-width: 500px) {
            display: none;
        }

        .sentry-logo {
            height: 45px;
        }
    }

    .sentry-app-title {
        margin-left: 65px;
        align-self: flex-end;

        @media (max-width: 500px) {
            margin-left: 0;
        }

        h1 {
            font-size: 30px;
            line-height: 1em;
            font-weight: bold;
            margin: 0;
            padding-top: 0;

            @media (max-width: 767px) {
                font-size: 20px;
            }
        }

        p {
            font-size: 17px;
            line-height: 25px;
            color: #000000;
            margin: 0;

            @media (max-width: 767px) {
                font-size: 17px;
            }
        }
    }

    .right-buttons {
        min-height: $header-min-height;
        margin-left: auto;
        position: relative;

        .sentry-user-dropdown {
            margin-top: -$header-padding-y;
            color: $sentry-white;

            .sentry-user {
                margin: 0;
                padding: 8px 10px;
                font-size: 14px;
                text-transform: none;

                &::after {
                    border: none;
                }
            }
        }

        .sentry-environment {
            position: absolute;
            bottom: -4px;
            right: 0;
            font-size: 24px;
            padding: 0 10px;
            position: absolute;
            font-weight: bold;
            margin: 0;
            cursor: default;
        }
    }
}

.sentry-nav.navbar {
    padding-top: .5rem;
    padding-bottom: .5rem;
}